@import '~Styles/_imports.scss';
// @import '~Styles/vendor/font-awesome/fontawesome.scss';

.Login {
  position: absolute;
  left: 0;

  width: 100%;
  height: 100%;

  text-align: center;
}

.Login__panel {
  position: absolute;
  z-index: index($elements, login);

  @include flex(center, column);
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;

  background: $jet;
  background: linear-gradient($jet, $azure);
}

.Login__button {
  align-self: center;

  width: 300px;
  height: 50px;

  border: 1px solid $white;

  font-size: 24px;
}

.Login__button--loading,
.Login__button--loading:disabled,
.Login__button--loading:focus,
.Login__button--loading:hover{
  position: relative;

  align-self: center;

  width: 300px;
  height: 50px;

  cursor: auto;

  border: 1px solid $white;
  background: $azure;

  font-size: 24px;

  .Code__loading{
    bottom: 9px;
  }
}

.Login__logo {
  width: 75%;
  max-width: 700px;
  margin-top: -10%;
  padding: 100px;

  background: url('~Images/logos/gigantum-white-logo.svg') no-repeat 50% 50%;
  background-size: 500px;
}

.LoginError {
  width: 500px;
  height: 200px;
  margin: 30px auto;

  color: $crimson;
}

.Login__error {
  height: 100%;

  @include flex(space-around, column);
}

.Login__error-type {
  align-items: center;

  font-size: 22px;

  @include flex(center, row);
}

.Login__error-exclamation {
  margin-right: 10px;

  // @extend .fa;
  // @extend .fa-exclamation-circle;
}

.Login__error-unauthorized {
  margin-top: -100px;

  color: $lightGrey;

  font-size: 20px;

  a {
    color: $lightBlue;
  }
}
