@import '~Styles/_imports.scss';

.File__row{
    height: 50px;
    padding: 12px 0;
    padding-left: 10px;


    border-bottom: 1px solid $romanSilver;

    @include flex(space-between, row);
}

.File__cell{

  @include flex(flex-start, row);

  &--name{
      margin: 0 20px;
      flex: 1;
  }

  &--size{
      width: 100px;
  }

  &--date{
      width: 140px;
  }

  &--menu{
    width: 140px;
  }

}

.File__text{
  flex: 1;
  text-align: left;
}

.File__icon{
    margin-right: 5px
}

.File__btn{

    width: 20px;
    height: 20px;
    margin: 0 0 0 20px;
    padding: 0;

    border: none;
    background: url('~Images/icons/check-unselected.svg') no-repeat 50% 50% !important;
    background-size: 26px !important;

    &:hover {
        border: none;
        background: $azure url('~Images/icons/check-selected.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
    }

    &:focus {
        border: none;
        background: url('~Images/icons/check-unselected.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
    }

    &--selected {
        border: none;
        background: $azure url('~Images/icons/check-selected.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
    }

    &--selected:hover {
        border: none;
        background: url('~Images/icons/check-unselected.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
    }

    &--selected:focus {
        border: none;
        background: $azure url('~Images/icons/check-selected.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
    }

    &--incomplete {
        background: $azure url('~Images/icons/action-null.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
        border: 1px solid red;
    }

    &--incomplete:hover {
        background: url('~Images/icons/check-selected.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
        border: none;
    }

    &--incomplete:focus {
        background: $azure url('~Images/icons/action-null.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
        border: none;
    }

}

.File__icon{
    align-self: center;
}
