@import '~Styles/_imports.scss';

.File__row{
    position: relative;

    height: 50px;
    padding: 12px 0;
    padding-left: 5%;
    position: relative;
}

.File__icon{
    margin-right: 5px
}

.File__size{
    position: absolute;
    right: 400px;
}

.File__date{
    position: absolute;
    right: 200px;
}

.File__btn{
    position: absolute;
    left: 0;

    width: 20px;
    height: 20px;
    padding: 0;

    border: none;
    background: url('~Images/icons/check-unselected.svg') no-repeat 50% 50% !important;
    background-size: 26px !important;

    &:hover {
        border: none;
        background: $azure url('~Images/icons/check-selected.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
    }

    &:focus {
        border: none;
        background: url('~Images/icons/check-unselected.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
    }

    &--selected {
        border: none;
        background: $azure url('~Images/icons/check-selected.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
    }

    &--selected:hover {
        border: none;
        background: url('~Images/icons/check-unselected.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
    }

    &--selected:focus {
        border: none;
        background: $azure url('~Images/icons/check-selected.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
    }

    &--incomplete {
        background: $azure url('~Images/icons/action-null.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
        border: 1px solid red;
    }

    &--incomplete:hover {
        background: url('~Images/icons/check-selected.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
        border: none;
    }

    &--incomplete:focus {
        background: $azure url('~Images/icons/action-null.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
        border: none;
    }

}

.File__icon{
    align-self: center;
}
