@import '~Styles/_imports.scss';

.Folder__row{
    position: relative;

    height: 50px;
    padding: 12px 0;
    padding-left: 5%;

    cursor: pointer;

    border-bottom: 1px solid $romanSilver;

    @include flex(flex-start, row);

    &--expanded{
        border-bottom: none;
    }

    &:hover {
        background-color: $background-color;
    }
}


.Folder__icon{
    margin-right: 5px
}

.Folder__size{
    position: absolute;
    right: 400px;
}

.Folder__date{
    position: absolute;
    right: 200px;
}


.Folder__btn{
    position: absolute;
    left: 0;

    width: 20px;
    height: 20px;
    padding: 0;

    border: none;
    background: url('~Images/icons/check-unselected.svg') no-repeat 50% 50% !important;
    background-size: 26px !important;

    &:hover {
        border: none;
        background: $azure url('~Images/icons/check-selected.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
    }

    &:focus {
        background: url('~Images/icons/check-unselected.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
        border: none;
    }

    &--selected {
        border: none;
        background: $azure url('~Images/icons/check-selected.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
    }

    &--selected:hover {
        border: none;
        background: url('~Images/icons/check-unselected.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
    }

    &--selected:focus {
        background: $azure url('~Images/icons/check-selected.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
        border: none;
    }

    &--incomplete {
        background: $azure url('~Images/icons/action-null.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
        border: none;
    }

    &--incomplete:hover {
        background: url('~Images/icons/check-selected.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
        border: none;
    }

    &--incomplete:focus {
        background: $azure url('~Images/icons/action-null.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
        border: none;
    }
}

.Folder__child{
    margin-left: 20px;
}

.Folder__subfolder{
    height: 50px;
    padding: 12px 0;

    text-align: left;

    background: $background-color;
}
