@import '~Styles/_imports.scss';

.AddSecret {
  padding: 20px 50px 30px 50px;
  border: 1px solid $grey-border;
}

.AddSecret__form {
   margin-bottom: 20px;
}
.AddSecret__input[type="text"] {
  margin: 0px;
}

.AddSecrets__btn {
  width: 100px;
}

.AddSecrets__h6 {
  &--width-190 {
    width: 190px;
  }

  &--width-120 {
    width: 120px;
  }
}

.AddSecrets__paragraph {
  &--error {
    margin: 5px;
    flex: 1;
  }
}

.AddSecret__label {
  line-height: 31px;
}
.AddSecret__label-container{
  margin-right: 100px;
}
