// animations mixin
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@keyframes slide-left-fade-in{
  0% {
      opacity:0;
      transform:  translate(120px,0px)  ;
  }
  100% {
      opacity:1;
      transform:  translate(0px,0px)  ;
  }
}

@keyframes fade-in {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@keyframes fade-in-out {
    0%, 100% { opacity: 0 }
    10%, 90% { opacity: 1 }
}

@keyframes slide-up-fade-in{
  0% {
      opacity:0;
      transform:  translate(0px,40px)  ;
  }
  100% {
      opacity:1;
      transform:  translate(0px,0px)  ;
  }
}

@keyframes slide-down-fade-in{
  0% {
      opacity:0;
      transform:  translate(0px,-10px)  ;
  }
  100% {
      opacity:1;
      transform:  translate(0px,0px)  ;
  }
}

@keyframes delayed-fade-in{
  0% { opacity:0; }
  75% { opacity:0; }
  100% { opacity:1; }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@keyframes expand-ring {
  0% {
    opacity: 1;
  }
  12% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);

    opacity: 0.8;
  }
  22% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);

    opacity: 0;
  }
}
