html, body, .root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $jet;
  font-family: 'NunitoSans', arial;
}

.root.no-overflow{
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $background-color;
  font-size: $body-fontsize;
}

a {
  color: $azure;
  text-decoration: underline;
}

a:hover {
  color: $turquise;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0px 0;
  margin: 20px 0;
  font-weight: 100;
}
h6 {
  padding: 0px 0;
  margin: 0;
  font-weight: 100;
}

ul {
  margin: 0;
}

h1 { font-size: $h1-fontsize; line-height: 110%;}
h2 { font-size: $h2-fontsize; line-height: 110%;}
h3 { font-size: $h3-fontsize; line-height: 110%;}
h4 { font-size: $h4-fontsize; line-height: 110%;}
h5 { font-size: $h5-fontsize; line-height: 110%;}
h6 { font-size: $h6-fontsize; line-height: 110%;}

h1, h2 {
  color: $jet;
}

h3, h4, h5, h6 {
  color: $mineShaft;
}

h1 {
  font-weight: 100;
}

h2, h5, h6 {
  font-weight: 300;
}

h3, h4 {
  font-weight: 600;
}

p, a{
  font-size: $body-fontsize;
}

li > code,
p > code {
  display: inline !important;
  padding: 0px 3px !important;
  white-space: pre-wrap !important;
}
ul {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

li {
  display: block;
}

table {
  width: 100%;
}
