.light {
  font-weight: 100;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 400;
}

.error {
  color: $crimson;
}

/*
  display: flex, none, block
*/

.box-shadow {
  box-shadow: 0 0px 12px 0 rgba(0,0,0,.10);
}

.box-shadow-50 {
  box-shadow: 0 0px 12px 0 rgba(0,0,0,.50);
}

.flex {
  display: flex;
}

.hidden {
  display: none !important;
}

.visibility-hidden{
  visibility: hidden;
}

.visible {
  display: block;
}

/*
  justify-content
*/

.justify--center {
    justify-content: center;
}

.justify--left {
    justify-content: flex-start;
}

.justify--right {
    justify-content: flex-end;
}

.justify--space-around {
    justify-content: space-around;
}

.justify--space-between {
    justify-content: space-between;
}


/*
  flex: 0 0 auto, 1 0 auto, 0 1 auto, 1 1 auto
*/

.flex-0-0-auto {
  flex: 0 0 auto;
}

.flex-1-0-auto {
  flex: 1 0 auto;
}

.flex-1-0-auto {
  flex: 1 0 auto;
}

.flex-1-1-auto {
  flex: 1 1 auto;
}

.flex-1 {
  flex: 1;
}

/*
  flex-direction: row, row-reverse, column, column-reverse
*/

.flex--row {
    flex-direction: row;
}

.flex--row-reverse {
    flex-direction: row-reverse;
}

.flex--column {
    flex-direction: column;
}

.flex--column-reverse {
    flex-direction: column-reverse;
}

/*
  flex-wrap: nowrap, wrap, wrap-reverse
*/

.flex--nowrap {
    flex-wrap: nowrap;
}

.flex--wrap {
    flex-wrap: wrap;
}

.flex--wrap-reverse {
    flex-wrap: wrap-reverse;
}

.flex--column-reverse {
    flex-wrap: column-reverse;
}

.align-items--center {
  align-items: center;
}

/*
  .text-align: center, left, right
*/

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/*
  visibility visible hidden
*/

.visibility-hidden {
  visibility: hidden;
}

.visibility-visible {
  visibility: visible;
}

.tabs-list {
  @include flex(flex-start, row);
  border-bottom: 1px solid $romanSilver;
}

.tab {
  cursor: pointer;
  margin: 0 0 -1px 15px;
  padding: 5px 10px;
  border-top: 1px solid $grey;
  border-right: 1px solid $grey;
  border-left: 1px solid $grey;
  border-bottom: 1px solid $romanSilver;
  color: $romanSilver;
  font-size: 20px;
  height: 40px;
  width: 100px;
}

.tab--selected {
  border-bottom: 1px solid $white;
  border-top: 1px solid $romanSilver;
  border-left: 1px solid $romanSilver;
  border-right: 1px solid $romanSilver;
}

.blur {
  pointer-events: none;
  filter: blur(5px);
}

@keyframes slide-left-fade-in{
  0% {
      opacity:0;
      transform:  translate(40px,0px)  ;
  }
  100% {
      opacity:1;
      transform:  translate(0px,0px)  ;
  }
}

@keyframes fade-in{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes slide-up-fade-in{
  0% {
      opacity:0;
      transform:  translate(0px,40px)  ;
  }
  100% {
      opacity:1;
      transform:  translate(0px,0px)  ;
  }
}

@keyframes slide-down-fade-in{
  0% {
      opacity:0;
      transform:  translate(0px,-10px)  ;
  }
  100% {
      opacity:1;
      transform:  translate(0px,0px)  ;
  }
}

@keyframes delayed-fade-in{
  0% { opacity:0; }
  75% { opacity:0; }
  100% { opacity:1; }
}
