/*******************
*
*  color palette
*
*********************/
/*********************
*
* primary colors
*
**********************/
$turquise: #1ad8c1;
$slateBlue: #364454;
$jet: #1f2733;
$azure: #007ea8;
$slateBlueOpaque: rgba(54,68,84, 0.6);
/*********************
*
* seconday colors
*
**********************/
$crimson: #ef2231;
$goldenLemon: #fcd430;

$romanSilver: #9b9c9e;
$grey: #b9babc;
$lightGrey: #f3f5f7;
$lightBlue: #97c0d5;
$tintBlue: #007fa4;
$backgroundGrey: rgb(196, 199, 201);
$lightblue: #74a4bc;
$selected-blue: #53667C;
$mineShaft: #4A4A4A;
$orange: rgb(236, 128, 11);


/***********************
*
* temporary colors
*
***********************/

$grey-light: rgb(244,244,244);
$grey-background: rgb(227,225,226);
$grey-border: #E3E4E5;
$font-grey: #9c9b9b;
$dark-blue: #334156;
$background-color: rgb(240, 241, 245);
$fileBrowserHover: #edf8fc;



$white: #fefefe;

/*********************
*
* z-index
*
* z-index: index($elements, labbookHeader)
*
***********************/
$elements: basic, psuedoCard, card, fixedDate, date, button,labbookHeader, sideBar, headerStrip, veil, popup, head, modalCoverNested, loader, modalCover, modal, footer, helper, login, prompt;

$footerElements: basic, progressBar, status, section, message, button;
/*********************
*
* font sizes
*
***********************/
$h1-fontsize: 40px !default;
$h2-fontsize: 26px !default;
$h3-fontsize: 22px !default;
$h4-fontsize: 18px !default;
$h5-fontsize: 18px !default;
$h6-fontsize: 16px !default;
$body-fontsize: 14px !default;
/*****************************
*
* width
*
********************************/

$sideBarWidth: 140px;
