/*******************
*
*  color palette
*
*********************/
/*********************
*
* primary colors
*
**********************/
$turquise: #1ad8c1;
$slateBlue: #364454;
$jet: #1f2733;
$azure: #007ea8;
$slateBlueOpaque: rgba(54,68,84, 0.6);
/*********************
*
* seconday colors
*
**********************/
$crimson: #ef2231;
$goldenLemon: #fcd430;

$romanSilver: #9b9c9e;
$grey: #b9babc;
$lightGrey: #f3f5f7;
$lightBlue: #97c0d5;
$tintBlue: #007fa4;
$backgroundGrey: rgb(196, 199, 201);
$lightblue: #74a4bc;
$selected-blue: #53667C;
$darkGrey: #4A4A4A;


/***********************
*
* temporary colors
*
***********************/

$grey-light: rgb(244,244,244);
$grey-background: rgb(227,225,226);
$grey-border: #E3E4E5;
$font-grey: #9c9b9b;
$dark-blue: #334156;
$background-color: rgb(240, 241, 245);
$fileBrowserHover: #edf8fc;



$white: #fefefe;

/*********************
*
* z-index
*
* z-index: index($elements, labbookHeader)
*
***********************/
$elements: basic, psuedoCard, card, fixedDate, date, button, sideBar, headerStrip, veil, popup, head, modalCoverNested, labbookHeader, footer, loader, helper, modalCover, modal, login, prompt;

/*********************
*
* font sizes
*
***********************/
$h1-fontsize: 4.2rem !default;
$h2-fontsize: 3.56rem !default;
$h3-fontsize: 2.92rem !default;
$h4-fontsize: 2.28rem !default;
$h5-fontsize: 1.64rem !default;
$h6-fontsize: 1rem !default;

/*****************************
*
* width
*
********************************/

$sideBarWidth: 140px;
