@import '../../node_modules/normalize-sass/normalize';
@import '../../node_modules/simplemde/dist/simplemde.min.css';

@import 'vendor/fileIcons/fileIcons.scss';
@import 'vendor/font-awesome/fontawesome.scss';
@import 'vendor/carousel.scss';

//generic
@import '_variables';
@import '_mixins';
@import '_utilities';
@import '_fonts';
@import '_base';
@import '_grid';
//atoms
@import 'atoms/button.scss';
@import 'atoms/loader.scss';
@import 'atoms/download.scss';
@import 'atoms/_input-text.scss';
@import 'atoms/textarea.scss';
@import 'atoms/table.scss';
@import 'atoms/_radio-button.scss';
@import 'atoms/card.scss';
@import 'atoms/containerStatus.scss';

//shared components
@import 'components/shared/sideBar';
@import 'components/shared/prompt';
@import 'components/shared/loader';
@import 'components/shared/buttonLoader';
@import 'components/shared/user';
@import 'components/shared/header';
@import 'components/shared/helper';
@import 'components/shared/tooltip';
@import 'components/shared/componentError';
  //footer
@import 'components/shared/footer/footer';
@import 'components/shared/footer/footerNotificationList';
@import 'components/shared/footer/footerUploadBar';
//root
@import 'components/routes.scss';
@import 'components/login.scss';
@import 'components/home.scss';
//labbook components
@import 'components/labbook/dataBrowser.scss';
//wizard components
@import 'components/wizard/wizardModal';
@import 'components/wizard/selectBase';
@import 'components/wizard/createLabbook';
@import 'components/wizard/baseDetails';
@import 'components/wizard/trackingToggle';

body * {
  font-family: "NunitoSans";
}

body .fa {
  font-family: "Font Awesome 5 Free";
}

.modal__cover{
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: $white;
  animation: fade-in-modal forwards .25s;
  opacity: 0.5;
  z-index: index($elements, modalCover);
}

@keyframes fade-in-modal{
  0% {
    opacity:0;
  }
  100% {
    opacity:0.5;
  }
}

.rendered-react-keyed-file-browser{
  width: 100%;
}

.btn{
  background-color: $slateBlue;
  border-radius: 20px;
  font-weight: 100;
}
.btn:hover{
  background-color: #8ea4b2;
}

code {
  color: $slateBlue !important;
  background: $background-color !important;
}

.demo-header{
  position: fixed;
  color: $white;
  height: 50px;
  width: 100%;
  padding: 13px 0 13px 165px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 100;
  z-index: index($elements, head);
  background: url('./../images/logos/horizontal-divider-line.svg') no-repeat center center;
  white-space: nowrap;
  top: 0;
  text-align: left;
  background-size: cover;
  z-index: index($elements, loader);
  a,
  a:visited{
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    color: white;
  }
}



.yt-lightbox{
  width: 100%;
  height: 100%;
  background: $slateBlueOpaque;
  position: fixed;
  z-index: index($elements, modal);

}

.yt-frame{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Tooltip-data {

  position: relative;

  cursor: pointer;

  font-weight: bolder;
  &:hover::before{
    position: absolute;
    top: calc(100% - 0px);
    left: calc(50% - 5px);

    content: "";

    border-width: 10px;

    @include triangle('up', 7px, $slateBlue);
  }

  &:hover::after{
    font-family: 'NunitoSans';
    position: absolute;
    top: calc(100% + 7px);
    left: calc(50% - 70px);

    width: 140px;
    min-width: 100px;
    margin: 0;
    padding: 10px;

    content: attr(data-tooltip);
    word-wrap: normal;
    word-break: break-word;
    line-height: 18px;

    color: $white;
    background: $slateBlue;

    font-size: 14px !important;
    font-weight: 100 !important;

    @extend .box-shadow;
  }

  &--right:hover::before {
    top: calc(50% - 7px);
    left: calc(100% + 2px);

    @include triangle('left', 7px, $slateBlue);
  }


  &--right:hover::after {
    top: calc(50% - 10px);
    left: calc(100% + 16px);
  }
}

.Tooltip-Listing{
  position: relative;
  font-weight: bolder;
  cursor: pointer;

  &:hover::after{
    content: attr(data-tooltip);
    @extend .box-shadow;
    position: absolute;
    min-width: 100px;
    font-weight: 100;
    line-height: 1.3em;
    font-size: 16px;
    margin: 0;
    background: $azure;
    color: $white;
    padding: 5px;
    border-radius: 5px;
    right: 40px;
    bottom: 10px;
    z-index: 1;
    font-size: .7em;
  }
}
