.ButtonLoader{
  border: 2px solid $azure;
  transition: all 0.5s;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.ButtonLoader--loading,
.ButtonLoader--loading:focus,
.ButtonLoader--loading:hover,
.ButtonLoader--loading:disabled{
  border: 2px solid $romanSilver !important;;
  height: 24px;
  width: 24px;
  padding: 0px;
  background: transparent !important;
  color: transparent;
  border-radius: 12px;
  border-left: 2px solid $azure !important;
  animation: spin 1s infinite linear;
}

.ButtonLoader--finished,
.ButtonLoader--finished:focus,
.ButtonLoader--finished:hover,
.ButtonLoader--finished:disabled{
  border: 2px solid $azure;
  height: 24px;
  width: 24px;
  padding: 0px;
  background: none !important;
  background-color: $azure !important;
  color: $white;
  border-radius: 12px;
}


.ButtonLoader--error,
.ButtonLoader--error:hover,
.ButtonLoader--error:focus,
.ButtonLoader--error:disabled{
  border: 2px solid $crimson !important;;
  height: 24px;
  width: 24px;
  padding: 0px;
  color: transparent !important;
  border-radius: 12px;
  background: $crimson url(../images/icons/close-white.svg) no-repeat 50% 50% !important;;
  background-size: 14px;
}
