.Helper__button {
  transition: all 0.25s;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: $azure url('../images/icons/help/helper.svg') no-repeat center center;
  background-size: 60px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  z-index: index($elements, helper);
}

.Helper__button--side-view{
  bottom: 20px;
  width: 40px;
  height: 40px;
  border-radius: 20px 0 0 20px !important;
  right: 0px;
  background: $azure url('../images/icons/help/helper-simple.svg') no-repeat center center;
  background-size: 26px;
}

.Helper__button--open{
  transition: all 0.25s;
  background: url('../images/icons/help/helper-close.svg') no-repeat center center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: 50px;
  z-index: index($elements, helper);
  cursor: pointer;
  bottom: 232px;
  right: 9px;
}

.Helper__button--bottom{
  bottom: 50px;
}

.Helper_menu.hidden{
  transition: all 0.5s;
  right: 0;
}

.Helper__menu{
  animation: slide-up-fade-in forwards .25s;
  width: 200px;
  height: auto;
  position: fixed;
  bottom: 0;
  right: 20px;
  border-radius: 10px 10px 0 0;
  background: $azure;
  color: $white;
  z-index: index($elements, helper) - 1;
  padding: 10px;
  @include flex(center, column);
}

.Helper__menu-docs{
  background: url('../images/icons/docs.svg') no-repeat 15px center;
  padding: 15px;
  width: 100%;
  @include flex(space-between, row);
  div {
    border-radius: 0;
    width: 25px;
    height: 25px;
    padding-left: 25px;
    background: url('../images/icons/offsite.svg') no-repeat center center;
    background-size: 20px;
  }
  h5 {
    margin: 5px 10px;
    font-weight: 100;
    font-size: 16px;
    color: $white;
    user-select: none;
    padding-left: 25px;
  }
  border-bottom: 1px dashed $white;
  cursor: pointer;
}

.Helper__menu-docs:hover{
  background: $turquise url('../images/icons/docs.svg') no-repeat 15px center;
}

.Helper__menu-discussion{
  background: url('../images/icons/discuss.svg') no-repeat 15px center;
  padding: 15px;
  width: 100%;
  @include flex(space-between, row);
  div {
    border-radius: 0;
    width: 25px;
    height: 25px;
    background: url('../images/icons/offsite.svg') no-repeat center center;
    background-size: 20px;

  }
  h5 {
    margin: 5px 10px;
    font-weight: 100;
    font-size: 16px;
    color: $white;
    user-select: none;
    padding-left: 25px;
  }
  border-bottom: 1px dashed $white;
  cursor: pointer;
}

.Helper__menu-discussion:hover{
  background: $turquise url('../images/icons/discuss.svg') no-repeat 15px center;
}


.Helper__menu-guide{
  background: url('../images/icons/guide.svg') no-repeat 15px center;
  padding: 15px;
  width: 100%;
  @include flex(space-between, row);
  h5 {
    margin: 5px 10px;
    font-weight: 100;
    font-size: 16px;
    color: $white;
    user-select: none;
    padding-left: 25px;
  }
}

.Helper-guide-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
  input {
    display: none;
  }
  .Helper-guide-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $azure;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    border: 2px solid $white;
  }
  .Helper-guide-slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  input:checked + .Helper-guide-slider {
    background: url('../images/icons/check.svg') no-repeat -2px center;
    background-size: 30px;
    border: 2px solid $goldenLemon;
  }
  input:focus + .Helper-guide-slider {
    box-shadow: 0 0 1px $slateBlueOpaque;
  }
  input:checked + .Helper-guide-slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    background-color: $goldenLemon
  }
}

.Helper__menu-feedback{
  background: url('../images/icons/feedback.svg') no-repeat 15px center;
  padding: 15px;
  width: 100%;
  @include flex(space-between, row);
  div {
    border-radius: 0;
    width: 25px;
    height: 25px;
    background: url('../images/icons/offsite.svg') no-repeat center center;
    background-size: 20px;

  }
  h5 {
    margin: 5px 10px;
    font-weight: 100;
    font-size: 16px;
    color: $white;
    user-select: none;
    padding-left: 25px;
  }
  border-bottom: 1px dashed $white;
  cursor: pointer;
}

.Helper__menu-feedback:hover{
  background: $turquise url('../images/icons/feedback.svg') no-repeat 15px center;
}
.Helper__prompt{
  position: fixed;
  bottom: 268px;
  right: 100px;
  z-index: index($elements, popup);
  padding: 20px;

  border-radius: 8px;

  width: 500px;

  color: $romanSilver;
  background: $white;
  word-wrap: break-word;
  box-shadow: 0 0px 12px 0 rgba(0,0,0,.20);
  text-align: center;
}
.Helper__prompt-pointer{
  bottom: 254px;
  right: 134px;
  position: fixed;
  z-index: index($elements, popup) + 1;
  @include triangle('down', 14px, $white);

}