.SideBar {
  position: fixed;
  z-index: index($elements, sideBar);
  top: 10px;

  height: 100%;
  border-top: 1px solid $white;
  background: $jet;
  background: linear-gradient($jet, $azure);
  width: $sideBarWidth;
}

.SideBar.is-demo {
  top: 60px;
}

.SideBar__logo {
  max-width: 80%;
  height: 30px;
  width: 120px;
  margin: 10px auto;
  background: url(../images/logos/gigantum-white-logo.svg) no-repeat 50% 50%;
  background-size: 100%;

}

.SideBar__inner-container {
  width: 100%;
  height: 100%;
  @include flex(flex-start, column);
}

.SideBar__title {
  color: $white;
}

.SideBar__list-item {
  width: 100%;
  position: relative;

  &:hover:after{
    animation: 1s ease 0s normal forwards 1 delayed-fade-in;
    text-align: center;
    content: attr(data-tooltip);
    width: 100px;
    position: absolute;
    min-width: 100px;
    font-weight: 100;
    line-height: 1.3em;
    font-size: 16px;
    margin: 0;
    background: $azure;
    color: $white;
    padding: 5px;
    border-radius: 5px;
    left: 21px;
    bottom: -38px;
    z-index: 1;
    font-size: .7em;
  }
}

.SideBar__list-item--selected {
  @extend .SideBar__list-item;
}

.SideBar__list-item--selected:after {
}

.SideBar__nav {
  align-items: center;
  height: 50%;
  @include flex(flex-start, column);
}

.SideBar__nav-item {
  align-content: center;

  width: 80px;
  height: 120px;
  color: $white;
  margin: 0 auto;

  border-radius: 20px;

  font-size: 16px;
  line-height: 30px;
  text-align: center;

  @include flex(center, column)
}

.SideBar__nav-item--selected {
  color: $turquise;
}

.SideBar__nav-item--datasets {
  align-items: center;
  text-decoration: none !important;
  &:hover .SideBar__icon--datasets {
    background: url('../images/icons/datasets-selected.svg') no-repeat center center;
    background-size: 40px;
  }
}

.SideBar__nav-item--labbooks {
  align-items: center;
  text-decoration: none !important;
  &:hover .SideBar__icon--labbooks {
    background: url('../images/icons/labbooks-selected.svg') no-repeat center center;
    background-size: 40px;
  }
}

.SideBar__icon {
  height: 55px;
  width: 60px;
  margin: 0 2px;
  align-items: center;
  position: relative;
}

.SideBar__icon--datasets {
  background: url('../images/icons/datasets.svg') no-repeat center center;
  background-size: 40px;
}

.SideBar__icon--datasets-selected:before,
.SideBar__icon--labbooks-selected:before,{
    content: "";
    position: absolute;
    background: $turquise;
    width: 5px;
    height: 55px;
    right: -40px;
    margin-top: 7px;
}


.SideBar__icon--datasets-selected,
.SideBar__icon--datasets:hover,{
  background: url('../images/icons/datasets-selected.svg') no-repeat center center;
  background-size: 40px;
}

.SideBar__icon--labbooks {
  background: url('../images/icons/labbooks.svg') no-repeat center center;
  background-size: 40px;
}

.SideBar__icon--labbooks-selected,
.SideBar__icon--labbooks:hover {
  background: url('../images/icons/labbooks-selected.svg') no-repeat center center;
  background-size: 40px;
}

.SideBar__button {
  background-color: none;
  border: 1px solid $white;
  color: $white;
}

.SideBar__button:hover {
  background-color: $white;
  border: 1px solid $white;
  border-width: 0px;
  color: $azure;
}

.SideBar__button--logout {
  position: absolute;
  top: 20px;
}
