.ToolTip {
  position: relative;
}

.ToolTip__toggle{
  width: 15px;
  height: 15px;
  background: url('../images/icons/feature.svg') no-repeat center center;
  background-size: 30px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  transition: all 0.125s;
}
.ToolTip__toggle:hover,
.ToolTip__toggle.active{
  transform: scale(1.3);
}

.ToolTip__message{
  color: $jet;
  font-weight: 400;
  line-height: 22px;
  white-space: pre-line;
  font-size: 15px;
  position: absolute;
  background: $white;
  z-index: index($elements, popup);
  padding: 15px;
  border-radius: 8px;
  @extend .box-shadow;
  width: 350px;
  text-align: center;
  animation: slide-down-fade-in forwards .25s;
  user-select: none;
  word-break: normal;
}

.ToolTip__pointer{
  position: absolute;
  z-index: index($elements, popup) + 1;
  animation: slide-down-fade-in forwards .25s;
  @include triangle('up', 14px, $white);
}

.ToolTip__glow-ring-outer {
  position: absolute;
  top: 50%;
  left: 50%;
}

.ToolTip__glow-ring-inner {
  position: absolute;
  width: 15px;
  height: 15px;
  margin-left: -8px;
  margin-top: -8px;
  border: 2px solid #FCD430;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  opacity: 0;
  -moz-animation: expand-ring 2s 0s ease-out infinite;
  -webkit-animation: expand-ring 2s 0s ease-out infinite;
  animation: expand-ring 2s 0s ease-out infinite;
  -webkit-animation: expand-ring 2s 0s ease-out infinite;
  pointer-events: none;
}

@keyframes expand-ring {
  0% {
    opacity: 1;
  }
  12% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    opacity: 0.8;
  }
  22% {
    opacity: 0.6;
  }
  100% {
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    opacity: 0;
  }
}

.ToolTip.recentActivity,
.ToolTip.readMe,
.ToolTip.environmentOverview,
.ToolTip.codeOverview,
.ToolTip.inputDataOverview,
.ToolTip.outputDataOverview,
.ToolTip.baseEnvironment,
.ToolTip.packagesEnvironment,
.ToolTip.dockerInstructionsEnvironment,
.ToolTip.codeFiles,
.ToolTip.codeBrowser,
.ToolTip.inputDataFiles,
.ToolTip.inputDataBrowser,
.ToolTip.outputDataFiles,
.ToolTip.outputDataBrowser{
  .ToolTip__toggle{
    top: -20px;
    right: -20px;
  }
  .ToolTip__pointer{
    top: -1px;
    right: -27px;
  }
  .ToolTip__message{
    top: 11px;
    right: -268px;
  }
}

.ToolTip.containerStatus{
  .ToolTip__toggle{
    right: -12px;
    top: -23px;
  }
  .ToolTip__pointer{
    right: -18px;
    top: -6px;
  }
  .ToolTip__message{
    right: -20px;
    top: 5px;
  }
}

.ToolTip.descriptionOverview{
  .ToolTip__toggle{
    top: -58px;
    right: -18px;
  }
  .ToolTip__pointer{
    right: -24px;
    top: -40px;
  }
  .ToolTip__message{
    right: -50px;
    top: -26px;
  }
}

.ToolTip.branchView{
  .ToolTip__toggle{
    bottom: 13px;
    right: 12px;
  }
  .ToolTip__pointer{
    bottom: -6px;
    right: 5px;
  }
  .ToolTip__message{
    right: -78px;
    top: 61px;
  }
}

.ToolTip.actionMenu{
  .ToolTip__toggle{
    right: 46px;
    top: 27px;
  }
  .ToolTip__pointer{
    right: 40px;
    top: 48px;
  }
  .ToolTip__message{
    right: -7px;
    top: 62px;
  }
}

.ToolTip.actionMenu.isSticky{
  .ToolTip__toggle{
    right: 21px;
  }
  .ToolTip__pointer{
    right: 15px;
  }
}

.ToolTip.userNote{
  .ToolTip__toggle{
    top: calc(50% - 7.5px);
    left: 7px;
  }
  .ToolTip__pointer{
    top: 39px;
    left: 0;
  }
  .ToolTip__message{
    top: 51px;
    left: -7px;
  }
}

.ToolTip.activitySubmenu{
  .ToolTip__toggle{
    top: calc(50% - 7.5px);
    left: 7px;
  }
  .ToolTip__pointer{
    top: calc(50% + 13px);
    left: 0;
  }
  .ToolTip__message{
    top: calc(50% + 21px);
    left: -7px;
  }
}

.ToolTip.activityCluster{
  .ToolTip__toggle{
    top: 6px;
    left: 583px;
    z-index: index($elements, popup);
  }
  .ToolTip__pointer{
    top: 24px;
    left: 576px;
  }
  .ToolTip__message{
    top: 38px;
    left: 446px;
  }
}

.ToolTip.labbookListing{
  .ToolTip__toggle{
    right: 20px;
    bottom: 60px;
  }
  .ToolTip__pointer{
    right: 14px;
    bottom: 38px;
  }
  .ToolTip__message{
    top: -38px;
    left: 10px;
  }
}

.ToolTip.dataSets{
  .ToolTip__toggle{
    right: 20px;
    bottom: 60px;
  }
  .ToolTip__pointer{
    right: 14px;
    bottom: 38px;
  }
  .ToolTip__message{
    bottom: -35px;
    left: 10px;
  }
}

.ToolTip.createLabbook,
.ToolTip.importLabbook{
  .ToolTip__toggle{
    right: 0;
    bottom: 25px;
  }
  .ToolTip__pointer{
    @include triangle('left', 14px, $white);
    right: -30px;
    bottom: 18px;
  }
  .ToolTip__message{
    left: 300px;
    top: -100px;
  }
}

.ToolTip.cloudLocal{
  .ToolTip__pointer{
    top: 20px;
    left: -7px;
  }
  .ToolTip__message{
    top: 33px;
    left: -100px;
  }
}
