.User {
  height: 200px;
  width: 100%;
  position: relative;
  background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 9px);
  padding: 20px 0;
  @include flex(flex-start, column);
}

.User__image {
  height: 60px;
  width: 60px;
  align-self: center;

  background: url(../images/icons/user.svg) no-repeat 50% 50%;
  background-size: 100%;
}

.User__name {
  height: 30px;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  align-self: center;
  padding: 5px 20px 5px 0;
  color: $white;
  background: url('./../images/icons/down-arrow-white.svg') no-repeat center right;
  background-size: 16px;
  cursor: pointer;

}

.User__name--active {
  @extend .User__name;
  background: url('./../images/icons/up-arrow-white.svg') no-repeat center right;
    background-size: 16px;
}

.User__dropdown {
  border: 1px solid $white;
  margin: auto;
  width: 100px;
  padding: 5px;
  border-radius: 8px;
  @include flex(space-between, column)
}


.User__button {
  align-self: center;
  color: $white;
  border-radius: 0px;
  padding: 5px;
  background-color: transparent !important;
  border-width: 0px;
  font-weight: 100;
}

.User__button:hover {
  text-decoration: none;
  color: $turquise;
  border-width: 0px;
}
