@import '~Styles/_imports.scss';

.Rollback{
  position: relative;
  z-index: index($elements, card + 1);

  width: auto;
  max-width: 200px;
  height: 30px;

  &--locked {
    width: 40px;
    height: 10px;
    margin: 0 0 20px;

    .Rollback__button {
      top: 2px !important;
      left: 36px !important;
      line-height: 1em !important;
    }
  }
}


.Rollback__button{
  position: relative;
  z-index: 3;
  top: 2px;
  left: 36px;

  overflow: hidden;

  width: 12px !important;
  height: 12px;
  padding: 0;
  margin: 0;

  cursor: pointer;
  transition: all 0.125s ease;
  text-align: center;

  color: $primary;
  border-color: $primary;
  border-radius: 15px;
  background-color: $primary;
  background-size: 20px;

  &:hover{
    top: -5px;
    left: 25px;

    width: 110px !important;
    height: 26px !important;
    padding: 0px 2px 2px 30px;

    color: $white;
    border-color: $primary;
    background: $primary url('~Images/icons/menu-rollback.svg') no-repeat 2px center !important;

    line-height: 24px;
  }

  &:disabled{
    color: $backgroundGrey;
    background-color: $backgroundGrey;
  }

  &:hover:disabled{
    top: 2px;

    width: 12px !important;
    height: 12px !important;
    padding: 0px;

    color: $backgroundGrey;
    border-color: $backgroundGrey;
    background: $backgroundGrey !important;
  }
}
