@import '~Styles/_imports.scss';

.Datasets {
  width: auto;
  min-width: 760px;
  max-width: 1285px;
  height: 100%;
  margin: auto;
  padding: 0 25px;
}

.Datasets--demo{
  margin-top: 100px;
}

/*******************
Dataset__nav end
********************/

.Datasets__username {
  margin: 20px 0 10px 0;
  padding: 0;

}

.Datasets__title-add {
  position: absolute;

  width: 20px;
  height: 20px;

  transition: all 0.3s;

  border-width: 0px;
  border-radius: 12px;
  background: $azure url('~Images/icons/add.svg') no-repeat center center;
  background-size: 12px;

}


.Datasets__title:hover {
  .Datasets__title-add {
    opacity: 1;
  }
}

.Datasets__subheader {
  position: relative;
  margin-top: 20px;
}

.Datasets__search-container{
  align-self: flex-end;
  position: relative;
}

.Datasets__search-cancel{
  position: absolute;
  height: 24px;
  width: 24px;
  top: 2px;
  right: 40px;
  background: url('~Images/icons/close.svg') no-repeat center center;
  background-size: 24px;
  cursor: pointer;
}

.Datasets__search-cancel--text{
  color: $romanSilver;
  position: absolute;
  right: 68px;
  top: 4px;
  text-align: right;
}

.Datasets__dataset-header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 125px;
  padding-top: 20px;
}

.Datasets__dataset-header {
  position: relative;

  width: 100%;
  height: 100%;

  @include flex(center, column)
}


.Datasets__fetch-error {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;

  font-size: 24px;
}

.Datasets__no-results{
  color: $romanSilver;
  width: 100%;
  text-align: center;
  margin-top: 150px;
}

.Datasets__h3{
  font-weight: 100;
  font-size: 36px;
  margin-bottom: 10px;
}

.Datasets__paragraph--margin{
  margin-top: 10px;
}

.Datasets__span{
  font-weight: 100;
  cursor: pointer;
  text-decoration: underline;
}

.Datasets__listing {
  overflow: visible;

  height: calc(100% - 90px);
  @include flex(flex-start, row);
}

@media screen and (max-width: 1440px) and (min-width: 1124px) {
  .Datasets__search-container {
    width: auto;
  }
}
