@import '~Styles/_imports.scss';

.BaseDetails {
  height: 360px;

  h6 {
    font-weight: 400;
    padding: 2px 0;
  }
}

.BaseDetails__base {
  border: 1px solid $romanSilver;
  margin: 10px 0 0 0;
  padding: 15px;
  height: 340px;
  overflow: auto;
  @include flex(space-around, row);
  flex-wrap: wrap;
}

.Base__image-details {
  min-width: 200px;
  max-width: 200px;
  @include flex(flex-start, row);

  img {
    min-width: 50px;
    height: 50px;
    margin: 10px;
  }
}

.Base__image-text {
  padding: 0 15px;

  flex: 1;
}

.Base__image-info {
  @include flex(flex-start, row);

  .Base__image-languages,
  .Base__image-tools,
  .Base__images-packages {
    width: calc(33% - 10px);
    margin: 5px 5px;
  }
}

.Base__image-packages-table {
  width: 100%;
}

.BaseDetails__table {
  margin: 10px;
}
