@import '~Styles/_imports.scss';

.WizardModal {
  height: 100%;
}

.WizardModal__actions {
  @include flex(space-between, row);
  align-items: center;
  flex-wrap: nowrap;
}

.WizardModal__buttons {
  @include flex(flex-end, row);
  width: 350px;
}

.WizardModal__modalWrap-enter {
  opacity: 0.01;
}

.WizardModal__modalWrap-enter.WizardModal__modalWrap-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}


.WizardModal__modal-inner-container {
    height: calc(100% - 40px);
    padding: 20px;
}

.WizardModal__title {
  color: $jet;
  text-align: center;
}

.WizardModal__modal-close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  @include close();
}

.WizardModal__progress{
    margin-top: 25px;
    width: 100%;
}

.WizardModal__progress-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li{
      flex: 1 0 auto;
      border-top: 2px solid $azure;
      text-align: center;
      padding: 2px;
      height: 4px;
      margin: 0 2px;
      font-size: 12px;
    }

    li.selected {
      border-top: 6px solid $azure;
    }
}

.WizardModal__progress-button {
  margin: 0 10px;
}
