@import '~Styles/_imports.scss';

.Footer__container {
    position: relative;
}

.Footer {
    position: fixed;
    z-index: index($elements, footer);
    right: 280px;
    bottom: 0;
    left: $sideBarWidth;

    transition: height 0.5s;

    color: $white;

    font-weight: 100;

    @include flex(space-between, column);
    max-height: 75vh;

    &--expand {
      height: auto;
    }

    &--expand-extra {
        max-height: 240px !important;
    }
    &--uploading{
      margin-bottom: 40px;
    }
}

.Footer__disc-button {
    position: fixed;
    z-index: index($elements, helper);
    right: 95px;
    bottom: 25px;

    width: 60px;
    height: 60px;

    cursor: pointer;
    transition: all 0.25s, right 0s;
    border-radius: 50%;
    background: $azure url('~Images/icons/notifications/notification.svg') no-repeat center center;
    background-size: 60px;
    @include boxShadow();

    &--open {
        position: absolute;
        top: -20px;
        right: 0px;

        width: 40px;
        height: 40px;

        background: $azure url(~Images/icons/notifications/notification-close.svg) no-repeat center center;
        background-size: 40px;
        border-radius: 50%;
    }

    &--bottom {
      bottom: 50px;
    }

    &--side-view {
      bottom: 80px;
      width: 40px;
      height: 40px;
      border-radius: 20px 0 0 20px;
      right: 0px;
      transition: bottom 0.25s;
      background: $azure url('~Images/icons/notifications/notification-simple.svg') no-repeat center center;
      background-size: 26px;

      &.Footer__disc-button--helper-open{
        right: 0px;
        bottom: 295px;
      }
    }

    &.Footer__disc-button--helper-open{
      right: 240px;
    }

    &--open {
      &.Footer__disc-button--helper-open{
        right: 0px;
      }
    }
}

.Footer__status {
  &--error {
    background-color: $crimson;
  }

  &--warning {
    color: $jet;
    background-color: $goldenLemon;
  }
}

.Footer {
  .Btn--feature {
      position: absolute;
      z-index: index($footerElements, button);
      top: -20px;
      right: 70px;
  }
}
