@import '~Styles/_imports.scss';
.FooterUploadBar {
  &--status {
    position: fixed;
    left: 140px;
    bottom: 0;
    right: 0;
    width: calc(100% - 140px);
    height: 40px;

    text-align: center;

    background: $slateBlue;
  }

  &--error {
    .Footer__progress-bar {
      display: none;
    }
  }
}

.FooterUploadBar__message {
  position: absolute;
  z-index: index($footerElements, message);

  width: 100%;
  height: 100%;

  text-align: center;

  line-height: 42px;
}


.Footer__close {
  position: absolute;
  z-index: 8;
  right: 10px;
  bottom: 0px;

  width: 40px;
  height: 40px;

  cursor: pointer;

  background: url('~Images/icons/close-white.svg') no-repeat center center;
  background-size: 16px;

  &:hover {
    background: url('~Images/icons/close-turquise.svg') no-repeat center center;
    background-size: 16px;
  }
}

.FooterUploadBar__progressBar {
  position: absolute;
  z-index: index($footerElements, progressBar);
  top: 0;
  left: 0;

  width: 0%;
  height: 100%;



  color: $white !important;
  background-color: $secondary;

  &--animation {
     transition: width 1s, opacity 1s;
  }
}
