@import '~Styles/_imports.scss';

.Footer__messageContainer {
    position: relative;
    z-index: index($footerElements, section);

    padding: 20px 0 0 0;

    width: 100%;
    margin: 0 20px;

    transition: height 0.25s, max-height 0.25s, opacity 0.1s, width 0.25s;
    text-align: left;

    border-top: 4px solid #00487c;
    border-radius: 8px 8px 0 0;
    background: $azure;

    @include boxShadow();

    &--collapsed{
        border-width: 0;
        padding: 0;
    }
}


.Footer__messageList {
    overflow-x: hidden;
    overflow-y: auto;

    max-height: 75vh;
    height: auto;
    min-height: 80px;
    padding: 0 20px;

    transition: height 0.25s, max-height 0.25s, opacity 0.25s;

    opacity: 1;

    &--collapsed {
        overflow: hidden;

        height: 0px !important;
        min-height: 0px !important;

        opacity: 0 !important;
    }

    &::-webkit-scrollbar {
      	width: 8px;

      	background-color: rgba(255,255,255,0.5);
    }

    &::-webkit-scrollbar-thumb {
      	background-color: #fff;
    }
}
