@import '~Styles/_imports.scss';

.Navigation {
  position: relative;
  transition: 0.5s all;
  margin: 15px 0 0 0;
}

@media screen and (max-width: 1000px) and (min-width: 0px) {
  .Navigation .Tabs{
    width: calc(100% - 20px);
  }
  .Tab {
    margin: 0 12.5px;
  }
}
