.Dashboard {
  height: 100%;
}

.Dashboard__view {
  width: 100%;
  height: calc(100% - 200px);
}

.Dashboard__nav {
  width: 300px;

  list-style: none;

  font-size: 22px;
  font-weight: 200;
}

.Dashboard__nav-item {
  cursor: pointer;

  color: $jet;
}

.Dashboard__nav-item.selected {
  text-decoration: underline;
}
