.Labbooks {
  width: auto;
  min-width: 760px;
  max-width: 1285px;
  height: 100%;
  margin: auto;
  padding: 0 25px;
}
.Labbooks.is-demo{
  margin-top: 100px;
}

/*******************
Labbook__nav start
********************/
.Labbooks__nav {
  position: relative;

  white-space: nowrap;

  border-bottom: 1px solid $grey;

  li {
    padding: 0 30px;

    text-align: center;

    a {
      display: inline-block;

      margin: 0;
      padding: .75rem 0;

      cursor: pointer;
      text-decoration: none;

      color: $jet;
    }

    a:hover {
      color: $selected-blue;
    }
  }

  li.selected a {
    position: relative;
    bottom: -4px;

    color: $selected-blue;

    line-height: 15px;
  }

  @for $i from 0 through 2 {
    li.Labbooks__nav-item--#{$i}:hover ~ hr {
      @if $i == 0 {
        width: 50px;
        margin-left: 25px;
      }
      @if $i == 1 {
        width: 90px;
        margin-left: 105px;
      }
    }

    .Labbooks__navigation-slider--#{$i} {
      position: absolute;
      bottom: 0;

      height: 3px;
      margin: 0;

      transition: .1s ease-in-out;
      pointer-events: none;

      border: none;
      background: $turquise;
      @if $i == 0 {
        width: 50px;
        margin-left: 25px;
      }
      @if $i == 1 {
        width: 90px;
        margin-left: 105px;
      }
    }
  }
}

/*******************
Labbook__nav end
********************/
.Labbooks__rename-modal {
  padding: 20px;

  @include modal(300px, 400px);
  @include flex(space-between, column)
}

.Labbooks__rename-error {
  color: $azure;
}

.Labbooks__modal-title {
  margin-top: 0px;
  padding: 10px;

  text-align: center;

  color: $azure;
  border-bottom: 1px solid $azure;

}

.Labbooks__rename-close {
  @include close();
}

.Labbooks__labbooks {
  overflow-x: hidden;
  overflow-y: auto;

  height: calc(100% - 90px);

  @include flex(center, row);
}

.Labbooks__edit-button {
  width: 30px;
  height: 30px;
  padding: 5px;

  color: $romanSilver;
  border: 0px;
  background: url('./../images/icons/edit.svg') no-repeat center center;
  background-size: 22px;

  font-size: 14px;
  font-weight: 100;
}

.Labbooks__title-row {
    @include flex(space-between, row);
}

.Labbooks__title-bar {
  margin: 0 80px 0 0px;
}

.Labbooks__title {
  position: relative;

  width: 280px;
  margin: 20px 0px;
  padding: 0;

  cursor: pointer;

  color: $jet;
}

.Labbooks__username {
  margin: 20px 0 10px 0;
  padding: 0;

}


.Labbooks__file-system {
  padding: 0 0 0 3px;

  cursor: pointer;
  text-decoration: underline;

  color: $lightBlue;

  font-size: 16px;
}


.Labbooks__title-add {
  position: absolute;

  width: 20px;
  height: 20px;

  transition: all 0.3s;

  border-width: 0px;
  border-radius: 12px;
  background: $azure url('../images/icons/add.svg') no-repeat center center;
  background-size: 12px;

}

.Labbooks__import {
  position: relative;

  width: 120px;
  padding: 20px 40px 0;

  cursor: pointer;

  color: $azure;
}


.Labbooks__title:hover {
  .Labbooks__title-add {
    opacity: 1;
  }
}


.Labbooks__panel {
  position: relative;

  height: 300px;
  padding: 0 1px 1px 1px;

  cursor: pointer;
  transition: box-shadow 0.5s;
  text-align: center;
  word-break: break-all;

  color: $jet;
  background: $white;
  background-size: 50px;

  line-height: 50px;

  @extend .card;

  &:empty {
    height: 0;

    border: 0;
  };
}

.Labbooks__panel:hover {
  transition: box-shadow 0.5s;

  box-shadow: 0 0px 12px 0 rgba(0,0,0,.50);
}

.Labbooks__panel--add {
  align-items: center;

  height: 300px !important;

  cursor: auto;

  color: $lightBlue;

  @include flex(center, column);


  .Labbooks__labbook-icon {

    .Labbooks__title-add {
      top: 95px;
      left: 57px;

      width: 20px;
      height: 20px;

      border: 0px solid $romanSilver;
      border-radius: 15px;
    }
  }

  .Labbooks__add-text {
    h4 {
      width: 70%;
      margin: 0;
      margin-left: 10px;
      padding: 5px 0;

      white-space: nowrap;

      font-size: 28px;
      font-weight: 300;
    }
  }

  p {
    margin: 0;
    padding: 0px 0;
  }
}


.Labbooks__panel--import {
  padding: 0px;
}


.Labbooks__panel:before,
.Labbooks__panel:after {
  padding: 0 10px;
}

.Labbooks__description{
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;

  max-height: 130px;

  white-space: pre-line;
  text-overflow: ellipsis;
  word-break: initial;
  line-height: 20px;

  -webkit-line-clamp: 6;
  line-clamp: 6;
  box-orient: vertical;
}

.Labbooks__icon-row {
  height: 68px;
  padding: 20px 20px 10px;

  @include flex(space-between, row);
}

.Labbooks__labbook-icon {
  width: 50px;
  height: 50px;
  margin: 0 10px 0 -10px;

  transition: 0.25s all;

  opacity: 0.4;
  background: url('../images/icons/labbooks-blue.svg') no-repeat center center;
  background-size: 50px;
}

.Labbooks__text-row {
  flex: 1;

  height: 100px;
  padding: 10px 20px;

  text-align: left;

  h4{
    padding: 0px;

    font-size: 22px;
  }

  p{
    color: $romanSilver;

    font-size: 14px;
  }
}

.Labbooks__info-row {
  height: 80px;
  padding: 10px 20px;

  color: $romanSilver;

  font-size: 12px;
}
.Labbooks__owner {
  height: 20px;
  margin: 2px;

  line-height: 20px;
}
.Labbooks__owner-icon {
  align-content: center;
  align-self: center;

  width: 20px;
  height: 20px;
  margin: 0 4px;

  background: url('../images/icons/user.svg') no-repeat center center;
  background-size: 20px;
}

.Labbooks__next-button-container {
  text-align: center;
}

.Labbooks__containerStatus {
  width: 100%;

  color: white;

  font-weight: 100;

  @include flex(flex-end, row);
}

.Labbooks__containerStatus--state {
  z-index: index($elements, button);

  width: 141px;
  height: 31px;
  padding: 0 10px 0 0;

  cursor: pointer;
  transition: height 0.5s, width 0.5s, box-shadow 0.5s;
  text-align: center;

  color: $romanSilver;
  border: 2px solid rgba(0,0,0,0);
  border-radius: 20px;

  font-size: 16px;
  line-height: 26px;

  @extend .box-shadow;
  @extend .box-shadow;
}
.Labbooks__containerStatus--state,
.Labbooks__containerStatus--state:hover,
.Labbooks__containerStatus--state:focus{
  color: $romanSilver;
  background-color: transparent !important;
}

.Labbooks__containerStatus--state.Stopped {
  transition: box-shadow 0.5s;

  border: 3px solid $romanSilver;
  background: $background-color url('./../images/icons/stop.svg') no-repeat 90% center;
  background-size: 20px;

  @extend .box-shadow;
}

.Labbooks__containerStatus--state.Stopped:hover {
  transition: box-shadow 0.5s;

  border: 3px solid $turquise;
  background: $background-color url('./../images/icons/run.svg') no-repeat 90% center;
  background-size: 20px;
  box-shadow: 0 0px 12px 0 rgba(0, 0, 0, 0.5);

}

.Labbooks__containerStatus--state.Running {
  transition: box-shadow 0.5s;

  border: 3px solid $turquise;
  background: $background-color url('./../images/icons/run.svg') no-repeat 90% center;
  background-size: 20px;
}

.Labbooks__containerStatus--state.Running:hover {
  transition: box-shadow 0.5s;

  border: 3px solid $romanSilver;
  background: $background-color url('./../images/icons/stop.svg') no-repeat 90% center;
  background-size: 20px;
  box-shadow: 0 0px 12px 0 rgba(0, 0, 0, 0.5);
}

.Labbooks__containerStatus--state.Building,
.Labbooks__containerStatus--state.Stopping,
.Labbooks__containerStatus--state.Starting {
  border: 3px solid $goldenLemon;
}

.Labbooks__containerStatus--state.Starting {
  transition: box-shadow 0.5s;

  opacity: 0.75;
  border: 3px solid $goldenLemon;
  background: none;
}

.Labbooks__containerStatus--state.Stopping {
  transition: box-shadow 0.5s;

  opacity: 0.75;
  border: 3px solid $goldenLemon;
  background: none;
}

.Labbooks__containerStatus--state.Building{
  transition: box-shadow 0.5s;

  border: 3px solid $goldenLemon;
  background-size: 20px;
}

.Labbooks__containerStatus--state.Rebuild{
  padding: 0 15px 0 0;

  cursor: pointer;

  border: 3px solid $goldenLemon;
  background: $background-color url('./../images/icons/button-build.svg') no-repeat 85% center;
  background-size: 20px;
}

.Labbooks__containerStatus--state.Building:hover,
.Labbooks__containerStatus--state.Stopping:hover,
.Labbooks__containerStatus--state.Starting:hover{
  color: $jet !important;
}

.Labbooks__path {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.Labbooks__container-stat--menu-open {
  background: $background-color url('./../images/icons/up-arrow-silver.svg') no-repeat 90% center;

  @extend .ContainerStatus__container-state;
}

.Labbooks__container-state.Running:hover {
  transition: box-shadow 0.5s;

  border: 3px solid $romanSilver;
  background: $background-color url('./../images/icons/stop.svg') no-repeat 90% center;
  background-size: 20px;
  box-shadow: 0 0px 12px 0 rgba(0, 0, 0, 0.5);
}

.Labbooks__sorting {
  display: inline-block;

  width: 200px;
  margin-left: 20px;

  user-select: none;
  pointer-events: none;

  border-bottom: 1px solid $font-grey;
  background: $background-color;
}

.Labbooks__subheader {
  position: relative;

  display: flex;
  justify-content: flex-start;
  height: 28px;
  margin: 10px;
  margin: 60px 0 10px 0;
}

.Labbooks__search-container{
  flex-grow: 1;
  margin-right: 20px;
  align-self: flex-end;
  position: relative;
}
.Labbooks__search {
  height: 28px !important;
  margin: 0px !important;
  color: $azure !important;
}
.Labbooks__search[type="text"]:focus {
  background: white;
  border: none !important;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.4) !important;
}

.Labbooks__search-cancel{
  position: absolute;
  height: 24px;
  width: 24px;
  top: 2px;
  right: 6px;
  background: url('./../images/icons/close.svg') no-repeat center center;
  background-size: 24px;
  cursor: pointer;
}

.Labbooks__search-cancel--text{
  color: $romanSilver;
  position: absolute;
  right: 35px;
  top: 4px;
  text-align: right;
}

.Labbooks__section {
  margin-left: 20px;
}

.Labbooks__all-button,
.Labbooks__mine-button,
.Labbooks__others-button {
  color: $grey;
  border: 2px solid $grey;
  background: $grey-light;
}

.Labbooks__all-button:disabled,
.Labbooks__mine-button:disabled,
.Labbooks__others-button:disabled,
.Labbooks__all-button:focus,
.Labbooks__mine-button:focus,
.Labbooks__others-button:focus {
  color: $white;
  border-color: $azure;
  background: $azure;
}

.Labbooks__all-button,
.Labbooks__all-button:hover,
.Labbooks__all-button:disabled {
  width: 90px;

  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.Labbooks__mine-button,
.Labbooks__mine-button:hover,
.Labbooks__mine-button:disabled {
  width: 90px;
  border-radius: 0;
}

.Labbooks__others-button,
.Labbooks__others-button:hover,
.Labbooks__others-button:disabled {
  width: 90px;
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.Labbooks__sort {
  color: $font-grey;
  align-self: flex-end;
  span {
    display: inline-block;

    width: 200px;
    margin-left: 20px;

    cursor: pointer;
    user-select: none;

    border-bottom: 1px solid $font-grey;
  }
  .Labbooks__sort-collapsed {
    background: url('./../images/icons/down-arrow-silver.svg') no-repeat right;
    background-size: 15px;
  }
  .Labbooks__sort-expanded {
    background: url('./../images/icons/up-arrow-silver.svg') no-repeat right;
    background-size: 15px;
  }
  ul {
    animation: slide-down-fade-in forwards .25s;
    position: absolute;
    padding: 3px;
    z-index: index($elements, popup);
    right: 2px;

    width: 200px;

    cursor: pointer;
    text-align: left;

    border: 1px solid $grey;
    background: $white;

    @extend .box-shadow;

    li {
      white-space: nowrap;
      height: 40px;
      padding: 10px 5px !important;
      padding-top: 2px;

      user-select: none;

      border-bottom: 1px solid $grey;
    }

    li:last-child{
      border-bottom: none;
    }


    li:hover {
      transition: background-color 0.25s ease-in-out;

      background: $azure;
      color: $white;
    }
  }
}

.Labbooks__filter {
  margin-right: 20px;
  color: $font-grey;
  align-self: flex-end;
  span {
    display: inline-block;

    width: 200px;
    margin-left: 20px;

    cursor: pointer;
    user-select: none;

    border-bottom: 1px solid $font-grey;
  }
  .Labbooks__filter-collapsed {
    background: url('./../images/icons/down-arrow-silver.svg') no-repeat right;
    background-size: 15px;
  }
  .Labbooks__filter-expanded {
    background: url('./../images/icons/up-arrow-silver.svg') no-repeat right;
    background-size: 15px;
  }
  ul {
    animation: slide-down-fade-in forwards .25s;
    padding: 3px;
    position: absolute;
    z-index: index($elements, popup);
    right: 296px;

    width: 200px;

    cursor: pointer;
    text-align: left;

    border: 1px solid $grey;
    background: $white;

    @extend .box-shadow;

    li {
      height: 40px;
      padding: 10px 5px !important;
      padding-top: 2px;

      user-select: none;

      border-bottom: 1px solid $grey;
    }
    li:last-child{
      border-bottom: none;
    }

    li:hover {
      transition: background-color 0.25s ease-in-out;

      background: $azure;
      color: $white;
    }
  }
}

.Labbooks__labbook-button {
  position: relative;

  align-self: center;

  width: 85%;
  height: 60px;
  margin: 5px;

  cursor: pointer;

  color: $lightBlue;
  border: 3px solid $lightBlue;
  background: $white;

  font-size: 22px;
}

.Labbooks__labbook-button-import {
  @extend .Labbooks__labbook-button;
}

.Labbooks__labbook-button-import--collapsing {
  animation: collapse 0.25s linear forwards;

  @extend .Labbooks__labbook-button-import;

}

.Labbooks__labbook-button-import--expanding {
  cursor: default;
  animation: expand 0.25s linear forwards;

  @extend .Labbooks__labbook-button-import;
}

@keyframes expand {
  100% {
    top: 0;

    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: -65%;

    color: $white;
    border: none;
    background: $azure;

    font-size: 26px;
  }
}

@keyframes collapse {
  0% {
    top: 0;

    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: -65%;

    color: $white;
    border: none;
    background: $azure;

    font-size: 26px;
  }
}


.Labbooks__labbook-button:hover {
  color: $white;
  background: $lightBlue;
}

.Labbooks__labbook-header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 125px;
  padding-top: 20px;
}
.Labbooks__labbook-main {
  position: relative;

  width: 100%;
  height: 100%;

  @include flex(center, column)
}

.Labbooks__labbook-importing {
  width: 100%;
  height: 100%;

  color: $white;
  background: $azure;
}

.Labbooks__labbook-paste {
  position: relative;

  margin-top: 5px;
}

.Labbooks__labbook-importing {
  color: $white;

  font-size: 18px;
  label {
    color: $white;

    font-size: 18px;
  }
  input {
    left: 25px;

    box-sizing: border-box !important;
    width: 83% !important;
    height: 2.5rem !important;

    color: $azure !important;
    border-radius: 20px !important;
    background: $lightBlue !important;

    font-size: 20px;
  }
  input[type="text"] {
    padding-right: 27% !important;
  }

  input::placeholder {
    color: $azure;
  }
  button {
    position: absolute;
    top: 10px;
    right: 29px;

    height: 2.1rem;

    border-radius: 20px;
  }
}

.Labbooks__labbook-import-header {
  margin-bottom: 15px;
  h4 {
    margin-bottom: 0px;

    color: $white;

    font-size: 26px;
    font-weight: 400;
  }
  p {
    color: $grey;

    font-size: 16px;
    line-height: 2;
  }
}

.Labbooks__import-close {
  position: absolute;
  top: 15px !important;
  right: 15px !important;

  cursor: pointer;

  @include close();
}

.Labbooks__fetch-error {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;

  font-size: 24px;
}

.Labbook__loader-hidden {
  display: block;
  opacity: 0;
  height: 0;
}

.Labbook-paginating {
  background: $white url('../images/icons/labbooks-placeholder.svg') no-repeat center center;
  background-size: 275px;
  opacity: 1;
}

.Labbook-paginating__loader--0 {
  animation: fade-in forwards 0.8s;
}

.Labbook-paginating__loader--1 {
  animation: fade-in forwards 1.2s;
}

.Labbook-paginating__loader--2 {
  animation: fade-in forwards 2s;

}

.Labbook-paginating__loader--3 {
  animation: fade-in forwards 2.8s;

}

.Labbook-paginating__loader--4 {
  animation: fade-in forwards 3.6s;
}

.Labbooks__no-results{
  color: $romanSilver;
  width: 100%;
  text-align: center;
  margin-top: 150px;

  h3{
    font-weight: 100;
    font-size: 36px;
    margin-bottom: 10px;
  }
  p{
    margin-top: 10px;
  }
  span{
    font-weight: 100;
    cursor: pointer;
    text-decoration: underline;
  }
}