.LocalLabbooks {
  width: auto;
  min-width: 760px;
  max-width: 1285px;
  height: 100%;
  margin: auto;
  padding: 0 25px;
}

.LocalLabbooks__nav {
  position: relative;

  white-space: nowrap;

  border-bottom: 1px solid $grey;

  li {
    padding: 0 30px;

    text-align: center;

    a {
      display: inline-block;

      margin: 0;
      padding: .75rem 0;

      cursor: pointer;
      text-decoration: none;

      color: $jet;
    }

    a:hover {
      color: $selected-blue;
    }
  }

  li.selected a {
    position: relative;
    bottom: -2px;

    color: $selected-blue;

    line-height: 15px;
  }

  @for $i from 0 through 2 {
    li.LocalLabbooks__nav-item--#{$i}:hover ~ hr {
      @if $i == 0 {
        width: 40px;
        margin-left: 20px;
      }
      @if $i == 1 {
        width: 115px;
        margin-left: 100px;
      }
      @if $i == 2 {
        width: 125px;
        margin-left: 260px;
      }
    }
    .LocalLabbooks__navigation-slider--#{$i} {
      position: absolute;
      bottom: 0;

      height: 3px;
      margin: 0;

      transition: .1s ease-in-out;
      pointer-events: none;

      border: none;
      background: $turquise;
      @if $i == 0 {
        width: 40px;
        margin-left: 20px;
      }
      @if $i == 1 {
        width: 115px;
        margin-left: 100px;
      }
      @if $i == 2 {
        width: 125px;
        margin-left: 260px;
      }
    }
  }
}

.LocalLabbooks__rename-modal {
  padding: 20px;

  @include modal(300px, 400px);
  @include flex(space-between, column)
}

.LocalLabbooks__rename-error {
  color: $azure;
}
.LocalLabbooks__modal-title {
  margin-top: 0px;
  padding: 10px;

  text-align: center;

  color: $azure;
  border-bottom: 1px solid $azure;

}
.LocalLabbooks__rename-close {
  @include close();
}

.LocalLabbooks__labbooks {
  overflow-x: hidden;
  overflow-y: auto;

  height: calc(100% - 90px);

  @include flex(center, row);
}

.LocalLabbooks__edit-button {
  width: 30px;
  height: 30px;
  padding: 5px;

  color: $romanSilver;
  border: 0px;
  background: url('./../images/icons/edit.svg') no-repeat center center;
  background-size: 22px;

  font-size: 14px;
  font-weight: 100;
}

.LocalLabbooks__title-row {
    @include flex(space-between, row);
}

.LocalLabbooks__title-bar {
  margin: 0 80px 0 0px;
}

.LocalLabbooks__title {
  position: relative;

  width: 280px;
  margin: 20px 0px;
  padding: 0;

  cursor: pointer;

  color: $jet;
}

.LocalLabbooks__username {
  margin: 20px 0 10px 0;
  padding: 0;

}
.LocalLabbooks__file-system {
  padding: 0 0 0 3px;

  cursor: pointer;
  text-decoration: underline;

  color: $lightBlue;

  font-size: 16px;
}

.LocalLabbooks__title-add {
  position: absolute;

  width: 20px;
  height: 20px;

  transition: all 0.3s;

  border-width: 0px;
  border-radius: 12px;
  background: $azure url('../images/icons/add.svg') no-repeat center center;
  background-size: 12px;

}

.LocalLabbooks__import {
  position: relative;

  width: 120px;
  padding: 20px 40px 0;

  cursor: pointer;

  color: $azure;
}

.LocalLabbooks__title:hover {
  .LocalLabbooks__title-add {
    opacity: 1;
  }
}


.LocalLabbooks__panel {
  position: relative;

  height: 300px;
  padding: 0 1px 1px 1px;

  cursor: pointer;
  transition: box-shadow 0.5s;
  text-align: center;
  word-break: break-all;

  color: $jet !important;
  background: $white;
  background-size: 50px;

  line-height: 50px;

  @extend .card;

  &:empty {
    height: 0;

    border: 0;
  };
}

.LocalLabbooks__panel:hover {
  transition: box-shadow 0.5s;
  text-decoration: none;
  box-shadow: 0 0px 12px 0 rgba(0,0,0,.50);
}

.LocalLabbooks__panel--add {
  align-items: center;

  height: 300px !important;

  cursor: auto;

  color: $lightBlue;

  @include flex(center, column);


  .LocalLabbooks__labbook-icon {

    .LocalLabbooks__title-add {
      top: 98px;
      left: 60px;

      width: 20px;
      height: 20px;

      border: 0px solid $romanSilver;
      border-radius: 15px;
    }
  }

  .LocalLabbooks__add-text {
    h4 {
      width: 70%;
      margin: 0;
      margin-left: 10px;
      padding: 5px 0;

      white-space: nowrap;

      font-size: 28px;
      font-weight: 300;
    }
  }

  p {
    margin: 0;
    padding: 0px 0;
  }
}

.LocalLabbooks__panel--import {
  padding: 0px;
}

.LocalLabbooks__panel:before,
.LocalLabbooks__panel:after {
  padding: 0 10px;
}

.LocalLabbooks__description{
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;

  max-height: 130px;

  white-space: pre-line;
  text-overflow: ellipsis;
  word-break: initial;

  line-height: 20px;

  -webkit-line-clamp: 6;
  box-orient: vertical;
}

.LocalLabbooks__icon-row {
  height: 68px;
  padding: 20px 20px 10px;

  @include flex(space-between, row);
}

.LocalLabbooks__labbook-icon {
  width: 50px;
  height: 50px;
  margin: 0 10px 0 -10px;

  transition: 0.25s all;

  opacity: 0.4;
  background: url('../images/icons/labbooks-blue.svg') no-repeat center center;
  background-size: 50px;
}

.LocalLabbooks__text-row {
  flex: 1;

  height: 100px;
  padding: 10px 20px;

  text-align: left;

  h4{
    padding: 0px;

    font-size: 22px;
  }

  p{
    color: $romanSilver;

    font-size: 14px;
  }
}

.LocalLabbooks__info-row {
  height: 80px;
  padding: 10px 20px;

  color: $romanSilver;

  font-size: 12px;
}
.LocalLabbooks__owner {
  height: 20px;
  margin: 2px;

  line-height: 20px;
}
.LocalLabbooks__owner-icon {
  align-content: center;
  align-self: center;

  width: 20px;
  height: 20px;
  margin: 0 4px;

  background: url('../images/icons/user.svg') no-repeat center center;
  background-size: 20px;
}

.LocalLabbooks__next-button-container {
  text-align: center;
}

.LocalLabbooks__containerStatus {
  width: 100%;

  color: white;

  font-weight: 100;

  @include flex(flex-end, row);
}

.LocalLabbooks__containerStatus--state {
  z-index: index($elements, button);

  width: 141px;
  height: 31px;
  padding: 0 10px 0 0;

  cursor: pointer;
  transition: height 0.5s, width 0.5s, box-shadow 0.5s;
  text-align: center;

  color: $romanSilver;
  border: 2px solid rgba(0,0,0,0);
  border-radius: 20px;

  font-size: 16px;
  line-height: 26px;

  @extend .box-shadow;
  @extend .box-shadow;
}
.LocalLabbooks__containerStatus--state,
.LocalLabbooks__containerStatus--state:hover,
.LocalLabbooks__containerStatus--state:focus{
  color: $romanSilver;
  background-color: transparent !important;
}
.LocalLabbooks__containerStatus--state.loading,
.LocalLabbooks__containerStatus--state.loading:hover,
.LocalLabbooks__containerStatus--state.loading:focus{
  background: $grey !important;
  opacity: 0.5;
}

.LocalLabbooks__containerStatus--state.Stopped {
  transition: box-shadow 0.5s;

  border: 3px solid $romanSilver;
  background: $background-color url('./../images/icons/stop.svg') no-repeat 90% center;
  background-size: 20px;

  @extend .box-shadow;
}

.LocalLabbooks__containerStatus--state.Stopped:hover {
  transition: box-shadow 0.5s;

  border: 3px solid $turquise;
  background: $background-color url('./../images/icons/run.svg') no-repeat 90% center;
  background-size: 20px;
  box-shadow: 0 0px 12px 0 rgba(0, 0, 0, 0.5);

}

.LocalLabbooks__containerStatus--state.Running {
  transition: box-shadow 0.5s;

  border: 3px solid $turquise;
  background: $background-color url('./../images/icons/run.svg') no-repeat 90% center;
  background-size: 20px;
}

.LocalLabbooks__containerStatus--state.Running:hover {
  transition: box-shadow 0.5s;

  border: 3px solid $romanSilver;
  background: $background-color url('./../images/icons/stop.svg') no-repeat 90% center;
  background-size: 20px;
  box-shadow: 0 0px 12px 0 rgba(0, 0, 0, 0.5);
}

.LocalLabbooks__containerStatus--state.Building,
.LocalLabbooks__containerStatus--state.Stopping,
.LocalLabbooks__containerStatus--state.Starting {
  border: 3px solid $goldenLemon;
  cursor: auto;
}

.LocalLabbooks__containerStatus--state.Starting {
  transition: box-shadow 0.5s;

  opacity: 0.75;
  border: 3px solid $goldenLemon;
  background: none;
}

.LocalLabbooks__containerStatus--state.Stopping {
  transition: box-shadow 0.5s;

  opacity: 0.75;
  border: 3px solid $goldenLemon;
  background: none;
}

.LocalLabbooks__containerStatus--state.Building{
  transition: box-shadow 0.5s;

  border: 3px solid $goldenLemon;
  background-size: 20px;
}

.LocalLabbooks__containerStatus--state.Rebuild{
  padding: 0 15px 0 0;

  cursor: pointer;

  border: 3px solid $goldenLemon;
  background: $background-color url('./../images/icons/button-build.svg') no-repeat 85% center;
  background-size: 20px;
}

.LocalLabbooks__containerStatus--state.Building:hover,
.LocalLabbooks__containerStatus--state.Stopping:hover,
.LocalLabbooks__containerStatus--state.Starting:hover{
  color: $jet !important;
}

.LocalLabbooks__path {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.LocalLabbooks__container-stat--menu-open {
  background: $background-color url('./../images/icons/up-arrow-silver.svg') no-repeat 90% center;

  @extend .ContainerStatus__container-state;
}

.LocalLabbooks__container-state.Running:hover {
  transition: box-shadow 0.5s;

  border: 3px solid $romanSilver;
  background: $background-color url('./../images/icons/stop.svg') no-repeat 90% center;
  background-size: 20px;
  box-shadow: 0 0px 12px 0 rgba(0, 0, 0, 0.5);
}

.LocalLabbooks__sorting {
  display: inline-block;

  width: 200px;
  margin-left: 20px;

  user-select: none;
  pointer-events: none;

  border-bottom: 1px solid $font-grey;
  background: $background-color;
}

.LocalLabbooks__sort {
  position: relative;

  display: flex;
  justify-content: flex-end;

  margin: 10px;
  margin: 60px 0 10px 0;

  color: $font-grey;

  span {
    display: inline-block;

    width: 200px;
    margin-left: 20px;

    cursor: pointer;
    user-select: none;

    border-bottom: 1px solid $font-grey;
  }
  .LocalLabbooks__sort-collapsed {
    background: url('./../images/icons/down-arrow-silver.svg') no-repeat right;
    background-size: 15px;
  }
  .LocalLabbooks__sort-expanded {
    background: url('./../images/icons/up-arrow-silver.svg') no-repeat right;
    background-size: 15px;
  }
  ul {
    position: absolute;
    right: 0;

    width: 200px;
    margin-top: 23px;

    cursor: pointer;
    text-align: left;

    border: 1px solid $grey;
    background: $white;

    @extend .box-shadow;

    li {
      height: 30px;
      padding: 5px !important;
      padding-top: 2px;

      user-select: none;

      border-bottom: 1px solid $grey;
    }
    li:hover {
      transition: background-color 0.25s ease-in-out;

      background: $background-color;
    }
  }
}
.LocalLabbooks__labbook-button {
  position: relative;

  align-self: center;

  width: 85%;
  height: 60px;
  margin: 5px;

  cursor: pointer;

  color: $lightBlue;
  border: 3px solid $lightBlue;
  border-radius: 8px;
  background: $white;

  font-size: 22px;
}

.LocalLabbooks__labbook-button-import {
  @extend .LocalLabbooks__labbook-button;
}

.LocalLabbooks__labbook-button-import--collapsing {
  animation: collapse 0.25s linear forwards;

  @extend .LocalLabbooks__labbook-button-import;

}

.LocalLabbooks__labbook-button-import--expanding {
  cursor: default;
  animation: expand 0.25s linear forwards;

  @extend .LocalLabbooks__labbook-button-import;
}

@keyframes expand {
  100% {
    top: 0;

    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: -65%;

    color: $white;
    border: none;
    background: $azure;

    font-size: 26px;
  }
}

@keyframes collapse {
  0% {
    top: 0;

    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: -65%;

    color: $white;
    border: none;
    background: $azure;

    font-size: 26px;
  }
}


.LocalLabbooks__labbook-button:hover {
  color: $white;
  background: $lightBlue;
}

.LocalLabbooks__labbook-header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 125px;
  padding-top: 20px;
}
.LocalLabbooks__labbook-main {
  position: relative;

  width: 100%;
  height: 100%;

  @include flex(center, column)
}

.LocalLabbooks__labbook-importing {
  width: 100%;
  height: 100%;

  color: $white;
  background: $azure;
}

.LocalLabbooks__labbook-paste {
  position: relative;

  margin-top: 5px;
}

.LocalLabbooks__labbook-importing {
  color: $white;

  font-size: 18px;
  label {
    color: $white;

    font-size: 18px;
  }
  input {
    left: 25px;

    box-sizing: border-box !important;
    width: 83% !important;
    height: 2.5rem !important;

    color: $azure !important;
    border-radius: 20px !important;
    background: $lightBlue !important;

    font-size: 20px;
  }
  input[type="text"] {
    padding-right: 27% !important;
  }

  input::placeholder {
    color: $azure;
  }
  button {
    position: absolute;
    top: 10px;
    right: 29px;

    height: 2.1rem;

    border-radius: 20px;
  }
}

.LocalLabbooks__labbook-import-header {
  margin-bottom: 15px;
  h4 {
    margin-bottom: 0px;

    color: $white;

    font-size: 26px;
    font-weight: 400;
  }
  p {
    color: $grey;

    font-size: 16px;
    line-height: 2;
  }
}

.Locallabbook__import-close {
  position: absolute;
  top: 15px !important;
  right: 15px !important;

  cursor: pointer;

  @include close();
}

.LocalLabbooks__fetch-error {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;

  font-size: 24px;
}

.LocalLabbooks__highlighted{
  background: $azure;
  color: $white;
}

.LocalLabbookPanel__private{
  height: 24px;
  width: 24px;
  padding: 20px;
  background: url(../images/icons/lock-grey.svg) no-repeat center center;
  background-size: 18px;
  align-self: flex-end;
}

.LocalLabbookPanel__public{
  height: 24px;
  width: 24px;
  padding: 20px;
  background: url(../images/icons/earth-grey.svg) no-repeat center center;
  background-size: 18px;
  align-self: flex-end;

}

.LocalLabbookPanel__loading{
  background: $grey !important;
  height: 18px;
  width: 18px;
  padding: 14px;
  margin: 8px;
  opacity: 0.5;
  border-radius: 50%;
  align-self: flex-end;
}
