
.RemoteLabbooks__cloud-download:hover,
.RemoteLabbooks__cloud-download:focus,
.RemoteLabbooks__cloud-download,
.RemoteLabbooks__cloud-download:disabled,
.RemoteLabbooks__cloud-download--exists,
.RemoteLabbooks__cloud-download--exists:disabled,
.RemoteLabbooks__cloud-download--exists,
.RemoteLabbooks__cloud-download--exists:disabled,
.RemoteLabbooks__cloud-delete:hover,
.RemoteLabbooks__cloud-delete:focus,
.RemoteLabbooks__cloud-delete,
.RemoteLabbooks__cloud-delete--disabled,
.RemoteLabbooks__cloud-delete--disabled:hover,
.RemoteLabbooks__cloud-delete--disabled:focus,
.RemoteLabbooks__cloud-delete--disabled:disabled,
.RemoteLabbooks__cloud-delete:disabled{
  width: 20px;
  height: 20px;
  margin-left: 5px;
  padding: 0;

  border: none;
}

.RemoteLabbooks__cloud-download:hover,
.RemoteLabbooks__cloud-download:focus {
  background: url('./../images/icons/download-azure.svg') no-repeat 0 center;
  background-size: 20px;
}

.RemoteLabbooks__cloud-download,
.RemoteLabbooks__cloud-download:disabled{
  background: url('./../images/icons/download.svg') no-repeat 0 center;
  background-size: 20px;
}


.RemoteLabbooks__cloud-download--exists,
.RemoteLabbooks__cloud-download--exists:disabled {
  background: url('./../images/icons/download-check.svg') no-repeat 0 center;
  background-size: 20px;
}

.RemoteLabbooks__cloud-delete:hover,
.RemoteLabbooks__cloud-delete:focus {
  background: url('./../images/icons/trash-azure.svg') no-repeat 0 center;
  background-size: 20px;
}

.RemoteLabbooks__cloud-delete {
  background: url('./../images/icons/trash.svg') no-repeat 0 center;
  background-size: 20px;
}

.RemoteLabbooks__cloud-delete--disabled,
.RemoteLabbooks__cloud-delete--disabled:hover,
.RemoteLabbooks__cloud-delete--disabled:focus,
.RemoteLabbooks__cloud-delete--disabled:disabled,
.RemoteLabbooks__cloud-delete:disabled{

  cursor: auto;

  opacity: 0.2;
  background: url('./../images/icons/trash.svg') no-repeat 0 center;
  background-size: 20px;
}

.RemoteLabbooks__icon-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  height: 68px;
  padding: 20px 20px 10px;
}

.RemoteLabbooks__panel {
  position: relative;

  height: 300px;
  padding: 0 1px 1px 1px;

  transition: box-shadow 0.5s;
  text-align: center;
  word-break: break-all;

  color: $jet;
  background: $white;
  background-size: 50px;

  line-height: 50px;

  @extend .card;

  &:empty {
    height: 0;

    border: 0;
  };
}

.RemoteLabbooks__panel:hover {
  transition: box-shadow 0.5s;

  box-shadow: 0 0px 12px 0 rgba(0,0,0,.50);
}

.RemoteLabbooks__text-row {
  flex: 1;

  height: 100px;
  padding: 10px 20px;

  text-align: left;

  h4{
    padding: 0px;

    font-size: 22px;
  }

  p{
    color: $romanSilver;

    font-size: 14px;
  }
}

.RemoteLabbooks__title-row {
  @include flex(space-between, row);
}

.RemoteLabbooks__owner {
  height: 20px;
  margin: 2px;

  line-height: 20px;
}

.RemoteLabbooks__description{
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;

  max-height: 130px;

  white-space: pre-line;
  text-overflow: ellipsis;
  word-break: initial;
  line-height: 20px;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  box-orient: vertical;
}

.RemoteLabbooks__panel:before,
.RemoteLabbooks__panel:after {
  padding: 0 10px;
}

.RemoteLabbooks__loader {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: scale(0.5);
}

.RemoteLabbooks__private{
  height: 24px;
  width: 24px;
  padding: 20px;
  background: url(../images/icons/lock-grey.svg) no-repeat center center;
  background-size: 18px;
  align-self: flex-end;

}

.RemoteLabbooks__public{
  height: 24px;
  width: 24px;
  padding: 20px;
  background: url(../images/icons/earth-grey.svg) no-repeat center center;
  background-size: 18px;
  align-self: flex-end;
}
