@import '~Styles/_imports.scss';


.RemoteLabbooks__row {
  &--icon {
    height: 40px;
    margin: -10px;
    font-size: 15px;
    border-bottom: 1px solid $grey-border;
    @include flex(flex-start, row);
    align-items: center;
  }

  &--text {
    flex: 1;

    height: 100px;
    padding: 10px 20px;

    text-align: left;
  }

  &--title{
     @include flex(flex-start, row);
  }
}

.RemoteLabbooks__paragraph{
  margin-top: 5px;
  font-size: 14px;

  &--owner {
    color: $jet;
    font-size: 15px;
    margin: 2px 0 10px 0;
  }

  &--metadata{
    color: $jet;
    font-size: 10px;
    line-height: 1.5;
    margin: 0;
  }

  &--description{
    display: -webkit-box;
    overflow: hidden;

    max-height: 130px;

    white-space: pre-line;
    text-overflow: ellipsis;
    word-break: normal;

    line-height: 20px;

    -o-text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    box-orient: vertical;
  }
}

.RemoteLabbooks__private{
  align-self: center;

  width: 24px;
  height: 24px;
  background: $lightGrey url(~Images/icons/lock-grey.svg) no-repeat center center;
  background-size: 11px;
  border-radius: 20px;
  margin: 0 8px 0 28px;
}

.RemoteLabbooks__public{
  align-self: center;

  width: 24px;
  height: 24px;
  background: $lightGrey url(~Images/icons/earth-grey.svg) no-repeat center center;
  background-size: 14px;
  border-radius: 20px;
  margin: 0 8px 0 28px;
}


.RemoteLabbooks__loader {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: scale(0.5);
}


.RemoteLabbooks__panel-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
  line-height: 30px;
  width: 250px;
  font-size: 19px;
  color: $azure;
  margin: 10px 0 0 0;
}
