@import '~Styles/_imports.scss';


.App {
  min-height: 100%;
  width: 100%;
  background: $gradient;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0em 1em 5em 1em;

  &__loader {
    margin: 80px;
    color: $white;
  }

  &__header {
    display: flex;
    flex-direction: flex-column;
    justify-content: center;
    margin: 0 auto;
    padding-left: 1em;
    height: 17em;
  }
}
