.git
.circleci
.idea
docs
gtm
.DS_Store
.pyc
.rdb
ui/node_modules
ui/__mocks__
ui/__tests__
ui/build
ui/resources
.pytest_cache/
.mypy_cache

testing/testenv
testing/test-env
testing/credentials.txt
testing/geckodriver.log
testing/testutils/.DS_Store
testing/testmaterial
/packages/gtmcore/gtmcore/auth/tests/auth_config.json
