.git
.circleci
.idea
.github
changelog
docs/
gtm
.DS_Store
.pyc
.rdb
ui/node_modules
ui/__mocks__
ui/__tests__
ui/build
ui/resources
.pytest_cache/
.mypy_cache/

# ignore RStudio activity monitoring testing files
*.dump

testing/

/packages/gtmcore/gtmcore/auth/tests/auth_config.json
