.Login {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  left: 0;
}

.Login__panel {
  background: $jet;
  background: linear-gradient($jet, $azure);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  z-index: index($elements, login);
  width: 100%;
}

.Login__button {
  font-size: 24px;
  height: 50px;
  width: 300px;
  align-self: center;
  border: 1px solid $white;
}

.Login__button--loading,
.Login__button--loading:disabled,
.Login__button--loading:focus,
.Login__button--loading:hover{
  background: $azure;
  font-size: 24px;
  height: 50px;
  width: 300px;
  align-self: center;
  border: 1px solid $white;
  cursor: auto;
  position: relative;

  .Code__loading{
    bottom: 9px;
  }
}

.Login__logo {
  margin-top: -10%;
  width: 75%;
  max-width: 700px;
  padding: 100px;
  background: url(../images/logos/gigantum-white-logo.svg) no-repeat 50% 50%;
  background-size: 500px;
}

.LoginError {
  color: $crimson;
  height: 200px;

  width: 500px;
  margin: 30px auto;
}

.Login__error {
  height: 100%;
  @include flex(space-around, column);
}

.Login__error-type {
  font-size: 22px;
  align-items: center;
  @include flex(center, row);
}

.Login__error-exclamation {
  @extend .fa;
  @extend .fa-exclamation-circle;
  margin-right: 10px;
}

.Login__error-unauthorized {
  color: $lightGrey;
  font-size: 20px;
  margin-top: -100px;

  a {
    color: $lightBlue;
  }
}