.Routes {
  height: calc(100% - 10px);
  width: 100%;
  @include flex(flex-start, row);
  max-width: 1440px;
  min-width: 960px;
}



.Routes__main {
  flex: 1 0;
  margin-left: $sideBarWidth;
  max-width: 100%;
}
.Routes__main-no-auth {
  flex: 1 0;
  max-width: 100%;
}

.Callback {
  margin-left: $sideBarWidth;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f0f1f5;
  z-index: 101;
}

.Callback__loader {
  margin-left: -$sideBarWidth;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 102;
}

.Routes__error {
  @include flex(center, column);
  align-items: center;
  height: 100%;
  background: url(../images/icons/warning-triangle.svg) no-repeat center center;
  background-size: 256px;
  padding: 280px 0 0 0;
}
