@import '~Styles/_imports.scss';

.LabbookFilterBy {
  color: $font-grey;
  position: relative;
}

.LabbookFilterBy__selector {
   width: 208px;
}

.LabbookFilterBy__list-item{

  height: 40px;
  padding: 10px 5px !important;
  padding-top: 2px;

  user-select: none;

  border-bottom: 1px solid $grey;

  &:last-child{
    border-bottom: none;
  }

  &:hover {
    transition: background-color 0.25s ease-in-out;

    background: $azure;
    color: $white;
  }
}
