@import '~Styles/_imports.scss';

.LabbookSort {
  color: $font-grey;
  position: relative;
}

.LabbookSort__menu{
  width: 213px;
}

.LabbookSort__selector{
}


.LabbookSort__list-item{

    white-space: nowrap;
    height: 40px;
    padding: 10px 5px !important;
    padding-top: 2px;

    user-select: none;

    border-bottom: 1px solid $grey;


    &:last-child{
      border-bottom: none;
    }


    &:hover {
      transition: background-color 0.25s ease-in-out;

      background: $azure;
      color: $white;
    }
}
