@import '~Styles/_imports.scss';

.Branches {
    padding: 20px 20px;
}
.Branches__header {
    @include flex(space-between, row);
}

.Branches__branch {
    transition: all 0.25s;
    cursor: auto;
    border: 1px solid $romanSilver;
    padding: 0 10px;
    font-size: 14px;
    height: 75px;
    @include flex(center, column);
    .Branches__branchname {
        white-space: nowrap;
        text-overflow: ellipsis;
        word-break: break-all;
        overflow: hidden;
    }
    &--active {
        animation: overflow-change forwards 0.5s;
    }
    &--current {
        cursor: auto;
        padding: 5px 10px;
        border: 2px solid $azure;
        margin: 0;

        .Branches__branchname {
            white-space: nowrap;
            text-overflow: ellipsis;
            word-break: break-all;
            overflow: hidden;
            font-size: 20px;
        }
        &--selected{
            z-index: index($elements, modalCover) + 1;
            pointer-events: none;
            position: relative;
            background: $white !important;
            border: 2px solid $azure;
        }
    }
    &--selected {
        z-index: index($elements, modalCover) + 1;
        pointer-events: none;
        position: relative;
        background: $fileBrowserHover;
        color: $azure;
        font-size: 15px;
        border: 1px solid $azure;
    }
    &:hover {
        background: $fileBrowserHover;
        color: $azure;
        font-size: 15px;
    }
}

@keyframes  overflow-change{
    0% {
        overflow: hidden;
    }
    100% {
        overflow: visible;
    }
  }

.Branches__title{
    font-size: 18px;
}

.Branches__label{
    margin: 10px 0 5px 0;
    font-size: 12px;
}

.Branches__btn{
    border: 1px solid $azure;
    margin-right: 5px;
    background: $background-color;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    padding: 0;
    position: relative;

    &--sync-dropdown {
        margin-left: -4px;
        width: 15px;
        border-radius: 0 4px 4px 0;
        background: url(~Images/icons/branches/chevron.svg) no-repeat center center;
        background-size: 20px;

        &:hover, &:focus {
          background: $azure url(~Images/icons/branches/chevron-hover.svg) no-repeat center center;
          background-size: 20px;
          border: 1px solid $azure;
          margin-left: -4px;
        }
    }


    &--create {
        background: $white url('~Images/icons/branches/create.svg') no-repeat center center;
        background-size: cover;
        border: 1px solid $azure;
        &:hover, &:focus {
            background: $azure url('~Images/icons/branches/create-hover.svg') no-repeat center center;
            background-size: cover;
            border: 1px solid $azure;
        }
    }
    &--reset {
        background: $white url('~Images/icons/branches/reset.svg') no-repeat center center;
        background-size: cover;
        &:hover, &:focus {
            background: $azure url('~Images/icons/branches/reset-hover.svg') no-repeat center center;
            background-size: cover;
            border: 1px solid $azure;
        }
    }
    &--switch {
        background: $white url('~Images/icons/branches/switch.svg') no-repeat center center;
        background-size: cover;
        &:hover, &:focus {
            background: $azure url('~Images/icons/branches/switch-hover.svg') no-repeat center center;
            background-size: cover;
            border: 1px solid $azure;
        }
    }
    &--merge {
        background: $white url('~Images/icons/branches/merge.svg') no-repeat center center;
        background-size: cover;
        &:hover, &:focus {
            background: $azure url('~Images/icons/branches/merge-hover.svg') no-repeat center center;
            background-size: cover;
            border: 1px solid $azure;
        }
        &--selected {
            background: $azure url('~Images/icons/branches/merge-hover.svg') no-repeat center center;
            background-size: cover;
            border: 1px solid $azure;
        }
    }
    &--delete {
        background: $white url('~Images/icons/branches/delete.svg') no-repeat center center;
        background-size: cover;
        &:hover, &:focus {
            background: $azure url('~Images/icons/branches/delete-hover.svg') no-repeat center center;
            background-size: cover;
            border: 1px solid $azure;
        }
        &--selected {
            background: $azure url('~Images/icons/branches/delete-hover.svg') no-repeat center center;
            background-size: cover;
            border: 1px solid $azure;
        }
    }
    &--sync {
        background: $white url('~Images/icons/branches/sync.svg') no-repeat center center;
        background-size: cover;
        border-radius: 4px 0 0 4px;
        &:hover, &:focus {
            background: $azure url('~Images/icons/branches/sync-hover.svg') no-repeat center center;
            background-size: cover;
            border: 1px solid $azure;
        }
    }
    &--push {
        background: $white url('~Images/icons/branches/push.svg') no-repeat center center;
        background-size: cover;
        border-radius: 4px 0 0 4px;
        &:hover, &:focus {
            background: $azure url('~Images/icons/branches/push-hover.svg') no-repeat center center;
            background-size: cover;
            border: 1px solid $azure;
        }
    }
    &--pull {
        background: $white url('~Images/icons/branches/pull.svg') no-repeat center center;
        background-size: cover;
        border-radius: 4px 0 0 4px;
        &:hover, &:focus {
            background: $azure url('~Images/icons/branches/pull-hover.svg') no-repeat center center;
            background-size: cover;
            border: 1px solid $azure;
        }
    }
    &--sync-dropdown--disabled,
    &--sync-dropdown--disabled:hover,
    &--sync-dropdown--disabled:focus {
        background: $background-color url(~Images/icons/branches/chevron-disabled.svg) no-repeat center center;
        background-size: 20px !important;
        border: 1px solid $romanSilver;
        color: $romanSilver;
        cursor: auto;
    }
    &--create--disabled,
    &--create--disabled:hover,
    &--create--disabled:focus {
        background: $background-color url('~Images/icons/branches/create-disabled.svg') no-repeat center center !important;
        background-size: cover !important;
        border: 1px solid $romanSilver !important;
        cursor: auto !important;
    }
    &--reset--disabled,
    &--reset--disabled:hover,
    &--reset--disabled:focus {
        background: $background-color url('~Images/icons/branches/reset-disabled.svg') no-repeat center center !important;
        background-size: cover !important;
        border: 1px solid $romanSilver !important;
        cursor: auto !important;
    }
    &--switch--disabled,
    &--switch--disabled:hover,
    &--switch--disabled:focus {
        background: $background-color url('~Images/icons/branches/switch-disabled.svg') no-repeat center center !important;
        background-size: 22x !important;
        border: 1px solid $romanSilver !important;
        cursor: auto !important;
    }
    &--merge--disabled,
    &--merge--disabled:hover,
    &--merge--disabled:focus {
        background: $background-color url('~Images/icons/branches/merge-disabled.svg') no-repeat center center !important;
        background-size: cover !important;
        border: 1px solid $romanSilver !important;
        cursor: auto !important;
    }
    &--delete--disabled,
    &--delete--disabled:hover,
    &--delete--disabled:focus {
        background: $background-color url('~Images/icons/branches/delete-disabled.svg') no-repeat center center !important;
        background-size: cover !important;
        border: 1px solid $romanSilver !important;
        cursor: auto !important;
    }
    &--sync--disabled,
    &--sync--disabled:hover,
    &--sync--disabled:focus {
        background: $background-color url('~Images/icons/branches/sync-disabled.svg') no-repeat center center !important;
        background-size: cover !important;
        border: 1px solid $romanSilver !important;
        cursor: auto !important;
    }
    &--pull--disabled,
    &--pull--disabled:hover,
    &--pull--disabled:focus {
        background: $background-color url('~Images/icons/branches/pull-disabled.svg') no-repeat center center !important;
        background-size: cover !important;
        border: 1px solid $romanSilver !important;
        cursor: auto !important;
    }
    &--push--disabled,
    &--push--disabled:hover,
    &--push--disabled:focus {
        background: $background-color url('~Images/icons/branches/push-disabled.svg') no-repeat center center !important;
        background-size: cover !important;
        border: 1px solid $romanSilver !important;
        cursor: auto !important;
    }
}

.Branches__branchname-container{
    @include flex(space-between, row);
    align-items: center;
}

.Branches__status{
    @include flex(flex-start, row);
    cursor: auto;
    &--local {
        width: 24px;
        height: 24px;
        background: url('~Images/icons/branches/local.png') no-repeat center center;
        background-size: cover;
    }
    &--remote {
        width: 24px;
        height: 24px;
        background: url('~Images/icons/branches/remote.png') no-repeat center center;
        background-size: cover;
    }
}

.Branches__actions-section{
    animation: slide-up-fade-in forwards 0.25s;
    position: relative;
    padding: 5px 5px 0 5px;
}

.Branches__Modal-cover{
    transition: all 0.25s;
    position: absolute;
    z-index: index($elements, modalCover);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: $slateBlue;
    &--coverall {
        z-index: index($elements, modal) + 1;
        text-align: center;
        @include flex(flex-start, column);
        div {
            margin-top: 10px;
            color: $white;
        }
    }
}
.Branches__Modal{
    word-break: break-word;
    animation: slide-down-fade-in 0.25s;
    &--merge {
        &:before {
            content: '';
            @include triangle('up', 9px, $white);
            position: absolute;
            top: -6px;
            left: 50px;
          }
    }
    &--delete {
        &:before {
            content: '';
            @include triangle('up', 9px, $white);
            position: absolute;
            top: -6px;
            left: 77px;
          }
    }
    font-size: 14px;
    z-index: index($elements, modal);
    top: 34px;
    left: -15px;
    border-radius: 10px;
    color: $jet;
    background: $white;
    position: absolute;
    width: 260px;
    font-weight: 100;
    text-align: center;
    padding: 15px;
    cursor: auto;
    pointer-events: all;
    @include boxShadow();
    label {
        margin: 0 5px;
        input {
            margin: 0 20px 0 0;
        }
    }

}
.Branches__Modal-header{
    color: $azure;
    font-size: 16px;
    padding: 5px;
}

.Branches__close{
    @include close();
}

.Branches__Modal-buttons {
    margin-top: 20px;
    .Btn--flat {
        color: $azure;
        font-weight: bold
    }
}

.Branches__Modal-confirm {
    padding: 0 30px;
}

.Branches__dropdown {
    position: relative;
    overflow: visible;
    z-index: index($elements, popup) + 2;
    &-menu {
        position: absolute;
        background: $white;
        top: 30px;
        padding: 10px;
        width: 175px;
        animation: slide-down-fade-in forwards .25s;
        @include boxShadow();
      }
}

.Branches__h5 {
    margin: 0;
    font-size: 14px;
    border-bottom: 2px solid $romanSilver;
}

.Branches__ul{
    margin: 1px 0;
}

.Branches__list-item {
    padding: 10px 10px;
    color: $jet;
    cursor: pointer;
    @include flex(space-between, row);
    align-items: center;
    font-size: 14px !important;

    &:hover {
        background-color: $azure;
        color: $white;
    }

    border-bottom: 1px solid $grey;


    &:last-child {
        border-bottom: 0px solid $white;
    }
}

.Branches__commits {
    @include flex(space-around, row);
    align-items: center;
    flex-wrap: nowrap;
    color: $white;
    font-weight: 100;
    font-size: 12px;
    margin: 0 3px;
    padding: 2px;
    background: $azure;
    border-radius: 10px;
    height: 20px;

    &--commits-behind {
        padding: 2px 15px 2px 2px;
        background: url(~Images/icons/branches/commit-behind.svg) no-repeat right -6px bottom;
        background-size: 25px;
    }

    &--commits-ahead {
        padding: 2px 15px 2px 2px;
        background: url(~Images/icons/branches/commit-ahead.svg) no-repeat right -4px bottom;
        background-size: 25px;
    }
  }

.Branches__scroll{
    height: 25px;
    cursor: pointer;
    &--hidden {
        display: none;
    }
    &--down{
        border: 1px solid $romanSilver;
        background: url(~Images/icons/down-arrow-azure.svg) no-repeat center center;
        background-size: 20px;
        &:hover {
            border: 1px solid $azure;
            background: $azure url(~Images/icons/down-arrow-white.svg) no-repeat center center;
            background-size: 20px;
        }
    }
    &--up{
        border: 1px solid $romanSilver;
        background: url(~Images/icons/up-arrow-azure.svg) no-repeat center center;
        background-size: 20px;
        &:hover {
            border: 1px solid $azure;
            background: $azure url(~Images/icons/up-arrow-white.svg) no-repeat center center;
            background-size: 20px;
        }
    }
    &--disabled.Branches__scroll--down {
        pointer-events: none;
        background: $romanSilver url(~Images/icons/down-arrow-white.svg) no-repeat center center;
        background-size: 20px;
    }
    &--disabled.Branches__scroll--up {
        pointer-events: none;
        background: $romanSilver url(~Images/icons/up-arrow-white.svg) no-repeat center center;
        background-size: 20px;
    }
}

.Branches__label{
    padding-left: 13px;
    &--local{
        background: url('~Images/icons/branches/local.png') no-repeat left 25px center;
        background-size: cover;
        background-size: 20px;
    }
    &--remote{
        background: url('~Images/icons/branches/remote.png') no-repeat left 25px center;
        background-size: cover;
        background-size: 20px;
    }
    &--disabled{
        color: $romanSilver;
        cursor: auto;
    }
}