@import '~Styles/_imports.scss';

.SidePanel {
  position: fixed;
  z-index: index($elements, modal) - 1;
  background-color: $white;
  @include spanColumns(3);
  margin: 0;
  right: 0px;
  top: 187px;
  bottom: 0px;



  &--sticky{
    top: 110px;
  }
}

.SidePanel__btn {
  &--close {
    @include close();
  }
}