@import '~Styles/_imports.scss';
.ImportModule {
  padding: 10px;
}
.Card--add {
  align-items: center;

  height: 300px !important;

  cursor: auto;

  color: $tintBlue;

  @include flex(center, column);

  p {
    margin: 0;
    padding: 0px 0;
  }
}

.Import__labbook-header{
  position: relative;

  align-items: center;

  color: $tintBlue;

  @include flex(center, row);
}

.Import_paragraph {
  color: $grey;
  font-size: 16px;
  line-height: 2;
}

.Import__labbook-icon {
  width: 50px;
  height: 50px;
  margin: 0 10px 0 -10px;

  -webkit-transition: all .25s;
  -o-transition: .25s all;
  transition: all .25s;
  background: url('~Images/icons/labbooks-dark-blue.svg') no-repeat 50%;
  background-size: 50px;
}

.Import__add-icon{
  position: absolute;
  top: 53px;
  left: 43px;

  width: 20px;
  height: 20px;

  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;

  border: 0px solid $romanSilver;
  border-radius: 12px;
  background: #007ea8 url('~Images/icons/add.svg') no-repeat 50%;
  background-size: 12px;
}

.Import__h4{
  width: 70%;
  margin: 0;
  margin-left: 10px;
  padding: 5px 0;

  white-space: nowrap;

  font-size: 28px;
  font-weight: 300;
}


.Import__labbook-main{
  width: 100%;

  @include flex(center, column);
}

.Import__section--import {
  position: relative;

  width: 100%;
  height: 100%;

  color: $white;
  background: $azure;

  font-size: 18px;
}

.Import__label--file-system {
  color: $white;

  font-size: 18px;
}

input.Import__input--paste{
    left: 25px;

    box-sizing: border-box !important;
    width: 83% !important;
    height: 2.5rem !important;

    color: $azure !important;
    border-radius: 20px !important;
    background: $lightBlue !important;

    font-size: 20px;

    &[type="text"] {
      padding-right: 27% !important;
    }

    &::placeholder {
      color: $azure;
    }
}

/*******************
  buttons
********************/

.btn {
  &--import {
    position: relative;

    align-self: center;

    width: 85%;
    height: 60px;
    margin: 5px;

    cursor: pointer;

    color: $tintBlue;
    border: 3px solid $tintBlue;
    background: $white;

    font-size: 22px;
  }

  &--collapse {
    animation: collapse 0.25s linear forwards;
  }

  &--expand {
    cursor: default;
    animation: expand 0.25s linear forwards;
  }

  &--import:hover {
    color: $white;
    background: $tintBlue;
  }
}

.btn--close {
  position: absolute;
  top: 15px !important;
  right: 15px !important;

  cursor: pointer;

  @include close();
}

.Import__btn--go {
  position: absolute;
  top: 10px;
  right: 29px;

  height: 2.1rem;

  border-radius: 20px;
}


@keyframes expand {
  100% {
    top: 0;

    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: -65%;

    color: $white;
    border: none;
    background: $azure;

    font-size: 26px;
  }
}

@keyframes collapse {
  0% {
    top: 0;

    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: -65%;

    color: $white;
    border: none;
    background: $azure;

    font-size: 26px;
  }
}

/************************
  DropZone section
************************/
.Import__dropzone {
  margin-bottom: 15px;
}

.Import__h4 {
  margin-bottom: 0px;

  color: $white;

  font-size: 26px;
  font-weight: 400;

  &--margin{
    margin: 10px 30px 0 30px;
  }
}

.Import_paragraph{
  color: $grey;

  font-size: 16px;
  line-height: 2;
}

.Import__label--file-system {
  padding: 0 0 0 3px;

  cursor: pointer;
  text-decoration: underline;

  font-size: 16px;
}

.Import__section--paste{
  position: relative;
}
