@import '~Styles/_imports.scss';

.Description {
    align-self: center;
    p {
      margin: 0;
      line-height: 24px;
    }

    button {
      margin-top: 2px;
    }

    .empty {
      color: $romanSilver;
      opacity: 0.5;
      font-style: oblique;
    }
}

.Description__container{
    position: relative;
    color: $jet;
    white-space: pre-line;
    padding: 5px;
    word-wrap: break-word;
    justify-content: space-between;
    flex-wrap: nowrap;
    min-width: 300px;
    max-width: 500px;
    cursor: pointer;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    max-height: 80px;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 2px;
        border: 1px solid transparent;
    &--hovered {
        border: 1px solid $romanSilver;
    }
}

@media screen and (max-width: 1480px) and (min-width: 1140px) {
    .Description__container{
        max-width: 400px;
    }
}
@media screen and (max-width: 1140px) and (min-width: 0) {
    .Description__container{
        max-width: 300px;
    }
}

.Description__input{
    width: 100%;
    min-height: 66px !important;
    background: $white;
    resize: none;
    margin: 0 30px 0 0;
    line-height: 24px;
    &:focus {
      border: 2px solid #26a69a;
      box-shadow: 0 1px 0 0 #26a69a;
      outline: none;
    }
}

.Description__edit-button,
.Description__edit-button:focus,
.Description__edit-button:hover,{
    position: absolute;
    right: 0;
    bottom: 5px;
    height: 15px;
    width: 15px;
    border: 0px;
    background: $background-color url('~Images/icons/edit.svg') no-repeat center center;
    background-size: 15px;
}

.Description__input-buttons{
    min-height: 66px !important;
    background: $white;
    @include flex(space-around, column);
    position: absolute;
    top: 2px;
    right: 3px;
    border: 1px solid $romanSilver;
    padding: 0 4px;
}

.Description__input-cancel{
    padding: 0;
    width: 20px;
    height: 20px;
    background: url('~Images/icons/x-close-azure.svg') no-repeat center center;
    background-size: 26px;
    border: none;
    &:hover {
        background: url('~Images/icons/x-close-turquise.svg') no-repeat center center;
        background-size: 26px;
        border: none;
    }
}
.Description__input-save{
    padding: 0;
    width: 20px;
    height: 20px;
    background: url('~Images/icons/check-selected.svg') no-repeat center center;
    background-size: 27px;
    border: none;
    &:hover {
        background: url('~Images/icons/check-selected-turquise.svg') no-repeat center center;
        background-size: 26px;
        border: none;
    }
}

@-moz-document url-prefix() {
    .Description__container {
        overflow: hidden;
        position: relative;
    }
    .Description__container:before {
        background: $background-color;
        bottom: 4px;
        position: absolute;
        right: 0;
        float: right;
        content: '\2026';
        margin-left: -2rem;
        width: 22px;
    }
    .Description__container:after {
        content: '';
        background: $background-color;
        position: absolute;
        height: 50px;
        width: 100%;
        z-index: 1;
    }
}
