@import '~Styles/_imports.scss';

.FileBrowser {
    width: 100%;
    padding: 20px;
    position: relative;
    z-index: 1;

    &--highlight{
      background-color: rgba(0,126,168, 0.5);
      border: 1px solid $azure;

      .AddSubfolder {
        background-color: transparent !important;
      }
    }
}

.FileBrowser__tools {
  align-items: center;
}

.FileBrowser__multiselect {
  background: #f0f1f5;
  border-radius: 12px;
}

.FileBrowser__search {
  max-width: 500px;
}

.FileBrowser__input{
  margin: 0px !important;
  height: 34px;
}

.FileBrowser__name-text {

}

.FileBrowser__header {
    @include flex(space-between, row);
    align-items: center;

    border-bottom: 2px solid $romanSilver;
    height: 50px;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    text-align: left;


    &--name{
        margin: 0 60px;
        flex: 1;

    }

    &--size{
        width: 100px;
    }

    &--date{
        width: 140px;
    }

    &--menu{
        width: 140px;
    }
}

.FileBrowser__body {
  overflow-x: visible;
}

.FileBrowser__btn {
  margin: 0 43px 0 8px;
  background: $azure url(~Images/icons/trash-white.svg) no-repeat center center;
  background-size: 20px;

  &:focus {
    background: $azure url(~Images/icons/trash-white.svg) no-repeat center center;
    background-size: 20px;
  }

  &:hover {
    background: $turquise url(~Images/icons/trash-white.svg) no-repeat center center;
    background-size: 20px;
  }
}

.FileBrowser__dropTarget{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 1;

  background-color: $azure;

  opacity: 0.7;

  @include flex(center, column);
}

.FileBrowser__h3{
  color: $white;
  font-weight: 100;
  text-align: center;
}
