@import '~Styles/_imports.scss';

.FileBrowser{
    width: 100%;
    padding: 20px;
    position: relative;
}
.FileBrowser__header{
    @include flex(flex-start, row);
    position: relative;
    border-bottom: 2px solid $romanSilver;
    height: 50px;
    padding: 12px 0;

    & div:first-child {
        padding-left: 5%
    }
    & div:nth-child(2) {
        position: absolute;
        right: 420px;
    }
    & div:nth-child(3) {
        position: absolute;
        right: 220px;
    }
}

.FileBrowser__body{
    max-height: 400px;
    overflow-x: auto;
}