@import '~Styles/_imports.scss';

.Labbooks {
  width: auto;
  min-width: 760px;
  max-width: 1235px;
  height: 100%;
  margin: 0 auto 0 25px;
  overflow: visible;
}

.Labbooks--demo{
  margin-top: 100px;
}

.Labbooks__username {
  margin: 20px 0 10px 0;
  padding: 0;

}

.Labbooks__title-add {
  position: absolute;

  width: 20px;
  height: 20px;

  transition: all 0.3s;

  border-width: 0px;
  border-radius: 12px;
  background: $azure url('~Images/icons/add.svg') no-repeat center center;
  background-size: 12px;

}


.Labbooks__title:hover {
  .Labbooks__title-add {
    opacity: 1;
  }
}

.Labbooks__subheader {
  position: relative;
  margin-top: 20px;
}

.Labbooks__search-container{
  position: relative;
}

.Labbooks__search-cancel{
  position: absolute;
  height: 24px;
  width: 24px;
  top: 4px;
  right: 10px;
  background: url('~Images/icons/close.svg') no-repeat center center;
  background-size: 24px;
  cursor: pointer;
}

.Labbooks__search-cancel--text{
  color: $romanSilver;
  position: absolute;
  right: 40px;
  top: 7px;
  text-align: right;
}

.Labbooks__labbook-header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 125px;
  padding-top: 20px;
}

.Labbooks__labbook-header {
  position: relative;

  width: 100%;
  height: 100%;

  @include flex(center, column)
}


.Labbooks__fetch-error {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;

  font-size: 24px;
}

.Labbooks__no-results{
  color: $romanSilver;
  width: 100%;
  text-align: center;
  margin-top: 150px;
}

.Labbooks__h3{
  font-weight: 100;
  font-size: 36px;
  margin-bottom: 10px;
}

.Labbooks__paragraph--margin{
  margin-top: 10px;
}

.Labbooks__span{
  font-weight: 100;
  cursor: pointer;
  text-decoration: underline;
}

.Labbooks__listing {
  overflow: visible;
  height: calc(100% - 90px);

  @include flex(flex-start, row);
}


@media screen and (max-width: 1440px) and (min-width: 1124px) {
  .Labbooks__search-container {
    width: auto;
  }
}