@import '~Styles/_imports.scss';

.Branches {
  position: relative;

  max-width: calc(100% + $sideBarWidth);
  height: 310px;
  margin: 10px -20px;
  padding: 20px 0;

  transition: height 0.6s;

  background-color: $background-color;

  &--collapsed {
    height: 0px;
    padding: 0px;

    transition: height 0.6s;
  }
}

.Branches__list-cover {
  position: relative;

  overflow: hidden;

  max-width: calc(100% - 20px);
  height: 260px;
  padding: 0;

  transition: height 0.6s;

  color: $jet;
  background-color: $backgroundGrey;

  @include flex(column, space-around);

  &--closed {
    position: relative;

    overflow: hidden;

    height: 0px;

    transition: height 0.6s;
  }
}

.Branches__btn {

  &--slider{
    position: absolute;
    z-index: index($elements, button);
    top: 50%;

    width: 40px;
    height: 40px;
    margin: -20px 0 0;

    border-width: 0px;

    &:hover,
    &:focus {
      border-width: 0px;
      background-color: rgba(0,0,0,0);
    }
  }

  &--left{
    left: 0px;

    transform: rotate(90deg);

    background: url('~Images/icons/down-arrow-silver.svg') no-repeat center center;
    background-size: 30px;

    &:hover,
    :focus {
        background: url('~Images/icons/down-arrow-silver.svg') no-repeat center center;
        background-size: 30px;
    }
  }

  &--right{
    right: 5px;

    transform: rotate(270deg);

    background: url('~Images/icons/down-arrow-silver.svg') no-repeat center center;
    background-size: 30px;

    &:hover,
    :focus {
        background: url('~Images/icons/down-arrow-silver.svg') no-repeat center center;
        background-size: 30px;
    }
  }

  &--close{
      right: 80px;

      @include close();
  }
}

.Branches__list {
  position: absolute;
  left: 0px;

  overflow: hidden;
  align-self: center;

  height: 222px;
  padding: 0 30px;

  transition: height 0.6s;
  transition: left 0.5s;

  @include flex(flex-start, row);

  &--collapsed {
    z-index: -1;

    overflow: hidden;

    height: 0px !important;

    .BranchCard {
      height: 0px;

      opacity: 0;
    }
  }
}

.Branches__shadow {
  position: absolute;

  width: 100%;
  height: 5px;

  &--upper {
    top: 0px;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 6px 2px;
  }

  &--lower {
    bottom: 0px;

    box-shadow: rgba(0, 0, 0, 0.1) 0px -5px 6px 2px;
  }
}

.Branches__cardWrapper {
  width: calc(20.8vw - 50px);
  min-width: calc(20.8vw - 50px);
  max-width: calc(20.8vw - 50px);
}

@media screen and (max-width: 50000px) and (min-width: 1480px) {
  .Branches{
    margin: 10px -35px;
  }
}

@media screen and (max-width: 1239px) and (min-width: 0px) {
  .Branches__cardWrapper {
    width: calc(31.25vw - 50px);
    min-width: calc(31.25vw - 50px);
    max-width: calc(31.25vw - 50px);
  }
}

@media screen and (max-width: 1600px) and (min-width: 1240px) {
  .Branches__cardWrapper {
    width: calc(25vw - 50px);
    min-width: calc(25vw - 50px);
    max-width: calc(25vw - 50px);
  }
}
