@import '~Styles/_imports.scss';

.BranchCard {
  position: relative;

  align-content: center;
  align-items: center;
  align-self: center;

  width: calc(100% - 40px);
  min-width: 100px;
  height: 200px;
  margin: 20px;
  padding: 5px 15px;

  transition: height 0.5s ease, opacity 0.5s ease;

  opacity: 1;

  @include flex(space-around, column);
}


.BranchCard--currentBanner {
  position: absolute;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 24px;
  padding: 2px 10px;

  color: white;
  background-color: $azure;

  line-height: 20px;
}

.BranchCard__h6 {
  align-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;

  width: 190px;

  word-break: break-all;
}

.BranchCard__btn--deleteLabbook{
  position: absolute;
  top: 30px;
  right: 20px;


  width: 30px;
  height: 30px;

  border: 0px solid $white;
  background: $white url(~Images/icons/rubbish-bin.svg) no-repeat center center;
  background-size: 24px;

  &:hover,
   :focus{
    background: $white url(~Images/icons/rubbish-bin--turquise.svg) no-repeat center center;
    background-size: 24px;
  }
}

.BranchCard__button {
  @include flex(flex-start, column)
}

.BranchCard__badge{
  font-size: 14px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: $romanSilver;
  padding: 5px 10px;
  color: $white;
}