@import '~Styles/_imports.scss';

.ForceMege__text{
  margin: 60px 0;
  text-align: center;
  align-self: center;
}

.ForceMege__buttonContainer{
  @include flex(space-around, row);
  align-self: center;
  width: 500px;
}
