.Branches {
  background-color: $backgroundGrey;
  color: $jet;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
  height: 260px;
  transition: height 0.6s;
  @include flex(column, space-around);
}


.Branches--closed {
  height: 0px;
  transition: height 0.6s;
  position: relative;
  overflow: hidden;
}

.Branches__slider-button {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  margin: -20px 0 0;
  z-index: index($elements, button);
  border-width: 0px;
}

.Branches__slider-button:hover,
.Branches__slider-button:focus {
  background-color: rgba(0,0,0,0);
  border-width: 0px;
}
.Branches__slider-button--left {
  @extend .Branches__slider-button;
  left: 0px;
  background: url('./../images/icons/down-arrow-silver.svg') no-repeat center center;
  background-size: 30px;
  transform: rotate(90deg);
}

.Branches__slider-button--left:hover,
.Branches__slider-button--left:focus {
    background: url('./../images/icons/down-arrow-silver.svg') no-repeat center center;
    background-size: 30px;
}

.Branches__slider-button--right {
  @extend .Branches__slider-button;
  right: 5px;
  background: url('./../images/icons/down-arrow-silver.svg') no-repeat center center;
  background-size: 30px;
  transform: rotate(270deg);
}

.Branches__slider-button--right:hover,
.Branches__slider-button--right:focus {
    background: url('./../images/icons/down-arrow-silver.svg') no-repeat center center;
    background-size: 30px;
}

.Branches__branches-list {
  height: 222px;
  transition: height 0.6s;
  padding: 0 30px;
  overflow: hidden;
  left: 0px;
  position: absolute;
  transition: left 0.5s;
  align-self: center;
  @include flex(flex-start, row);
}

.Branches__branches-list--collapsed {
  height: 0px !important;
  z-index: -1;
  overflow: hidden;
}

.Branches__card-wrapper {
  width: calc(20.8vw - 50px);
  max-width: calc(20.8vw - 50px);
  min-width: calc(20.8vw - 50px);
}

@media screen and (max-width: 1239px) and (min-width: 0px) {
  .Branches__card-wrapper {
    width: calc(31.25vw - 50px);
    max-width: calc(31.25vw - 50px);
    min-width: calc(31.25vw - 50px);
  }
}

@media screen and (max-width: 1600px) and (min-width: 1240px) {
  .Branches__card-wrapper {
    width: calc(25vw - 50px);
    max-width: calc(25vw - 50px);
    min-width: calc(25vw - 50px);
  }
}


.Branches-shadow {
  position: absolute;
  width: 100%;
  height: 1px;
  background: $backgroundGrey;
}


.BranchCard__name-input {
  margin: 2px 0 !important;
  height: 30px !important;
  border-bottom: 2px solid $turquise !important;
}

.Branches__branches-list--collapsed {
  .BranchCard {
    height: 0px;
    opacity: 0;
  }

  .BranchCard--create-new {
    height: 0px;
    opacity: 0;
  }
}

.Branch__error {
  font-size: 12px;
  margin: 5px 0;
  line-height: 14px;
  height: 42px;
}

.Branhces__button--close{
    @include close();
    right: 80px;
}
