.CreateBranch__nav {
  @include flex(space-between, row);
}

.CreateBranch__nav-group {
  @include flex(flex-end, row);

}

.CreateBranch_nav-item{
  width: 100px;
  align-content: center;
  text-align: center;
}

.CreateBranch__modal-inner-container {
    height: calc(100% - 40px);
    padding: 20px;
}

.CreateBranch__title {
  color: $jet;
  text-align: center;
}

.CreateBranch__progress{
    margin-top: 25px;
    width: 100%;
}

.CreateBranch__progress-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li{
      flex: 1 0 auto;
      border-top: 2px solid $azure;
      text-align: center;
      padding: 2px;
      height: 4px;
      margin: 0 2px;
      font-size: 12px;
    }

    li.selected {
      border-top: 6px solid $azure;
    }
}

.CreateBranch__progress-button {
  margin: 0 10px;
}




.CreateBranch {
  padding: 20px;
  height: 390px;

  input[type=text].invalid,
  input[type=text].invalid:focus,
  input[type=text].invalid:hover {
    color: $crimson;
    border-color: $crimson;
  }

  .error {
    color: $crimson;
  }
}

.CreateBranch__warning {
  text-align: right;
  margin: 0px;
}
.CreateBranch__warning--hidden {
  color: $turquise;
  visibility: hidden;

}

.CreateBranch__warning--green {
  color: $turquise;
}

.CreateBranch__warning--yellow {
  color: $goldenLemon;
}

.CreateBranch__warning--red {
  color: $crimson;
}

.CreateBranch__modal-inner-container {
  height: 280px;
}

.CreateBranch__description-input {
  width: 100%;
  height: 100px;
  resize: none;
  padding: 4px;

}

.CreateBranch__description-input:focus {
  border: 2px solid #26a69a;
  box-shadow: 0 1px 0 0 #26a69a;
  outline: none;
  padding: 3px;
}
