@import '~Styles/_imports.scss';


.LoginText {
  color: $white;
  text-align: left;
  width: 510px;
  padding: 15px;
  max-height: 350px;

  p, a {
    font-size: 18px;
    font-weight: 100;
  }

  h4 {
    color: $white;
    text-align: center;
    margin-top: 20.6421px;
    margin-bottom: 0;
  }
}
