@import '~Styles/_imports.scss';

$dropBoxWidth: 250px;
.BranchMenu {
  @include flex(flex-start, row);
  z-index: index($elements, popup) - 1;
}

.BranchMenu__status {
  width: auto;
  align-items: flex-end;
  margin: 0 35px 0 10px;
 @include flex(flex-start, row-reverse);

  &--local {
      width: 22px;
      height: 22px;
      background: url('~Images/icons/branches/local.png') no-repeat center center;
      background-size: 22px;
  }
  &--remote {
      width: 22px;
      height: 22px;
      background: url('~Images/icons/branches/remote.png') no-repeat center center;
      background-size: 22px;
  }
}

.BranchMenu__dropdown {
   position: relative;
   overflow: visible;
   z-index: index($elements, popup) + 1;



   &-btn {
     position: relative;
     padding: 0 0 0 10px;
     height: 40px;
     width: auto;
     max-width: $dropBoxWidth + 100px;
     border: 1px solid $primary;
     cursor: pointer;
     @include flex(space-around, row);
     flex-wrap: nowrap;
     align-items: center;

     &:hover {
      @include boxShadowDark();
     }

     background: url('~Images/icons/down-arrow-azure.svg') no-repeat calc(100% - 10px) center;
     background-size: 20px;

     &--disabled,
     &--disabled:hover,
     &--disabled:focus {
       background: $background-color url(~Images/icons/down-arrow-silver.svg) no-repeat calc(100% - 10px) center !important;
       background-size: 20px !important;
       border: 1px solid $romanSilver;
       color: $romanSilver !important;
       cursor: auto;
       * {
         color: $romanSilver !important;
       }
       .BranchMenu__status{
         pointer-events: none;
       }
     }
   }

   &-btn--open {
     background: url('~Images/icons/up-arrow-azure.svg') no-repeat calc(100% - 10px) center;
     background-size: 20px;
   }

   &-menu {
     position: absolute;
     background: $white;
     top: 40px;
     padding: 10px;
     width: $dropBoxWidth + 50px;
     animation: slide-down-fade-in forwards .25s;
     @include boxShadow();
   }

   &-label {
     color: $primaryText;
     font-size: 14px;
   }

   &-text {
     margin: 0 0 0 5px;
     color: $primary;
     font-size: 18px;
     max-width: 220px;
   }
}
.BranchMenu__buttons {
  @include flex(space-around, row);
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 0 0 10px;
}
.Btn--branch {
  height: 40px;
  line-height: 30px;
  color: $primary;
  background: transparent;
  border: 1px solid $primary;
  margin: 0 2px;
  border-radius: 3px;

  padding: 0 10px 0 30px;

  &:hover {
    color: $white;
    background-color: $primary;
    border: 1px solid $primary;
    padding: 0 10px 0 30px;
  }
  &:disabled{
    background-color: $background-color !important;
    border: 1px solid $romanSilver !important;
  }

  &--create {

    background: url(~Images/icons/branches/create.svg) no-repeat center center;
    background-size: 25px;

    &:hover, &:focus {
      color: $white;
      background: $primary url(~Images/icons/branches/create-hover.svg) no-repeat center center;
      background-size: 25px;
    }
    &:disabled {
      background: $background-color url(~Images/icons/branches/create-disabled.svg) no-repeat center center;
      background-size: 25px !important;
      border: 1px solid $romanSilver;
      color: $romanSilver;
      cursor: auto;
    }
  }

  &--manage {
    background: url(~Images/icons/branches/manage.svg) no-repeat center center;
    background-size: 25px;

    &:hover, &:focus {
      color: $white;
      background: $primary url(~Images/icons/branches/manage-hover.svg) no-repeat center center;
      background-size: 25px;
    }
    &:disabled {
      background: $background-color url(~Images/icons/branches/manage-disabled.svg) no-repeat center center;
      background-size: 25px;
      border: 1px solid $romanSilver;
      color: $romanSilver;
      cursor: auto;
    }
  }

  &--reset {
    background: url(~Images/icons/branches/reset.svg) no-repeat center center;
    background-size: 25px;

    &:hover, &:focus {
      color: $white;
      background: $primary url(~Images/icons/branches/reset-hover.svg) no-repeat center center;
      background-size: 25px;
    }
    &:disabled{
      background: $background-color url(~Images/icons/branches/reset-disabled.svg) no-repeat center center;
      background-size: 25px;
      border: 1px solid $romanSilver;
      color: $romanSilver;
      cursor: auto;
    }
  }

  &--sync {
    padding: 0 10px 0 10px;
    @include flex(space-around, row);
    align-items: center;
    background: transparent;
    color: $primary;
    border-radius: 3px 0 0 3px;
    &:hover {
      padding: 0 10px 0 10px;

      background: $primary;
      color: $white;

      .BranchMenu__sync-status {
        font-weight: 100;
        font-size: 12px;
        background: $white;
        color: $primary;

        .BranchMenu__sync-status--commits-behind {
          background: url(~Images/icons/branches/commit-behind-azure.svg) no-repeat  right -6px bottom 8px;
          background-size: 25px;
        }

        .BranchMenu__sync-status--commits-ahead {
          background: url(~Images/icons/branches/commit-ahead-azure.svg) no-repeat right -4px top 1px;
          background-size: 25px;
        }
      }
    }
    &--upToDate{
      background: url('~Images/icons/branches/sync.svg') no-repeat left 5px center;
      background-size: 25px !important;
      padding: 0 10px 0 30px !important;
      &:hover, &:focus{
        background: $primary url('~Images/icons/branches/sync-hover.svg') no-repeat left 5px center;
        background-size: 25px !important;
        color: $white;
      }
      &:disabled{
        background: $background-color url(~Images/icons/branches/sync-disabled.svg) no-repeat 5px center;
        background-size: 25px !important;
        border: 1px solid $romanSilver;
        color: $romanSilver;
        padding: 0 10px 0 30px !important;
        cursor: auto;
      }
    }
    &--publish{
      background: url('~Images/icons/branches/push.svg') no-repeat left 5px center;
      background-size: 25px !important;
      padding: 0 10px 0 30px !important;
      &:hover, &:focus{
        background: $primary url('~Images/icons/branches/push-hover.svg') no-repeat left 5px center;
        background-size: 25px !important;
        color: $white;
      }
      &:disabled {
        background: $background-color url(~Images/icons/branches/push-disabled.svg) no-repeat 5px center;
        background-size: 25px !important;
        border: 1px solid $romanSilver;
        color: $romanSilver;
        padding: 0 10px 0 30px !important;
        cursor: auto;
      }
    }
    &--pull{
      background: url('~Images/icons/branches/pull.svg') no-repeat left 5px center;
      background-size: 25px !important;
      padding: 0 10px 0 30px !important;
      &:hover, &:focus{
        background: $primary url('~Images/icons/branches/pull-hover.svg') no-repeat left 5px center;
        background-size: 25px !important;
        color: $white;
      }
      &:disabled{
        background: $background-color url(~Images/icons/branches/pull-disabled.svg) no-repeat 5px center;
        background-size: 25px !important;
        border: 1px solid $romanSilver;
        color: $romanSilver;
        padding: 0 10px 0 30px !important;
        cursor: auto;
      }
    }
  }

  &--sync-dropdown {
    margin-left: 0px;
    width: 24px;
    padding: 2px;
    background: url(~Images/icons/down-arrow-azure.svg) no-repeat center center;
    background-size: 20px;
    border-radius: 0 3px 3px 0;
    &:hover, &:focus {
      background: $primary url(~Images/icons/down-arrow-white.svg) no-repeat center center;
      background-size: 20px;
      margin-left: 0px;
      width: 24px;
      padding: 2px;
    }

    &:disabled {
      background: $background-color url(~Images/icons/down-arrow-silver.svg) no-repeat center center;
      background-size: 20px !important;
      border: 1px solid $romanSilver;
      color: $romanSilver;
      cursor: auto;
    }
  }

  &--sync-open {
    background: url(~Images/icons/up-arrow-azure.svg) no-repeat center center;
    background-size: 20px;

    &:hover, &:focus {
      background: $primary url(~Images/icons/up-arrow-white.svg) no-repeat center center;
      background-size: 20px;
    }
  }
}

.BranchMenu__icon {
  height: 24px;
  width: 24px;
  &--error {
    background: url(~Images/icons/exclamation-orange.svg) no-repeat center center;
    background-size: 20px;
  }

}

.BranchMenu__sync-container {
  position: relative;
  @include flex(flex-start, row);
}

.BranchMenu__sync-status {
  @include flex(space-around, row);
  align-items: center;
  flex-wrap: nowrap;
  color: $white;
  font-weight: 100;
  font-size: 12px;
  margin: 0 3px;
  padding: 2px;
  background: $primary;
  border-radius: 10px;
  height: 20px;

  .BranchMenu__sync-status--commits-behind {
    padding: 2px 15px 2px 2px;
    background: url(~Images/icons/branches/commit-behind.svg) no-repeat right -6px bottom 8px;
    background-size: 25px;
  }

  .BranchMenu__sync-status--commits-ahead {
    padding: 2px 15px 2px 2px;
    background: url(~Images/icons/branches/commit-ahead.svg) no-repeat right -4px top 1px;
    background-size: 25px;
  }
}

.BranchMenu__h5 {
  margin: 0;
  font-size: 16px;
  border-bottom: 2px solid $romanSilver;
}

.BranchMenu__ul{
  margin: 1px 0;
}

.BranchMenu__list-item {
  padding: 10px 10px;
  color: $primaryText;
  cursor: pointer;
  @include flex(space-between, row);
  align-items: center;
  font-size: 16px !important;
  &--create {
    flex-direction: column;
    font-size: 14px !important;
    &:hover > button {
      color: $secondary;
    }
  }
  &:hover {
    background-color: $primary;
    color: $white;
  }

  border-bottom: 1px solid $grey;


  &:last-child {
    border-bottom: 0px solid $white;
  }
}

.BranchMenu__text {
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
  flex: 1;
}

.BranchMenu__icons {
  @include flex(space-between, row);
  align-items: center;
}

.BranchMenu__icon {
    height: 30px;
    width: 30px;
    &--local {
       background: url(~Images/icons/branches/local.png) no-repeat center center;
       background-size: 20px;

       &:hover {
         background: url(~Images/icons/branches/local.png) no-repeat center center;
         background-size: 20px;
       }
    }

    &--remote {
      background: url(~Images/icons/branches/remote.png) no-repeat center center;
      background-size: 20px;

      &:hover {
        background: url(~Images/icons/branches/remote.png) no-repeat center center;
        background-size: 20px;
      }
    }

    &--empty {
      background: url('') no-repeat center center;
      background-size: 20px;
    }
}

.BranchMenu__menu-button {
  width: 100%;
  text-align: center;
}

.BranchMenu__other-text{
  font-size: 12px;
  padding: 5px 0;
  color: $primaryText;
}


.BranchMenu__branch-name{
  @include flex(flex-start, row);
  line-height: 19px;
  text-align: end;

  &--switching {
    max-width: calc(100% - 80px);
  }
  .BranchMenu__dropdown-label{
    align-self: flex-end;
  }
  .BranchMenu__dropdown-text{
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
  }
}

.BranchMenu__reset-container {
  position: relative;
  height: 40px;
}

.BranchMenu__popup {
  &:before {
    content: '';
    @include triangle('up', 9px, $white);
    position: absolute;
    top: -9px;
    left: 33px;
  }
  background: $white;
  padding: 10px;
  font-size: 14px !important;
  width: 200px;
  position: absolute;
  top: 50px;
  left: -20px;
  text-align: center;
  z-index: index($elements, popup);
}

.Branches__cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $slateBlue;
  z-index: 10000;
}

.BranchMenu__action{
  margin: 10px;
  &:after{
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026";
    width: 0px;
  }
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@media screen and (max-width: 1060px) and (min-width: 0px) {
  .BranchMenu__dropdown-btn{
    max-width: 260px;
  }

  .BranchMenu__dropdown-text{
    width: 110px;
  }
}

@media screen and (max-width: 980px) and (min-width: 0px) {
  .BranchMenu__dropdown-btn{
    max-width: 230px;
  }

  .BranchMenu__dropdown-text{
    width: 80px;
  }
}

@media screen and (max-width: 1280px) and (min-width: 0px) {
  .BranchMenu__buttons{
    font-size: 0 !important;
  }
  .Btn--branch {
    padding-right: 5px !important;
    &--sync{
      background-position: center center !important;
    }
  }
}
