@import '~Styles/_imports.scss';


.VisibilityModal{
  height: 100%;

  @include flex(space-between, column);
}

.VisibilityModal__buttons{
  width: 100%;
  margin: 0 auto;

  @include flex(flex-end, row);
}

.VisibilityModal__private{
  align-items: center;
  padding: 0 0 0 70px;
  background: url(~Images/icons/lock.svg) no-repeat 30px center;
  background-size: 20px;

  @include flex(space-between, row);
}

.VisibilityModal__public{
  align-items: center;
  padding: 0 0 0 70px;
  background: url(~Images/icons/earth.svg) no-repeat 30px center;
  background-size: 20px;
  @include flex(space-between, row);
}

.VisibilityModal__paragraph{
  min-width: 640px;
  max-width: 640px;
  padding: 0 0 0 80px;
}
