version: 2
jobs:
  build:
    docker:
      - image: gigantum/circleci-common:84814eab-2018-07-25

    working_directory: ~/repo

    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Set Git credentials config
          command: git config --global user.email "noreply@gigantum.io" && git config --global user.name "CircleCI" && git config --global credential.helper store

      - run:
          name: Install proxy lib
          command: cd ~/repo/packages/gtmconfhttpproxy && pip3 install -e .

      - run:
          name: Run mypy type checker
          command: |
            python3 -m mypy packages/gtmcore --ignore-missing-imports --strict-optional

      - run:
          name: Set authentication credentials
          command: bash /home/circleci/project/.circleci/write_auth.sh

      - run:
          name: Run unit and coverage tests
          command: |
            redis-server &
            rqscheduler --interval=2 2> /dev/null &
            pytest --cov=lmcommon packages/gtmcore
            coveralls

