@import '~Styles/_imports.scss';

.AddSecret {
  padding: 20px;
  border: 1px solid $grey-border;
}

.AddSecret__input {
  margin-bottom: 20px;
}

.AddSecret__label-container{
  margin-right: 100px;
}
