@import '~Styles/_imports.scss';

.SecretsTable__header-file,
.SecretsTable__row-file {
  width: 200px;
}

.SecretsTable__row-file {
  padding-left: 10px;
  &:before {
    font-family: octicons;
    font-size: 16px;
    top: 1px;
    content: "\f011";
  }
  &--missing {
    &:before{
     display: none;
    }
  }
  &--editing {
    color: $backgroundGrey;
    height: 90px;
    padding: 10px 0;
    .Btn {
      margin: 5px !important;
    }
  }
}

.SecretsTable__header-actions,
.SecretsTable__row-actions {
  width: 80px;
  text-align: center;
}