@import '~Styles/_imports.scss';

.FileBrowser {
    width: 100%;
    padding: 20px;
    position: relative;
    z-index: 1;

    &--highlight {
      background-color: rgba(0,126,168, 0.2);
      border: 1px solid $azure;

      .AddSubfolder {
        background-color: transparent !important;
      }
    }

    &--dropzone {
      border: 1px dashed $romanSilver;
    }

    &--linkVisible {
      z-index: 13 !important;
    }
}

.FileBrowser__empty{
  display: flex;
  align-content: center;
  justify-content: center;
}

.FileBrowser__tools {
  align-items: center;
}

.FileBrowser__multiselect {
  background: #f0f1f5;
  border-radius: 12px;
  position: absolute;
  align-items: center;
  top: 7px;
  left: 0;
  z-index: 2;
}

.FileBrowser__input[type='text']{
  align-self: flex-start;
}

.FileBrowser__name-text {
  position: relative;
}

.FileBrowser__header {
    @include flex(space-between, row);
    align-items: center;
    position: relative;

    border-bottom: 2px solid $romanSilver;
    height: 50px;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    cursor: pointer;

    &--name{
        margin: 0 60px;
        flex: 1;
    }

    &--size{
        width: 100px;
        position: relative;
        &:before{
          left: 75px !important;
        }
    }

    &--date{
        width: 140px;
        position: relative;
        &:before{
          left: 120px !important;
        }
    }

    &--menu{
        width: 180px;
        padding: 0 20px 0 0;
    }
}

.FileBrowser__body {
  overflow-x: visible;
}

.FileBrowser__btn {
  margin: 0 43px 0 8px;
  background: $azure url(~Images/icons/trash-white.svg) no-repeat center center;
  background-size: 20px;

  &:focus {
    background: $azure url(~Images/icons/trash-white.svg) no-repeat center center;
    background-size: 20px;
  }

  &:hover {
    background: $turquise url(~Images/icons/trash-white.svg) no-repeat center center;
    background-size: 20px;
  }
}

.FileBrowser__dropTarget{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 1;

  background-color: $azure;

  opacity: 0.7;

  @include flex(center, column);
}

.FileBrowser__h3{
  color: $white;
  font-weight: 100;
  text-align: center;
}

.FileBroser__sort {
  &--asc:before {
    background: url('~Images/icons/up-arrow-silver.svg') no-repeat center center;
    background-size: 15px;
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: 50px;
    top: 10px;
  }
  &--desc:before {
    background: url('~Images/icons/down-arrow-silver.svg') no-repeat center center;
    background-size: 15px;
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: 50px;
    top: 7px;
  }
}

.FileBrowser__popup {
  width: 140px;
  position: absolute;
  top: 46px;
  left: -10px;
  text-align: center;
  z-index: index($elements, popup);

  .Tooltip__pointer {
    top: -10px;
    right: 55px;
  }
}

.FileBrowser__modal-body {
  height: 100%;
  p{
    margin-top: 50px;
  }
}

.FileBrowser__button-container{
  width: 500px;
}

.FileBrowser__button {
  height: 23px;
  width: 23px;
  margin: 0 10px;
  position: relative;
  border: 1px solid $azure;

  &--download-all {
    height: 30px;
    width: 45px;
    background: transparent url(~Images/icons/database-dark-download.svg) no-repeat center center;
    background-size: 25px;
    margin-right: -8px;
  }
  &--downloaded {
    height: 30px;
    width: 45px;
    background: $background-color url(~Images/icons/database-dark-local.svg) no-repeat center center;
    background-size: 25px;
    margin-right: -8px;
  }
  &--downloading{
    height: 30px;
    width: 45px;
    background: $background-color no-repeat center center;
    background-size: 25px;
    margin-right: -8px;
    position: relative;
    cursor: auto;
      div {
        position: absolute;
        top: 3px;
        left: 10px;
        width: 25px;
        height: 25px;
        border: 2px solid $grey;
        border-top: 2px solid $azure;
        border-radius: 50%;
        animation: spin 2s linear infinite;
      }
    &:hover {
        border: none;
        box-shadow: none;
    }
    &:hover:after {
        display: none;
    }
  }
}

.FileBrowser__veil{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: $slateBlueOpaque;
  color: $white;
  font-size: 24px;
  @include flex(center, column);
  align-items: center;
  z-index: 2;
}

.FileBrowser__menu {
  @include flex(space-between, row);
  position: relative;
  align-items: center;
  border-bottom: 2px solid $romanSilver;
  height: 50px;
  width: 100%;
  margin-bottom: 10px;

  &-buttons {
    display: flex;
    align-items: flex-end;
  }
}

.FileBrowser__menu-buttons{
  color: $azure;
}

.FileBrowser__upload-label {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  &:hover {
    span {
      text-decoration: underline;
    }
    .Btn__upArrow {
      background: $azure url(~Images/icons/update-white.svg) no-repeat center center;
      background-size: 18px;
    }
  }
}

.Btn__menuButton {
  background: transparent;
  color: $azure;
  height: 34px;
  display: flex;
  align-items: flex-end;
  width: auto;
  margin: 0;

  &:hover {
    text-decoration: underline;
  }
  &:disabled {
    background-color: transparent !important;
    color: $romanSilver;
    pointer-events: none;
  }
}

.FileBrowser__newFolder {
  &:hover {
    .Btn__addFolder {
      background: $azure url(~Images/icons/folder-add-new-hover.svg) no-repeat left 4px top 2px;
      background-size: 18px;
    }
  }
}
.FileBrowser__addDataset{
  &:hover {
    .Btn__addDataset {
      background: $azure url(~Images/icons/database-add-hover.svg) no-repeat center center;
      background-size: 18px;
    }
  }
  &:disabled {
    .Btn__addDataset {
      background: url(~Images/icons/database-add-grey.svg) no-repeat center center !important;
      background-size: 18px;
      border: 1px solid $romanSilver;
    }
  }
}