@import '~Styles/_imports.scss';

.LinkCard__dataset {
    padding: 10px 10px;
}
.LinkCard__dataset img {
    align-self: flex-start;
    margin: 18px 20px 0;

}

.LinkCard__text{

    flex: 1;

    @include flex(flex-start, column);
    p {
      align-self: flex-start;
      max-width: 375px;
      word-break: break-word;
    }
    ul {
      margin: 0;
    }
}

.LinkCard__header {
  color: $azure;
}

.LinkCard__paragraph {

  padding-right: 10px;
  line-height: 18px;

  &--grey {
    color: $romanSilver;
    font-size: $small-fontsize;
  }
}

.LinkCard__details{

    color: $slateBlue;
    margin: 0 20px 10px 0;
    word-break: break-word;
    width: 240px;

    @include flex(flex-start, column);

    p {
        margin: 2px 0;
    }
  }

.LinkCard__dataset {

    min-width: calc(50% - 10px);
    margin: 10px 0;
    height: auto;

    cursor: pointer;

    @include flex(flex-start, row);

    &--selected {
      border: 2px solid $azure;
    }
  }
