@import '~Styles/_imports.scss';
.LinkModal{
  height: 100%;
}

.LinkModal__header {
  text-align: center;
  border-bottom: 1px solid $grey-border;
  height: 60px;
  background: url('~Images/icons/datasets-jet.svg') no-repeat left 355px center;
  background-size: 30px;
  .Icon--add--green {
    width: 13px;
    height: 13px;
    background-size: 8px;
    position: absolute;
    left: 372px;
    top: 41px;
  }
}

.LinkModal__header-text {
  line-height: 60px;
}

.LinkModal__subheader{
  padding: 0 80px;
  height: 65px;
  border-bottom: 1px solid $grey-border;
}
.LinkModal__subheader-text {
  line-height: 65px;
  font-weight: 100;
  margin: 0;
}


.LinkModal__flex{
  height: calc(100% - 233px);
  background: $lightGrey;
  border-bottom: 1px solid $grey-border;
}

.LinkModal__container {
  @include flex(flex-start, row);
  flex-wrap: wrap;
  overflow: hidden;
  height: 100%;
  padding: 20px 80px;
}

.Link__buttonContainer {
  padding: 0 80px;
  height: 100px;
  @include flex(flex-end, row);
}

.LinkModal__card{
  height: 260px;
  overflow: visible;
  &--border {
    border: 3px solid $slateBlue;
  }

  .Card{
    height: 230px;
  }
}

.LinkModal__dataset-container{
  margin-top: 100px;
  height: calc(100% - 101px);
  overflow: auto;
  width: 100%;
}

.LinkModal__wrapper{
  margin: 0 7px;
}

.LinkModal__message {
  padding: 0 20%;
  &--padded {
    padding: 20%;
  }
}
