@import '~Styles/_imports.scss';
.LinkModal{
  height: 100%;
}

.LinkModal__flex{
  height: 100%;
}
.LinkModal__container {
  @include flex(flex-start, row);
  flex-wrap: wrap;
  overflow: auto;
  height: 600px;
  border-bottom: 1px solid $slateBlue;
}

.Link__buttonContainer {
  margin-top: 10px;
  align-self: flex-end;
  width: 300px;
  @include flex(space-between, row);
}

.LinkModal__card{
  height: 260px;
  overflow: visible;
  &--border {
    border: 3px solid $slateBlue;
  }

  .Card{
    height: 230px;
  }
}

.LinkModal__dataset-container{
  margin-top: 100px;
  height: 376px;
  overflow: auto;
  width: 100%;
}

.LinkModal__wrapper{
  margin: 0 7px;
}
