@import '~Styles/_imports.scss';

.LinkCard__dataset img {
    align-self: flex-start;
    margin: 10px 20px 0;
}

.LinkCard__text{

    flex: 1;

    @include flex(flex-start, column);
    p {
      align-self: flex-start;
      max-width: 375px;
      padding: 10px;
    }
    ul {
      margin: 0;
    }
}

.LinkCard__details{

    color: $slateBlue;
    margin: 0 40px 10px 0;

    @include flex(space-around, column);

    p {
        margin: 2px 0;
    }
  }

.LinkCard__dataset {

    min-width: calc(50% - 10px);
    margin: 10px 0;
    height: auto;

    cursor: pointer;

    @include flex(flex-start, row);

    &--selected {
      border: 2px solid $azure;
    }
  }
