.CreateLabbook {
  height: 275px;
  input[type=text] {
    padding: 0 !important;
  }
  input[type=text].invalid,
  input[type=text].invalid:focus,
  input[type=text].invalid:hover {
    color: $crimson;
    border-color: $crimson;
  }

  .error {
    color: $crimson;
  }
}

.CreateLabbook__warning {
  text-align: right;
  margin: 0px;
}
.CreateLabbook__warning--hidden {
  color: $turquise;
  visibility: hidden;

}

.CreateLabbook__warning--green {
  color: $turquise;
}

.CreateLabbook__warning--yellow {
  color: $goldenLemon;
}

.CreateLabbook__warning--red {
  color: $crimson;
}

.CreateLabbook__header {
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    color: $azure;
    text-align: center;
    font-weight: 400;
    border-bottom: 1px solid $azure;
}

.CreateLabbook__modal-close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.CreateLabbook__modal-inner-container {
  height: 260px;
}

.CreateLabbook__button--margin  {
  margin-left: 20px;
}

.CreateLabbook__description-input {
  width: 100%;
  height: 100px;
  resize: none;
  padding: 4px;

}

.CreateLabbook__description-input:focus {
  border: 2px solid #26a69a;
  box-shadow: 0 1px 0 0 #26a69a;
  outline: none;
  padding: 3px;
}

.CreateLabbook__text-divider {
  text-align: center;
  color: $font-grey;
}
.CreateLabbook__text-divider-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.CreateLabbook__text-divider-container:after {
  border-top: 1px solid $font-grey;
  content:"";
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 0.5em;
  z-index: -1;
  text-align: center;
  width: 48%;
}


.CreateLabbook__text-divider-container:before {
  border-top: 1px solid $font-grey;
  content:"";
  position: absolute;
  bottom: 3px;
  right: 0;
  height: 0.5em;
  z-index: -1;
  text-align: center;
  width: 48%;
}
