.SelectBase {
  color: $romanSilver;
  font-weight: 100;
  p {
    margin: 0px
  }

  .slick-slider{
    margin-bottom: 0px;
  }

  .slick-arrow.slick-next {
    background: url(../images/icons/right-arrow-silver.svg) no-repeat 50% 50%;
    background-size: 30px;
  }
  .slick-arrow.slick-prev {
    background: url(../images/icons/left-arrow-silver.svg) no-repeat 50% 50%;
    background-size: 30px;
  }
  .slick-arrow:hover{
    border: none;
  }
  .slick-disabled{
    cursor: auto;
    opacity: 0.2;
  }

  .slick-list, .slick-initialized{
    height: 100%;
  }


}

.SelectBase__inner-container {
  min-height: 320px;
  position: relative;
  @include flex(flex-start, row);
  flex-wrap: nowrap;
  transition: right 0.5s;
  right: 0%;
  &--datasets {
    @include flex(flex-start, column);
  }
}

.SelectBase__inner-container--viewer {
    right: calc(100% + 160px);
}

.SelectBase__select-container {
  min-width: 100%;
  flex-wrap: nowrap;
  border-bottom: 1px solid $azure;
  margin-bottom: 15px;
  height: 340px;
}

.SelectBase__viewer-container {
  min-width: 100%;
  margin: 0 240px;
}

.SelectBase__tabs-container {

}

.SelectBase__tabs-list {
  @extend .tabs-list;
}

.SelectBase__tab {
  white-space: nowrap;
  @extend .tab;
  width: 125px;
}

.SelectBase__tab--selected {
  @extend .tab--selected;
}

.SelectedBase__header {
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    color: $azure;
    text-align: center;
    font-weight: 400;
    border-bottom: 1px solid $azure;
}

.SelectedBase__modal-header {
  color: $azure;
  text-align: center;
}
.SelectBase__images {
  background: $white;
  max-height: 210px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 100px;
}
.SelectBase__images--hidden {
  overflow: hidden;
}


.SelectBase__image-wrapper {
  width: 100%;
}




.SelectBase__image {

  display: flex;
  flex-direction: flex-start;
  justify-content: center;

  min-width: calc(50% - 10px);
  margin: 10px 0;
  height: 100px;

  cursor: pointer;
  &--expanded {
    height: auto !important;
    padding-bottom: 20px;
  }
}

.SelectBase__image--selected {
  border: 2px solid $azure;
}


.SelectBase__image-icon {
  width: 70px;
  padding: 10px;
  align-self: center;
}

.SelectBase__image-text {
  @include flex(center, column);
  word-break: break-word;
  padding: 5px;
  flex: 1;
  h6 {
    padding: 10px 0 0;
    font-weight: 400;
    font-size: 14px;
  }
  p {
    align-self: flex-end;
    padding: 5px 0;
    word-break: break-word;
    max-width: 375px;
  }
  ul {
    margin: 0;
  }
}

.SelectBase__image-header {
  font-size: 18px !important;
  font-weight: 400;
  height: 52px;
}

.SelectBase__image-actions {
  position:absolute;
  right: 10px;
  bottom: 10px;
  @include flex(center, row);
  width: 25px;
  height:25px;
  background: url('~Images/icons/down-arrow-silver.svg') no-repeat right center;
  background-size: 25px;
  .button--flat{
    padding: 0px 20px 0 0px;
  }
  &--expanded{
    background: url('~Images/icons/up-arrow-silver.svg') no-repeat right center;
    background-size: 25px;
  }
}

.SelectBase__image:hover {
  background-color: $lightGrey;
}

.SelectBase__image-description {
  align-self: center;
}

.SelectBase__image-info {
  @include flex(flex-start, row)
}

.SelectBase__image-languages {
  width: calc(50% - 10px);
  padding: 0 10px 0 0;
}
.SelectBase__image-tools {
  width: calc(50% - 10px);
  padding: 0 10px 0 0;
}

.SelectBase__selected-image-container {
  height: 120px;
}

.SelectBase__selected-image {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 200px;
  height: 120px;

  border: 1px dashed $grey;

  img,
  p {
    align-self: center;
    height: 50px;
  }
}

.Environment__modal {
  .SelectBase__inner-container {
    height: 500px;
  }
  .SelectBase__progress-button {
    visibility: hidden;
  }
}
.SelectBase__details{
  padding: 20px 10px;
  color: $slateBlue;
  @include flex(space-around, column);
  h6 {
    font-size: 16px;
  }

}
.SelectBase__type{
  font-size: 12px !important;
}
.SelectBase__name{
  color: $jet;
  font-weight: 1000;
}
.BaseSlide__wrapper{
  margin: 0 5px;
}

.BaseSlide__wrapper--recent{
  border-bottom: 1px dashed $romanSilver;
  border-top: 1px dashed $romanSilver;
  margin: 10px 5px;
  position: relative;
}

.BaseSlide__mostRecent{
  position: absolute;
  background: white;
  margin-left: 45%;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 900;
  top: -10px;
}

.SelectBase__readme{
  @include flex(flex-end, column)
}