.TrackingToggle {
    color: $jet;
    padding: 3px 10px;
    @include flex(space-between, row);
    align-items: center;
}

.TrackingToggle__checkbox--on {
  border: 1px solid $azure;
}
.TrackingToggle__checkbox--off {
  border: 1px solid $romanSilver;
}

.TrackingToggle__checkbox {
  display: inline-block;
  position: relative;
  text-align: left;
  min-width: 40px;
  height: 20px;
  background-color: $lightGrey;
  overflow: hidden;
  border-radius: 8px;
  margin:10px;
}

.TrackingToggle__text {
  width: 300px;
}

.TrackingToggle input {
  display:block;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  margin:0 0;
  cursor:pointer;
  opacity:0;
  filter:alpha(opacity=0);
  z-index:2;
}

.TrackingToggle label {
  background-color: $romanSilver;
  border-radius:10px;
  display:inline-block;
  width: 16px !important;
  padding: 0 !important;
  text-align:center;
  font:bold 10px/28px Arial,Sans-Serif;
  color:#999;
  transition:margin-left 0.2s ease-in-out;
  margin: 1px 1px 4px 2px;
  height: 16px !important;
}

.TrackingToggle label:before {
  content:attr(data-off);
   width: 0;
   height: 0;
   border: 0px !important;
}

.TrackingToggle input:checked + label {
  margin-left:20px;

  background-color: $azure;

  color:white;
}

.TrackingToggle__input:checked + label:before {
  content:attr(data-on);
}
