.WizardModal__modal {
  overflow: hidden;
  padding: 20px 60px;
  @include modal(540px, 860px);
}

.WizardModal__modal--blur {
  pointer-events: none;
  filter: blur(5px);
  overflow: hidden;
  padding: 20px 60px;
  @include modal(540px, 860px);
}

.WizardModal__nav {
  @include flex(space-between, row);
  align-items: center;
}

.WizardModal__nav-group {
  @include flex(flex-end, row);
}

.WizardModal__nav-item{
    width: 160px;
    text-align: center;
}

.WizardModal__modalWrap-enter {
  opacity: 0.01;
}

.WizardModal__modalWrap-enter.WizardModal__modalWrap-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}


.WizardModal__modal-inner-container {
    height: calc(100% - 40px);
    padding: 20px;
}

.WizardModal__title {
  color: $jet;
  text-align: center;
}

.WizardModal__modal-close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  @include close();
}

.WizardModal__button--margin {
  margin-left: 20px;
}

.WizardModal__progress{
    margin-top: 25px;
    width: 100%;
}

.WizardModal__progress-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li{
      flex: 1 0 auto;
      border-top: 2px solid $azure;
      text-align: center;
      padding: 2px;
      height: 4px;
      margin: 0 2px;
      font-size: 12px;
    }

    li.selected {
      border-top: 6px solid $azure;
    }
}

.WizardModal__progress-button {
  margin: 0 10px;
}
