@import '~Styles/_imports.scss';
.FileBrowser{
  .ActionsMenu{
      right: 20px;

      padding: 2px 20px 2px 2px;

      width: 180px;

      @include flex(flex-end, row);
      .Tooltip-data:before {
        left: calc(50% - 7px);
      }

  }
  .ActionsMenu__item {
      position: relative;

      margin: 0 5px;

      cursor: pointer;

      &--duplicate {
          background: url('~Images/icons/copy-light.svg') no-repeat 50% 50%;
          background-size: 24px;

          &:hover{
              //change color here
              background: url('~Images/icons/copy-light.svg') no-repeat 50% 50%;
              background-size: 24px;
          }
      }

      &--menu {
          width: 50px;

          cursor: pointer;

          background: transparent url('~Images/icons/ellipsis.svg') no-repeat 50% 50%;
          background-size: 60px 30px;

          &:hover {
              //change color here
              background: transparent url('~Images/icons/ellipsis.svg') no-repeat 50% 50%;
              background-size: 65px 35px;
          }
      }

  }

.ActionsMenu__popup-visible:hover:after{
  display: none;
  color: transparent;
  background: transparent;
}

.ActionsMenu__popup {
  width: 140px;
  position: absolute;
  top: 34px;
  right: -52px;
  text-align: center;
  z-index: index($elements, popup);
  p{
      margin-top: 0;
  }

  .Tooltip__pointer {
    top: -10px;
    right: 55px;
  }
}
}
