@import '~Styles/_imports.scss';
.FileBrowser{
  .ActionsMenu{
      right: 20px;

      padding: 2px 20px 2px 2px;

      width: 180px;

      @include flex(flex-end, row);
      .Tooltip-data:before {
        left: calc(50% - 7px);
      }

  }
  .ActionsMenu__item {
      position: relative;

      width: 20px;
      height: 20px;

      margin: 0 5px;

      cursor: pointer;


      &--delete {
          background: url('~Images/icons/trash.svg') no-repeat 50% 50%;
          background-size: 20px;

          position: relative;

          &:hover{
              //change color here
              background: url('~Images/icons/trash-azure.svg') no-repeat 50% 50%;
              background-size: 20px;
          }
      }

      &--rename {
          background: url('~Images/icons/rename.svg') no-repeat 50% 50%;
          background-size: 20px;

          &:hover{
              //change color here
              background: url('~Images/icons/rename-azure.svg') no-repeat 50% 50%;
              background-size: 20px;
          }
      }

      &--duplicate {
          background: url('~Images/icons/copy-light.svg') no-repeat 50% 50%;
          background-size: 24px;

          &:hover{
              //change color here
              background: url('~Images/icons/copy-light.svg') no-repeat 50% 50%;
              background-size: 24px;
          }
      }

      &--favorite-on {
          background: url('~Images/icons/star__on.svg') no-repeat 50% 50%;
          background-size: 20px;

          &:hover {
              //change color here
              background: url('~Images/icons/star__on.svg') no-repeat 50% 50%;
              background-size: 20px;
          }
      }

      &--favorite-off {
          background: url('~Images/icons/star__off.svg') no-repeat 50% 50%;
          background-size: 20px;

          &:hover {
              //change color here
              background: url('~Images/icons/star__off.svg') no-repeat 50% 50%;
              background-size: 20px;
          }
      }

      &--AddSubfolder {
          background: url('~Images/icons/folder-add.svg') no-repeat 50% 50%;
          background-size: 20px;
          margin-right: 5px;

          &:hover {
              //change color here
              background: url('~Images/icons/folder-add.svg') no-repeat 50% 50%;
              background-size: 20px;
          }
      }

      &--menu {
          width: 50px;

          cursor: pointer;

          background: transparent url('~Images/icons/ellipsis.svg') no-repeat 50% 50%;
          background-size: 60px 30px;

          &:hover {
              //change color here
              background: transparent url('~Images/icons/ellipsis.svg') no-repeat 50% 50%;
              background-size: 65px 35px;
          }
      }

  }

.ActionsMenu__popup-visible:hover:after{
  display: none;
  color: transparent;
  background: transparent;
}

.ActionsMenu__popup {
  width: 140px;
  position: absolute;
  top: 34px;
  right: -60px;
  text-align: center;
  z-index: index($elements, popup);
  p{
      margin-top: 0;
  }

  .ToolTip__pointer {
    top: -10px;
    right: 55px;
  }
}
}
