@import '~Styles/_imports.scss';

.UserSelect--none{
  -webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                              supported by Chrome and Opera */
}

.File__row{
    //background: $white;
    height: 50px;
    padding-top: 12px;
    padding-bottom: 12px;

    cursor: pointer;

    border-bottom: 1px solid $romanSilver;

    @include flex(space-between, row);
    align-items: center;

    @extend .UserSelect--none;

    &--noDrag {
      background: $background-color !important;
      cursor: not-allowed !important;
    }
    &--canDrag {
      cursor: copy !important;
    }

    &--hover {
      background: $fileBrowserHover;
    }
}

.File__cell{

  @include flex(flex-start, row);

  @extend .UserSelect--none;

  &--name{
      margin: 0 20px;
      flex: 1;
      overflow: hidden;
      @extend .UserSelect--none;
  }

  &--size{
      width: 100px;
  }

  &--date{
      width: 140px;
  }

  &--menu{
    width: 180px;
  }

  &--edit{
    @include flex(space-around, row);
    flex: 1;
    margin: 0 20px;
  }

}

.File__text{
  flex: 1;
  text-align: left;
  align-self: center;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  max-width: 520px;
  @extend .UserSelect--none;
}

.File__icon{
    margin-right: 5px;
    @extend .UserSelect--none;
}

.File__btn{

    width: 20px;
    height: 20px;
    margin: 0 0 0 20px;
    padding: 0;

    border: none;
    background: url('~Images/icons/check-unselected.svg') no-repeat 50% 50% !important;
    background-size: 26px !important;

    &:hover {
        border: none;
        background: $primary url('~Images/icons/check-selected.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
    }

    &:focus {
        border: none;
        background: url('~Images/icons/check-unselected.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
    }

    &--selected {
        border: none;
        background: $primary url('~Images/icons/check-selected.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
    }

    &--selected:hover {
        border: none;
        background: url('~Images/icons/check-unselected.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
    }

    &--selected:focus {
        border: none;
        background: $primary url('~Images/icons/check-selected.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
    }

    &--incomplete {
        background: $primary url('~Images/icons/action-null.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
        border: 1px solid red;
    }

    &--incomplete:hover {
        background: url('~Images/icons/check-selected.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
        border: none;
    }

    &--incomplete:focus {
        background: $primary url('~Images/icons/action-null.svg') no-repeat 50% 50% !important;
        background-size: 26px !important;
        border: none;
    }
    @extend .UserSelect--none;
}

.File__icon{
    align-self: center;

    @extend .UserSelect--none;
}



.File__input[type="text"]{
  height: 30px !important;
  background: $white !important;
  border-bottom: 0px solid $white !important;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1) !important;

  margin: 0 20px 0 0 !important;

  flex: 1;

  &:focus{
    height: 30px !important;
    background: $white !important;
    border-bottom: 0px solid $white !important;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.4) !important;

  }
}

.File__container {
  position: relative;
  flex: 1;
}

.File__btn {
  &--round {
    height: 30px;
    width: 34px !important;
    padding: 0;

    border: 0 !important;
    margin: 0 5px;
    border-radius: 15px;
  }

  &--add {
    background: url(~Images/icons/check-selected.svg) no-repeat center center;
    background-size: 30px;
    flex: 0 1 30px;

    &:hover {
      background: url(~Images/icons/check-selected.svg) no-repeat center center;
      background-size: 34px;
    }

    &:focus {
      background: url(~Images/icons/check-selected.svg) no-repeat center center;
      background-size: 30px;
    }
    &:disabled {
      background: url(~Images/icons/check-selected-disabled.svg) no-repeat center center !important;
      background-size: 30px !important;
    }
  }

  &--cancel {
    background: url(~Images/icons/close.svg) no-repeat center center;
    background-size: 26px;
    flex: 0 1 30px;

    &:hover {
      background: url(~Images/icons/close.svg) no-repeat center center;
      background-size: 30px;
    }

    &:focus {
      background: url(~Images/icons/close.svg) no-repeat center center;
      background-size: 26px;
    }
  }
}

.File__paragragh--external {
  background: url(~Images/icons/offsite-grey.svg) no-repeat right center;
  padding-right: 20px;
  background-size: 15px;
  &:hover {
    text-decoration: underline;
    background-size: 17px;
    padding-right: 23px;
  }
}