@import '~Styles/_imports.scss';

.Favorite__list {
  position: relative;
}

.Favorite__none {
  align-items: center;
  height: 145px;
  .FavoriteCard__star {
    position: relative;
  }
}

// overrides
.FileCard {

    .Btn {
      height: 28px;
      width: 28px;
      margin: 0 5px;
    }
    .Btn__close {
      background-size: 26px;
      &:hover{
        background-size: 30px;
      }
    }
}
