@import '~Styles/_imports.scss';

.Modal__content{
  z-index: index($elements, modal);

  overflow: hidden;

  padding: 0 40px;

  transition: all 0.25s;

  @include flex(flex-start, column);
}

.Modal__wrapper {
  z-index: index($elements, modal);
}

.Modal__container{
  height: calc(100%);
  padding: 20px;
  hr {
    width: calc(100% - 2px) !important;
    margin-top: 10px;
    margin-bottom: 10px;

    opacity: 0.3 !important;
    border-width: 1px;
    border-color: $primary !important;
    background-color: $primary !important;
  }
}

.Modal__button-container {
   width: 100%;
   @include flex(flex-end, row);
}

.Modal__sub-container {
  height: calc(100% - 60px);
  padding: 0 20px;

  @include flex(flex-start, column);
  button{
    align-self: center;
  }
  &--nopadding{
    margin-top: -11px;
    padding: 0;
  }
}

.Modal__content {
  border-top: 7px solid $primary !important;
  border-bottom: 7px solid $primary !important;
  &--noPadding {
    padding: 0 !important;
    .Modal__container {
      height: 100%;
      padding: 0;
    }
    .Modal__sub-container {
      height: 100%;
      padding: 0;
    }
  }
  &--large{
    padding: 0 60px 20px 60px;
    @include modal(500px, 960px);
  }
  &--large-full {
    padding: 0;
    @include modal(500px, 960px);
    .Modal__container {
      height: 100%;
      padding: 0;
    }
    .Modal__sub-container {
      height: 100%;
      padding: 0;
    }
  }

  &--large-long{
    padding: 0 60px 20px 60px;
    position: fixed;
    left: 50%;
    top: 15px;
    bottom: 15px;
    z-index: 16;
    width: 960px;
    max-height: 1000px;
    margin: 0 0 0 -480px;
    border: 1px solid #fefefe;
    border-radius: 8px;
    background-color: #fefefe;
    box-shadow: 0 0px 12px 0 rgba(0, 0, 0, 0.1);

    @include animation('slide-up-fade-in forwards .25s');

    .Modal__container {
      height: 100%;
    }
  }

  &--medium{
    @include modal(440px, 735px);
  }

  &--small{
    padding: 0;

    @include modal(200px, 300px);
    p {
      line-height: 20px;
    }
  }
}

.Modal__cover{
  position: fixed;
  z-index: index($elements, modalCover);
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  opacity: 0.5;
  background-color: $slateBlueOpaque;

  @include animation('fade-in-modal forwards .25s');
}

.Modal__close{
  @include close();

  &:hover {
    background-size: 32px;
    padding: 7px 20px;
  }
}

.Modal__pre-header{
  margin: 0;

  text-align: center;

  color: $primary;
}

// modal header

.Modal__header{
  margin: 0;
  padding: 0px 0 5px 20px;

  text-align: center;
  white-space: nowrap;

  color: $primary;
  background-size: 50px;

  font-weight: 600;

  @include flex(center, row);
}
