@import '~Styles/_imports.scss';

.CopyUrl {
  &--disabled {
    opacity: 0.5;
  }


  &__btn {
    &--copy{
      margin: 0;
      height: 32px;
      width: 40px;
      padding: 0px;
      border-radius: 0px 3px 3px 0px !important;
      text-align: center;

      &:hover, &:focus {
        background-color: $secondary !important;
        border-color: $secondary !important;
      }

      &:disabled, &:focus {
        background-color: $primary !important;
        border-color: $primary !important;
      }

      &:hover button,
      &:disabled button {
        background-color: $primary;
      }
    }
  }
}
