@import '~Styles/_imports.scss';

.ContainerStatus {
  align-self: center;
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}


.ContainerStatus__initial-menu {
  white-space: pre-line;
  font-size: 15px;
  top: -31px;
  right: 144px;
  position: absolute;
  background: $white;
  z-index: index($elements, popup);
  padding: 15px;
  border-radius: 8px;
  @include boxShadow();
  width: 350px;
  text-align: center;
  animation: slide-down-fade-in forwards .25s;
}

.ContainerStatus__initial-pointer {
  top: 3px;
  right: 130px;
  position: absolute;
  z-index: index($elements, popup) + 1;
  animation: slide-down-fade-in forwards .25s;
  @include triangle('right', 14px, $white);
}

.ContainerStatus__button-menu {
  white-space: pre-line;
  font-size: 15px;
  top: 42px;
  right: 0px;
  position: absolute;
  background: $white;
  z-index: index($elements, popup);
  padding: 15px;
  border-radius: 8px;
  @include boxShadow();
  width: 350px;
  text-align: center;
  animation: slide-down-fade-in forwards .25s;
}

.ContainerStatus__menu-pointer {
  top: 30px;
  right: 75px;
  position: absolute;
  z-index: index($elements, popup) + 1;
  animation: slide-down-fade-in forwards .25s;
  @include triangle('up', 14px, $white);
}

.ContainerStatus__plugins-list-item {
  height: 40px;
  padding: 10px 5px !important;
  padding-top: 2px;
  text-align: center;
  user-select: none;

  border-bottom: 1px solid $grey;

  &:last-child{
    border-bottom: none;
  }

  &:hover {
    transition: background-color 0.25s ease-in-out;

    background: $azure;
    color: $white;
  }
}


.ContainerStatus__button--bottom{
  left: 16px;
  bottom: -57px;
}


.ContainerStatus__container-remove-pointer {
  pointer-events: none;
}
