@import '~Styles/_imports.scss';

.ButtonLoader{
  transition: all 0.5s;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.ButtonLoader--loading,
.ButtonLoader--loading:focus,
.ButtonLoader--loading:hover,
.ButtonLoader--loading:disabled{

  background: url(~Images/loaders/loading.svg) no-repeat 50% 50%;
  background-size: 24px;

  color: transparent;
}

.ButtonLoader--finished,
.ButtonLoader--finished:focus,
.ButtonLoader--finished:hover,
.ButtonLoader--finished:disabled{

  color: $white;
  background: none !important;
  background-color: $azure !important;
}


.ButtonLoader--error,
.ButtonLoader--error:hover,
.ButtonLoader--error:focus,
.ButtonLoader--error:disabled{

  color: transparent !important;
  background: $crimson url(~Images/icons/close-white.svg) no-repeat 50% 50% !important;
  background-size: 14px;;;
}
