@import '~Styles/_imports.scss';

.ButtonLoader{
  transition: all 0.5s;
  &--loading,
  &--loading:focus,
  &--loading:hover,
  &--loading:disabled {
    border: 2px solid $romanSilver !important;;
    height: 24px;
    width: 24px;
    padding: 0px;
    background: transparent !important;
    color: transparent;
    border-radius: 12px;
    border-left: 2px solid $azure !important;
    animation: spin 1s infinite linear;
  }
  &--finished,
  &--finished:focus,
  &--finished:hover,
  &--finished:disabled {
    color: $white;
    background: none !important;
    background-color: $azure !important;
  }
  &--error,
  &--error:focus,
  &--error:hover,
  &--error:disabled {
    color: transparent !important;
    background: $crimson url(~Images/icons/close-white.svg) no-repeat 50% 50% !important;
    background-size: 14px !important;
  }
}
