@import '~Styles/_imports.scss';

.Loader {
  position: absolute;
  z-index: index($elements, loader);
  top: calc(50% - 75px);
  left: calc(50% - 75px);

  width: 150px;
  height: 150px;

  animation: spin 2s linear infinite;

  background: url(~Images/loaders/load.svg) no-repeat 50% 50%;
  background-size: 100px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
