@import '~Styles/_imports.scss';

.Modal__content{
  z-index: index($elements, modal);

  overflow: hidden;

  padding: 0 40px;

  transition: all 0.25s;

  @include flex(flex-start, column);
}

.Modal__wrapper {
  z-index: index($elements, modal);
}

.Modal__container{
  height: calc(100% - 70px);
  padding: 20px;
  hr{
    width: calc(100% - 2px) !important !important;
    margin-top: 10px;
    margin-bottom: 10px;

    opacity: 0.3 !important;
    border-width: 1px;
    border-color: #007ea8 !important;
    background-color: #007ea8 !important;
  }
}

.Modal__content.create .Modal__container{
  .Modal__header{
    background: url('~Images/icons/create-azure.svg') no-repeat 207px 45px;
    background-size: 50px;
  }
}

.Modal__content.user .Modal__container{
  .Modal__header{
    background: url('~Images/icons/user-azure.svg') no-repeat 160px 34px;
    background-size: 50px;
  }
}

.Modal__content.add .Modal__container{
  .Modal__header{
    background: url('~Images/icons/add.svg') no-repeat 160px 34px;
    background-size: 50px;
  }
}

.Modal__content.rollback .Modal__container{
  .Modal__header{
    background: url('~Images/icons/rollback.svg') no-repeat 160px 34px;
    background-size: 50px;
  }
}

.Modal__content.project .Modal__container{
  .Modal__header{
    background: url('~Images/icons/labbooks-blue.svg') no-repeat 274px 40px;
    background-size: 42px;
  }
}

.Modal__sub-container{
  height: calc(100% - 60px);
  padding: 0 20px;

  @include flex(flex-start, column);
  button{
    align-self: center;
  }
  &--nopadding{
    margin-top: -11px;
    padding: 0;
  }
}

.Modal__content.large{
  padding: 0 60px 20px 60px;

  @include modal(500px, 960px);
}

.Modal__content.large-long{
  padding: 0 60px 20px 60px;

  @include modal(700px, 960px);
  .SelectBase__images {
    max-height: 429px !important;
  }
}

.Modal__content.medium{
  @include modal(440px, 660px);
}

.Modal__content.small{
  padding: 0;

  @include modal(200px, 300px);
  p{
    line-height: 20px;
  }
}


.Modal__header{
  margin: 0;
  padding: 40px 0 5px 20px;

  text-align: center;

  color: $azure;
  background-size: 50px;

  font-weight: 600;
}

.Modal__cover{
  position: fixed;
  z-index: index($elements, modalCover);
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  animation: fade-in-modal forwards .25s;

  opacity: 0.5;
  background-color: $slateBlueOpaque;
}

.Modal__close{
  @include close();
}

.Modal__pre-header{
  margin: 0;
  margin-top: -10px;
  margin-bottom: -40px;

  text-align: center;

  color: #007ea8;
}
