@import '~Styles/_imports.scss';

.Prompt {
    position: relative;
}

.Prompt__info {
    position: fixed;
    align-items: center;
    z-index: index($elements, prompt);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    text-align: center;

    color: white;
    background-image: $gradient;
    font-size: 20px;
    @include flex(flex-start, column);

}

.Prompt__logo {
    width: 100%;
    height: 255px;

    background: url('~Images/logos/gigantum-client.svg') no-repeat 50% 50%;
}

.Prompt__loading-text {
    opacity: 0;
    @include animation('fade-in-out 13s linear');
    animation-delay: 2s;

}

.Prompt__failure-container{
  align-items: center;

  width: 885px;

  @include flex(space-between, column);

  img{
    width: 600px;
    height: auto;
    margin-top: 20px;
  }
}

.Prompt__failure-text {

    opacity: 0;
    font-size: 24px;
    font-weight: 100;

    line-height: 1.5;
    background: url('~Images/icons/prompt-warning.svg') no-repeat top center;
    @include animation('fade-in 3s forwards');

    p {
        margin: 15px;
        font-size: 24px;
    }
    a {
        color: $white;
        font-size: 24px;
        text-decoration: none;
    }
}

.Prompt__refresh {
    position: fixed;
    z-index: index($elements, popup);
    bottom: 20px;
    left: 180px;

    width: 500px;
    padding: 20px;

    text-align: center;
    word-wrap: break-word;

    color: $romanSilver;
    border-radius: 8px;
    background: $white;
    box-shadow: 0 0px 12px 0 rgba(0,0,0,.20);
}

.Prompt__header {
    margin: 100px 0 50px 0;
}
