@import '~Styles/_imports.scss';

.DetailsRecords {
  overflow: visible;
}

.LargeIcon {
  background-size: 38px;
}

.SmallIcon {
  background-size: 22px !important;
}

.DetailsRecords__list {
  margin: 0;
  position: relative;
  height: auto;
}

.DetailsRecords__item {
  margin-bottom: 1px;
  padding: 5px 15px 5px 75px;

  img {
    width: -moz-fit-content;
    width: fit-content;

  }

  @include flex(flex-start, column);
}

.DetailsRecords__item-note {
  margin-bottom: 1px;
  border-bottom: 1px solid $lightGrey;
  padding: 0 0 0 15px;

  img {
    width: -moz-fit-content;
    width: fit-content;
  }

  @include flex(flex-start, column);
}

@keyframes fluxuateLoad {
    0% {
      opacity: 0.1;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 0.1;
    }
}


.DetailsRecords__loader {
  width: 100%;
}

.DetailsRecords__loader {
  margin: 10px 10px 10px 66px;
  width: calc(100% - 66px);
  height: 2px;
  background-color: $primaryText;
  opacity: 0.1;
  animation: fluxuateLoad 3s infinite;
}

li.DetailsRecords__item *,
li.DetailsRecords__item-note *, {
  white-space: pre;
  max-width: 100%;
  line-height: 24px;
}

li.DetailsRecords__item .ReactMarkdown p,
li.DetailsRecords__item .ReactMarkdown ul,
li.DetailsRecords__item-note .ReactMarkdown p,
li.DetailsRecords__item-note .ReactMarkdown ul, {
  line-height: 24px;
  text-overflow: ellipsis;
  display: -webkit-box;
  white-space: pre-line;
  overflow: hidden;
  word-break: break-word;
  line-clamp: 10;
  -webkit-line-clamp: 10;
  box-orient: vertical;
  -webkit-box-orient: vertical;
}

li.DetailsRecords__item .ReactMarkdown,
li.DetailsRecords__item-note .ReactMarkdown {
  max-height: 400px;
  overflow: hidden;
}

.DetailsRecords__link {
  text-align: right;
  margin-right: 20px;
  color: $primaryText;
}

.DetailsRecords__link:hover {
  color: $secondary;
  cursor: pointer;
}

.DetailsRecords__link-clicked {
  text-align: right;
  margin-right: 20px;
  color: $primaryText;
}

.DetailsRecords__link-clicked:hover {
  color: $secondary;
  cursor: pointer;
}

.DetailsRecords__fadeout {
  position: relative;
  bottom: 2em;
  height: 2em;
  background: -webkit-linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
  );
}

.DetailsRecords__action{
  position: absolute;
  height: 30px;
  width: 30px;
  top: calc(50% - 15px);
  left: 35px;
  @extend .SmallIcon;
}

.DetailsRecords__action--create{
  background: url('~Images/icons/action-create.svg') no-repeat center center;
}
.DetailsRecords__action--edit{
  background: url('~Images/icons/action-edit.svg') no-repeat center center;
}
.DetailsRecords__action--delete{
  background: url('~Images/icons/action-delete.svg') no-repeat center center;
}
.DetailsRecords__action--execute{
  background: url('~Images/icons/action-run.svg') no-repeat center center;
}
.DetailsRecords__action--noaction{
  background: url('~Images/icons/action-null.svg') no-repeat center center;
}
.DetailsRecords__container {
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 3;
    border-right: 1px dashed $grey;
    height: calc(100% + 0px);
    width: 1px;
    top: calc(-50%);
    left: 25px;
  }
}

.DetailsRecords__action:before {
  content: "";
  display: block;
  position: absolute;
  z-index: index($elements, card);
  border-bottom: 1px dashed $grey;
  height: 1px;
  width: 14px;
  top: 14px;
  left: -8px
}


.DetailsRecords__container:first-child:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 3;
  border-right: 1px dashed $grey;
  height: calc(50% + 10px);
  width: 1px;
  top: -10px;
  left: 25px;
}

.ActivityDetail__details.note .DetailsRecords__container:first-child:before {
  display: none;
}


div.DetailsRecords__container:last-child .DetailsRecords__item:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 3;
  border-right: 1px dashed $grey;
  height: 100%;
  width: 1px;
  top: -50%;
  left: 25px;
}

div.DetailsRecords__container:first-child .DetailsRecords__item:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 3;
  border-right: 1px dashed $grey;
  height: calc(50% + 10px);
  width: 1px;
  top: -10px;
  left: 25px;
}
