@import '~Styles/_imports.scss';

.Header {
  .CopyUrl {
    .ActionsMenu__item {
      border: 0;
    }
    &--disabled {
      opacity: 0.5;
    }
    &--export {
      border-bottom: 1px solid $grey !important;
    }

    &:hover button {
      background-color: $primary !important;
    }

    &:hover button:disabled {
      background-color: $grey !important;
    }


    &__btn {
      &--copy {
        margin: 0;
        height: 32px;
        width: 40px;
        padding: 0px;
        border-radius: 0px 3px 3px 0px !important;
        text-align: center;

        &:disabled, &:focus {
          background-color: $primary !important;
          border-color: $primary !important;
        }

        &:hover {
          background-color: $primary-light !important;
        }

        &:disabled,
         &:disabled button {
          background-color: $grey !important;
        }
      }
    }
  }
}
