@import '~Styles/_imports.scss';

.BranchMenu {
  position: relative;

  overflow: visible;
  align-self: flex-end;

  height: 30px;
  min-height: 30px;

  @include flex(flex-end, row)
}

.BranchMenu__btn {
  width: 110px;
  height: 24px;
  padding: 0 30px 0 10px;

  text-align: left;

  color: $romanSilver;
  border: 3px solid $grey-border;
  border-radius: 15px;
  background: $white url('~Images/icons/ellipsis.svg') no-repeat no-repeat calc(100% - 10px) center !important;
  background-color: $white !important;
  background-size: 30px !important;

  font-size: 14px;
  line-height: 20px;

  &:hover {
    color: $romanSilver;
    border: 3px solid $romanSilver;
    background: $white url('~Images/icons/ellipsis.svg') no-repeat no-repeat calc(100% - 10px) center !important;
    background-color: $white;
    background-size: 30px 30px !important;
  }

  &:focus{
    background: $white url('~Images/icons/ellipsis.svg') no-repeat no-repeat calc(100% - 10px) center !important;
    background-color: $white !important;
    background-size: 30px !important;
  }

  &--flat {
    width: 100%;
    cursor: pointer;
    margin: 1.5px 0;
    background-color: $white;
    border: 0px solid $white;
    text-align: left;
    padding: 0px;
    color: $romanSilver;
    font-size: 15px;
  }
}

.BranchMenu__button:hover {
  border: 3px solid $romanSilver;
  color: $romanSilver;
  background: $white url('~Images/icons/ellipsis.svg') no-repeat no-repeat calc(100% - 10px) center !important;
  background-size: 30px 30px !important;

  background-color: $white;
}

.BranchMenu__menu {
  position: absolute;
  right: 0px;
  top: 37px;
  background: $white;
  border-radius: 10px;
  padding: 10px;
  z-index: index($elements, popup);
  width: 200px;

  hr {
    background-color: $background-color;
    border-color: $background-color;
    border-width: 1px;
    opacity: 0.3;
    width: 85%;
  }

  &--animation{
    animation: slide-down-fade-in forwards .25s;
  }
}

.BranchMenu__list{

  margin-top: 0px;

}

.BranchMenu__item {
  padding: 0 0 0 40px;
  line-height: 24px;
  cursor: pointer;
  color: $romanSilver;

  a {
    color: $romanSilver;
  }

  &:hover button {
    background-color: $background-color;
  }

  &--collaborators {
    background: url('~Images/icons/user.svg') no-repeat 7px center;
    background-size: 24px;
    height: 40px;

    a {
      color: $romanSilver;
      cursor: pointer;
    }

    p {
      padding: 0px;
      margin: -6px 0 0 0;
      font-size: 12px;
    }


    &:hover {
      background: $background-color url('~Images/icons/user.svg') no-repeat 7px center;
      background-size: 24px;
    }

    &.disabled {
      pointer-events: none;
    }

    &.disabled:hover{
      background: $white url('~Images/icons/user.svg') no-repeat 7px center;
      background-size: 24px;
      background-color: $white;
    }

    &.disabled:hover button {
      background-color: $white;
    }
  }

  &--new-branch {
    background: url('~Images/icons/create.svg') no-repeat 7px center;
    background-size: 24px;

    &:hover {
      background: $background-color url('~Images/icons/create.svg') no-repeat 7px center;
      background-size: 24px;
    }
  }

  &--merge {
    background: url('~Images/icons/merge.svg') no-repeat 7px center;
    background-size: 24px;

    &:hover {
      background: $background-color url('~Images/icons/merge.svg') no-repeat 7px center;
      background-size: 24px;
    }
  }

  &--switch {
    background: url('~Images/icons/switch.svg') no-repeat 7px center;
    background-size: 24px;

    &:hover {
      background: $background-color url('~Images/icons/switch.svg') no-repeat 7px center;
      background-size: 24px;
    }
  }

  &--export {
    background: url('~Images/icons/export.svg') no-repeat 7px center;
    background-size: 24px;

    &:hover {
      background: $background-color url('~Images/icons/export.svg') no-repeat 7px center;
      background-size: 24px;
    }
  }

  &--visibility-public {
    background: url('~Images/icons/earth-grey.svg') no-repeat 10px center;
    background-size: 17px;

    &:hover {
      background: $background-color url('~Images/icons/earth-grey.svg') no-repeat 10px center;
      background-size: 17px;
    }
  }

  &--visibility-private {
    background: url('~Images/icons/lock-grey.svg') no-repeat 13px center;
    background-size: 13px;

    &:hover {
      background: $background-color url('~Images/icons/lock-grey.svg') no-repeat 13px center;
      background-size: 13px;
    }
  }


  &--delete{
    background: url('~Images/icons/trash.svg') no-repeat 11px center;
    background-size: 16px;

    &:hover {
      background: $background-color url('~Images/icons/trash.svg') no-repeat 11px center;
      background-size: 16px;
    }
  }

}

.BranchMenu__toggle {
  z-index: index($elements, popup) + 1;
  position: absolute;
  top: 25px;
  right: 16px;

  animation: slide-down-fade-in forwards .25s;

  @include triangle('up', 14px, $white);
}

.BranchMenu__sync,
.BranchMenu__publish {
  position: relative;
  width: 100%;
  text-align: center;
}

.BranchMenu__btn{
  &:focus {
    color: $romanSilver;
  }
}


.BranchMenu__btn{
  &--flat{
    width: 100%;
    cursor: pointer;
    margin: 1.5px 0;
    background-color: $white;
    border: 0px solid $white;
    text-align: left;
    padding: 0px;
    color: $romanSilver;
    font-size: 15px;

    &:focus,
    &:disabled, {
      cursor: pointer;
      background-color: $white;
      border: 0px solid $white;
      padding: 0px;
      color: $romanSilver;
    }

    &:hover {
      background-color: $background-color;
      width: 100%;
      cursor: pointer;
      color: $romanSilver;
      border: 0px solid $white;
    }

    &.disabled,
     .disabled:hover{
        width: 100%;
        margin: 1.5px 0;
        background-color: $white;
        border: 0px solid $white;
        opacity: 0.3;
     }
   }

   &--copy{
     height: 32px;
     width: 40px;
     padding: 0px;
     border-radius: 0px 8px 8px 0px !important;
     text-align: center;
   }

   &--remote,
   &--sync {
     width: 90%;
     border-radius: 40px;
   }
}


.BranchMenu__copyRemote{
  @include flex(flex-start, row);
  flex-wrap: nowrap;
  align-items: center;
  margin: 5px 0 0;
}

.BranchMenu__input[type="text"]{
  width: 100px;
  padding: 0px 5px !important;
  border: 1px solid $romanSilver !important;
  border-radius: 8px 0px 0px 8px !important;
  height: 30px !important;
  margin: 0px !important;
  font-size: 15px !important;
}

.BranchMenu__pointer{
  top: 30px;
  right: 75px;
  position: absolute;
  z-index: index($elements, popup) + 1;
  animation: slide-down-fade-in forwards .25s;

  @include triangle('up', 14px, $white);
}

.BranchMenu__message{
  white-space: pre-line;
  font-size: 15px;
  top: 42px;
  right: 0px;
  position: absolute;
  background: $white;
  z-index: index($elements, popup);
  padding: 15px;
  border-radius: 8px;
  width: 350px;
  text-align: center;
  animation: slide-down-fade-in forwards .25s;
}
