.ContainerStatus {
  align-self: center;
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}


.ContainerStatus__initial-menu {
  white-space: pre-line;
  font-size: 15px;
  top: -31px;
  right: 144px;
  position: absolute;
  background: $white;
  z-index: index($elements, popup);
  padding: 15px;
  border-radius: 8px;
  @extend .box-shadow;
  width: 350px;
  text-align: center;
  animation: slide-down-fade-in forwards .25s;
}

.ContainerStatus__initial-pointer {
  top: 3px;
  right: 130px;
  position: absolute;
  z-index: index($elements, popup) + 1;
  animation: slide-down-fade-in forwards .25s;
  @include triangle('right', 14px, $white);
}

.ContainerStatus__button-menu {
  white-space: pre-line;
  font-size: 15px;
  top: 42px;
  right: 0px;
  position: absolute;
  background: $white;
  z-index: index($elements, popup);
  padding: 15px;
  border-radius: 8px;
  @extend .box-shadow;
  width: 350px;
  text-align: center;
  animation: slide-down-fade-in forwards .25s;
}

.ContainerStatus__menu-pointer {
  top: 30px;
  right: 75px;
  position: absolute;
  z-index: index($elements, popup) + 1;
  animation: slide-down-fade-in forwards .25s;
  @include triangle('up', 14px, $white);
}

.ContainerStatus__plugins-list-item {
  height: 40px;
  padding: 10px 5px !important;
  padding-top: 2px;
  text-align: center;
  user-select: none;

  border-bottom: 1px solid $grey;

  &:last-child{
    border-bottom: none;
  }

  &:hover {
    transition: background-color 0.25s ease-in-out;

    background: $azure;
    color: $white;
  }
}

.ContainerStatus__button--flat {
    @extend .button--flat;
    transition: bottom, 05s;
}

.ContainerStatus__container-state {
  @extend .box-shadow;
  transition: all 0.125s;
  width: 141px;
  text-align: center;
  height: 31px;
  font-size: 16px;
  border-radius: 20px;
  color: $romanSilver;
  line-height: 26px;
  cursor: pointer;
  border: 2px solid rgba(0,0,0,0);
  z-index: index($elements, button);
  padding-right: 10px;

  @extend .box-shadow;
}

.ContainerStatus__container-state--expanded{
  width: 149px;
  height: 33px;
  box-shadow: 0 0px 12px 0 rgba(0,0,0,.50) !important;
  margin: 0 -7px -1px 0;
}

.ContainerStatus__container-state--menu-open {
  @extend .ContainerStatus__container-state;
  background: $background-color url('~Images/icons/up-arrow-silver.svg') no-repeat 90% center;
}

.ContainerStatus__container-state.Running {
  border: 3px solid $turquise;
  background: $background-color url('~Images/icons/run.svg') no-repeat 90% center;
  background-size: 20px;
}
.ContainerStatus__container-state.Running:hover {
  width: 149px;
  height: 33px;
  border: 3px solid $romanSilver;
  background: $background-color url('~Images/icons/stop.svg') no-repeat 90% center;
  background-size: 20px;
  margin: 0 -7px -1px 0;
  line-height: 31px;
}

.ContainerStatus__container-state.Building,
.ContainerStatus__container-state.Syncing,
.ContainerStatus__container-state.Publishing {
  background: $background-color url('~Images/loaders/button-starting.svg') no-repeat 90% center;
  border: 3px solid $goldenLemon;
  background-size: 20px;
}

.ContainerStatus__container-state.Stopped {
  background: $background-color url('~Images/icons/stop.svg') no-repeat 90% center;
  border: 3px solid $romanSilver;
  background-size: 20px;
  @extend .box-shadow;
}

.ContainerStatus__container-state.Stopped:hover {
  width: 149px;
  height: 33px;
  background: $background-color url('~Images/icons/run.svg') no-repeat 90% center;
  border: 3px solid $turquise;
  background-size: 20px;
  margin: 0 -7px -1px 0;
  line-height: 31px;
}

.ContainerStatus__container-state.LookingUp {
  width: 141px !important;
  height: 31px !important;
  font-size: 16px !important;
  line-height: 26px !important;
  margin: 0 !important;
  box-shadow: none !important;
  background: $background-color url('~Images/loaders/button-starting.svg') no-repeat 90% center !important;
  border: 3px solid $goldenLemon !important;
  background-size: 20px !important;
  cursor: auto;
}

.ContainerStatus__container-state.Rebuild{
  background: $background-color url('~Images/icons/button-build.svg') no-repeat 85% center;
  border: 3px solid $goldenLemon;
  cursor: pointer;
  padding: 0 15px 0 0;
  background-size: 20px;
}
.ContainerStatus__container-state.Stopping,
.ContainerStatus__container-state.Starting {
  background: $background-color url('~Images/loaders/button-starting.svg') no-repeat 90% center;
  background-size: 20px;
  border: 3px solid $goldenLemon;
  color: $grey;
}

.ContainerStatus__plugins {
  position: absolute;
  overflow: visible;
}

.ContainerStatus__plugins-button {
  transition: all 0.125s;
  height: 24px;
  width: 113px;
  border-radius: 0 0 5px 5px;
  background-color: #aaa;
  position: absolute;
  bottom: -55px;
  left: 13px;
  color: white;
  text-align: left;
  line-height: 21px;
  cursor: pointer;
  font-size: 14px;
  //@extend: .jupyter-icon;
  background-size: 30px;
  &.jupyter-icon:before {
    margin: 6px 5px 0px 0px;
  }
}

.ContainerStatus__selected-tool {
  background: url('~Images/icons/offsite.svg') no-repeat right 4px center ;
  background-size: 11px;
  padding-left: 5px;
  padding-top: 2px;
  width: 90px;
  height: 100%;
  border-radius: 0 0 0 5px;
  display: inline-block;
  text-align: left;
  &:hover {
  background: rgba(237,97, 31, 0.8) url('~Images/icons/offsite.svg') no-repeat right 4px center ;
  background-size: 11px;
  }
}

.ContainerStatus__expand-tools {
  transition: all 0.25s;
  background: url('~Images/icons/down-arrow-white.svg') no-repeat center center ;
  background-size: 10px;
  position: absolute;
  width: 23px;
  display: inline-block;
  border-left: 1px solid $white;
  height: 12px;
  top: 6px;
  right: 0;
  &:hover{
    background: rgba(237,97, 31, 0.8) url('~Images/icons/down-arrow-white.svg') no-repeat center center ;
    background-size: 10px;
    height: 100%;
    top: 0;
  }
  &--open{
    background: url('~Images/icons/up-arrow-white.svg') no-repeat center center ;
    background-size: 10px;
    &:hover{
      background:rgba(237,97, 31, 0.8) url('~Images/icons/up-arrow-white.svg') no-repeat center center ;
      background-size: 10px;
      height: 100%;
      top: 0;
    }

  }
}

.ContainerStatus__plugins-title {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid $romanSilver;
}

.jupyter-icon:before {
  margin-right: 5px;
}

.ContainerStatus__plugins-item:hover {
  color: $turquise;
}

.ContainerStatus__plugins-menu {
  animation: slide-down-fade-in forwards .25s;
  transition: all 0.25s;
  position: absolute;
  padding: 3px !important;
  top: 53px;
  right: -126px;
  width: 113px;
  background: $white;
  color: $romanSilver;
  height: auto;
  border: 1px solid $grey;
  @extend .box-shadow;
  z-index: 2;
  padding: 15px;
}

.ContainerStatus__plugins-menu--hover{
  top: 54px;
  right: -129px;
}

.ContainerStatus__plugins-menu-arrow {
  z-index: index($elements, popup);
  position: absolute;
  top: 29px;
  right: -3px;
  @include triangle('up', 14px, $white);
}

.ContainerStatus__button--bottom{
  left: 16px;
  bottom: -57px;
}


.ContainerStatus__container-remove-pointer {
  pointer-events: none;
}
