.Labbook {
  margin-bottom: 100px;
  min-height: calc(100% - 230px);
  height: auto;
  width: auto;
  max-width: 1285px;
  min-width: 820px;
  transition: width 0.25s;
}

.Labbook.is-demo {
  margin-top: 70px;
}

.Labbook__inner-container {
  width: calc(100% - 50px);
  margin: 20px 5px 20px 20px;
  min-height: 100%;
  height: auto;
}

.Labbook__name-branch{
  color: $jet;
  font-size: 1.4vw;

}

.Labbook__name {
  cursor: pointer;
  font-weight: 100;
  font-size: 48px;
  word-break: break-all;
  line-height: 48px;
  height: 49px;
  overflow: visible;
  align-content: baseline;
  align-self: flex-end;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Labbook__branch-title{
  opacity: 1;

  h2 {
      margin: 2px 0;
      padding: 0 0 10px 0;
      cursor: pointer;
      font-weight: 100;
  }

  h2:hover {
    color: $turquise;
  }

  @include flex(flex-start, row)
}

.Labbook__branch-toggle {
  height: 24px;
  width: 24px;
  min-width: 24px;
  margin: 20px 15px 0;
  cursor: pointer;
  align-self: center;
}


.Labbook__branches-shadow {
  position: absolute;
  width: 100%;
  height: 5px;
}

.Labbook__branches-shadow--upper {
  top: 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 6px 2px;
}

.Labbook__branches-shadow--lower {
  bottom: 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -5px 6px 2px;
}

.Labbook__name:hover ~ .Labbook__branch-toggle {
  opacity: 1;
}

.Labbook__branch-title--open {
  .Labbook__branch-toggle {
    background: url('./../images/icons/up-arrow-silver.svg') no-repeat center center;
    background-size: 16px;
  }
}

.Labbook__branch-title--closed {
  .Labbook__branch-toggle {
    opacity: 0;
    background: url('./../images/icons/down-arrow-silver.svg') no-repeat center center;
    background-size: 16px;

  }


}

.Labbook__header-conatiner {
  min-height: 30px;
  z-index: index($elements, labbookHeader);

  @include flex(space-between, row);
}

.Labbook__name-title {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  margin: 20px 0 0 0;
  font-size: 16px;
  color: $slateBlue !important;
  padding: 0px;
  line-height: 30px;
  height: 30px;
}

.Labbook--detail-mode {
  width: calc(100% - 350px);
}


.Labbook__header {
  transition: height 0.25s;
  position: fixed;
  z-index: index($elements, labbookHeader);
  flex: 1 0 auto;
  min-height: 60px;
  height: 100px;
  min-width: 700px;
  margin-top: 15px;
  width: calc(100% - 190px);
}

.Labbook__title {
  text-align: left;
  padding: 20px 0 0 40px;
}


.Labbook__branches-container {
  max-width: calc(100% + $sideBarWidth);
  padding: 20px 0;
  margin: 10px -20px;
  height: 310px;
  position: relative;
  transition: height 0.6s;
  background-color: $background-color;
}

.Labbook__branches-container--collapsed {
  height: 0px;
  transition: height 0.6s;
  padding: 0px;
}

.Labbook__view {
  height: 100%;
  overflow: hidden;
  padding: 10px 0 20px;

}

.Labbook__container-state {
  width: 120px;
  text-align: center;
  height: 30px;
  border-radius: 15px;
  color: $white;
  line-height: 30px;

}

.Labbook__user-note {
  color: $azure;
  position: relative;
  font-size: 14px;
  cursor: pointer;

  h5 {
    padding: 0px;
  }
}

.Labbook__user-note--add {
  background: $azure url('../images/icons/add.svg') no-repeat center center;
  background-size: 10px;
  height: 16px;
  width: 16px;
  border-radius: 15px;
  position: absolute;
  top: -6px;
  left: 100px;
  transition: all 0.3s;

}
.Labbook__user-note:hover {
  .Labbook__user-note--add {
    height: 20px;
    width: 20px;
    top: -8px;
    left: 98px;
    background-size: 14px;
  }
}


.Labbook__container-state.Open {
  background: $turquise;
}
.Labbook__container-state.Building {
  background: $azure;
}
.Labbook__container-state.Closed {
  background: $jet;
}

.Labbook__component-container {
  width: 100%;
}

.Labbook__info {
  width: 250px;

}

.Labbook__info-card {
  width: 200px;
  height: 300px;
  border: 1px solid $romanSilver;
  color: $romanSilver;
  margin: 20px auto;
  padding: 20px;
}

.Labbook__modal {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: index($elements, modal);
  width: 1000px;
  height: 600px;

  margin: -300px 0 0 -400px;

  border: 1px solid $grey;
  background-color: $grey-light;
  box-shadow: 10px 10px 5px #888888;

}

.Labbook__row-container{
  height: 100px;
  @include flex(space-between, row);
  flex-wrap: nowrap;
}

.Labbook__column-container{
  transition: height 0.5s;
  @include flex(space-between, column);
}
.Labbook__column-container--flex-1{
  max-width: 66%;
  @extend .Labbook__column-container;
  flex: 1;
}

.Labbook__component-container{
  .ReactStickyHeader_background-bg,
  .ReactStickyHeader_foreground{
    display: none;
  }
  .ReactStickyHeader_midground{
    top: 90px !important;
  }
  .ReactStickyHeader_root{
    transition: min-height 0.5s;

    .ReactStickyHeader_fixed{

      transition: height 0.5s, padding 0.5s, margin 0.5s, min-height 0.5s;
      height: 140px;
      margin: 40px 0px 0px $sideBarWidth;

      padding: 10px 20px 0;
      background-color: $background-color;
    }
  }

  .Labbook__header.is-sticky{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 6px 2px;
    height: 60px;
    padding: 5px 20px 0;
    background-color: $background-color;
    z-index: index($elements, labbookHeader);
    margin: -10px 0 0 -20px;
    width: calc(100% - 140px);

    .Labbook__navigation-container{
      margin-top: 130px;

    }

    .Labbook__name,
    .Labbook__branches-container{
      display: none;
    }

    .Labbook__branches-container {
      max-width: calc(100% + 40px);
      margin: 10px -20px;

    }

    .Labbook__branches-container--collapsed{
      padding: 0px;
    }
    .Labbook__row-container{
      height: 60px;
    }

    .Labbook__column-container{
      @include flex(flex-end, row-reverse);
      align-content: center;
      align-items: center;
      height: 40px;
    }
    .Labbook__column-container--flex-1{
      @include flex(flex-end, row);
    }

    .BranchMenu{
        margin: 10px 0 0 30px;
    }
    .ContainerStatus{
      .ContainerStatus__plugins-button{
        width: 32px;
        font-size: 0px;
        left: -25px;
        padding: 3px 0 0 5px;
      }
    }
    .BranchMenu__button{
      font-size: 0px;
      width: 60px;
    }

    .Labbook__branch-title{
        height: 0px;
    }

    .Labbook__column-container--flex-1{
      justify-content: flex-start;



      .Labbook__name-title{
        flex: 0 1;
        white-space: nowrap;
        margin-top: 15px;
      }

      .Labbook__branch-title{
        flex: 1;
        opacity: 0;
        cursor: default;

        .Labbook__name{
          cursor: default;
        }
      }
    }
  }
}

.Labbook__private{
  display: inline-flex;
  margin: 0 0 0 20px;
  height: 30px;
  width: 30px;
  background: url(../images/icons/lock-grey.svg) no-repeat center center;
  background-size: 16px;
}

.Labbook__public{
  display: inline-flex;
  margin: 0 0 0px 20px;
  height: 30px;
  width: 30px;
  background: url(../images/icons/earth-grey.svg) no-repeat center center;
  background-size: 20px;
  overflow: visible;

}

.Labbook__private--sticky{
  top: 40px;
  left: 120px;
}
.Labbook__public--sticky{
  top: 43px;
  left: 120px;
}

.Labbook__header.is-expanded{
  height: 100px !important;
}

.Labbook__navigation-container--header{
  position: absolute;
  margin: 0;
  bottom: 0;
}


.Labbook__navigation-container {
  margin-top: 154px;
  transition: 0.5s all;
  position: relative;
}

.Labbook__navigation {
  border-bottom: 1px solid $grey;
  white-space: nowrap;

  li {
    width: 14%;
    text-align: center;

    a {
      display: inline-block;
      padding: .75rem 0;
      margin: 0;
      text-decoration: none;
      color: $jet;
    }

    a:hover {
      color: $selected-blue;
    }
  }

  li.selected a {
    color: $selected-blue;
    z-index: index($elements, button);
    position: relative;
    bottom: -2px;
    line-height: 15px;
  }

  @for $i from 0 through 5 {
    li.Labbook__navigation-item--#{$i}:hover ~ hr {
      margin-left: $i * 14% + 2%;
    }
    .Labbook__navigation-slider--#{$i} {
      pointer-events: none;
      height: 3px;
      width: 10%;
      margin: 0;
      background: $turquise;
      border: none;
      transition: .1s ease-in-out;
      position: absolute;
      bottom: 0;
      margin-left: $i * 14% + 2%;
    }
  }
  @media screen and (max-width: 1120px) and (min-width: 300px) {
    @for $i from 0 through 5 {
      li.Labbook__navigation-item--#{$i}:hover ~ hr {
        @if $i == 0 {
          width: 12%;
          margin-left: $i * 14% + 1%;
        }
        @if $i == 1 {
          width: 10%;
          margin-left: 16%;
        }
        @if $i == 2 {
          width: 14%;
          margin-left: $i * 14%;
        }
        @if $i == 3 {
          width: 8%;
          margin-left: $i * 14% + 3%;
        }
        @if $i == 4 {
          width: 12%;
          margin-left: $i * 14% + 1%;
        }
        @if $i == 5 {
          width: 13%;
          margin-left: $i * 14% ;
        }
      }
      .Labbook__navigation-slider--#{$i} {
        pointer-events: none;
        height: 3px;
        width: 12%;
        margin: 0;
        background: $turquise;
        border: none;
        transition: .1s ease-in-out;
        position: absolute;
        bottom: 0;
        @if $i == 0 {
          width: 12%;
          margin-left: $i * 14% + 1%;
        }
        @if $i == 1 {
          width: 10%;
          margin-left: 16%;
        }
        @if $i == 2 {
          width: 14%;
          margin-left: $i * 14%;
        }
        @if $i == 3 {
          width: 8%;
          margin-left: $i * 14% + 3%;
        }
        @if $i == 4 {
          width: 12%;
          margin-left: $i * 14% + 1%;
        }
        @if $i == 5 {
          width: 13%;
          margin-left: $i * 14% ;
        }
      }
    }
  }
}
.Labbook__navigation--header{
  border-bottom: none;
  li {
    a {
      color: $romanSilver;
    }
  }

}
.Labbook__veil{
  opacity: 0;
  transition: 0.25s opacity;
  position: fixed;
  width: 100%;
  height: calc(100% - 450px);
  top: 450px;
  z-index: -1;
  background: $jet;

}

.Labbook-branch-mode{

  .Labbook__veil{
    display: block;
    opacity: 0.5;
    z-index: index($elements, veil);
  }

  .ReactStickyHeader_root {
    min-height: 437px;
  }
  .ReactStickyHeader_fixed {
    min-height: 380px;
  }

  .Labbook__navigation-container {
    margin-top: 450px;
  }

  .ReactStickyHeader_midground{
    top: 90px !important;
  }

  .Labbook__view{
    margin-top: 50px;
  }
}

@media screen and (max-width: 50000px) and (min-width: 1480px) {
  .Labbook__inner-container{
    margin: 20px 35px;
  }


  .Labbook__branches-container{
    margin: 10px -35px;
  }

  .Labbook__component-container .Labbook__header.is-sticky{
    margin: -10px 0 0 -35px;
  }

}
