@import '~Styles/_imports.scss';


.ResetBranchButton {
  position: relative;
  height: 40px;

  &__btn {
    background: url(~Images/icons/branches/reset.svg) no-repeat center center;
    background-size: 25px;

    &:hover, &:focus {
      color: $white;
      background: $primary url(~Images/icons/branches/reset-hover.svg) no-repeat center center;
      background-size: 25px;
    }
    &:disabled {
      background: $background-color url(~Images/icons/branches/reset-disabled.svg) no-repeat center center;
      background-size: 25px;
      border: 1px solid $romanSilver;
      color: $romanSilver;
      cursor: auto;
    }
  }

  &__popup {
    background: $white;
    padding: 10px;
    font-size: 14px !important;
    width: 200px;
    position: absolute;
    top: 50px;
    left: -20px;
    text-align: center;
    z-index: index($elements, popup);

    @include boxShadowDark();

    &:before {
      content: '';
      position: absolute;
      top: -9px;
      left: 33px;
      @include triangle('up', 9px, $white);
    }
  }
}
