@import '~Styles/_imports.scss';

.AddSubfolder {
    height: 40px;
    padding: 6px 0 6px 105px;
    position: relative;
    cursor: pointer;
    text-align: left;

    background: $background-color url(~Images/icons/folder-add-dark.svg) no-repeat 62px 50%;
    background-size: 20px;

    line-height: 24px;
    @include flex(flex-start, row);
    align-items: center;

    &:hover{

    }
}


.AddSubfolder__edit{
  @include flex(space-around, row);
  align-items: center;
}

.AddSubfolder__input[type="text"]{
  height: 30px !important;
  background: $white !important;
  border-bottom: 0px solid $white !important;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1) !important;

  margin: 0 20px 0 0 !important;

  flex: 1;

  &:focus{
    height: 30px !important;
    background: $white !important;
    border-bottom: 0px solid $white !important;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.4) !important;

  }
}

.AddSubfolder__container {
  position: relative;
  min-width: 350px;
  margin-right: 20px;
}

.AddSubfolder__btn {
  &--add {
    height: 30px;
    width: 34px !important;
    padding: 0;

    border-radius: 15px;

    background: $primary url(~Images/icons/add.svg) no-repeat center center;
    background-size: 16px;
    flex: 0 1 30px;

    &:hover {
      background: $secondary url(~Images/icons/add.svg) no-repeat center center;
      background-size: 16px;
    }

    &:focus {
      background: $primary url(~Images/icons/add.svg) no-repeat center center;
      background-size: 16px;
    }
  }

  &--clear,
  &--clear:focus,
  &--clear:hover {
    position: absolute;
    top: 50%;
    right: 40px;
    margin: -14px 0 0 -35px;
    padding: 0 35px 0 0;
    color: $romanSilver;
    background-color: transparent;
    border: 0;
    background: url(~Images/icons/close.svg) no-repeat calc(100% - 5px) center;
    background-size: 24px;
  }
}
