.Base *{
  font-weight: 100;

}

.Base__header-container{
  @include flex(left, row)
}

.Base__header{
  color: $romanSilver;
}

.Base__card{
  color: $romanSilver;
  @extend .card;
  @include flex(space-between, row);
  img{
    min-width: 70px;
    margin: 0 10px 0 0;
  }

  padding: 30px;
}


.Base__image-container{
  width: 250px;
  margin: 0 20px 0 0;
  @include flex(space-between, row);

  p{
    font-size: 14px;
    font-weight: 400;
  }

  .Base__name{
    font-weight: 400;
  }

  .Base__title{
    flex: 1;
    width: 160px;
  }
}

.Base__card-text{
  flex: 1;

  p{
    margin-top: 0px;
  }
}

.Base__categories{
  @include flex(flex-start, row);

  h6{
    font-size: 16px;
    font-weight: 400;
  }
}

.Base__categories-languages{
  width: 50%;
}

.Base__categories-tools{
  width: 50%;
}
