.CustomDockerfile {
  position: relative;
  hr {
    opacity: 0.5;
    max-width: 85%;
    margin: 0;
  }
}

.CustomDockerfile__header {
  color: $romanSilver;
}

.CustomDockerfile__sub-header {
  margin-top: 0;
  font-size: 14px;
  color: $romanSilver;
  p{
    margin: 5px 0;
  }
  p:first-child {
    margin: 0 0 10px 0;
  }
  code {
    font-family: monospace;
  }
}

.CustomDockerfile--code-snippet code{
  padding: 2px 10px;
  margin: -4px 0 4px 11px;
 }

.CustomDockerfile__content {
  @extend .card;
  padding: 10px !important;
  color: $jet;
  white-space: pre-wrap;
  padding: 0;
  word-wrap: break-word;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: column;

  p {
    margin: 0
  }

  div:first-child {

    /*
      have to use extend as ReactMarkDown does not inherit classNames
    */

    margin-bottom: 0;
    p {
      font-family: monospace !important;
      font-size: 1em !important;
    }
  }
  button {
    margin-top: 2px;
  }
  .column-1-span-2 {
    align-self: flex-end;

    @include flex(space-between, row);
  }
  .empty {
    color: $romanSilver;
    opacity: 0.5;
    font-style: oblique;
  }
  .column-1-span-11{
    align-self: center;
  }
}

.CustomDockerfile__content-input {
  height: 200px;
  font-family: monospace;
  font-size: 1em;
}

.CustomDockerfile__content-input:focus {
  border: 2px solid #26a69a;
  box-shadow: 0 1px 0 0 #26a69a;
  outline: none;
}

.CustomDockerfile__content-edit-button,
.CustomDockerfile__content-edit-button:hover,
.CustomDockerfile__content-edit-button:focus,
.CustomDockerfile__content-edit-button:disabled {
  height: 22px;
  width: 22px;
  border: 0px;
  background: url('./../images/icons/edit.svg') no-repeat center center;
  background-size: 22px;
}
.CustomDockerfile__content-edit-button:disabled {
  opacity: 0.2;
}

.CustomDockerfile__content-cancel-button,
.CustomDockerfile__content-cancel-button:hover,
.CustomDockerfile__content-cancel-button:focus {
  padding: 0;
}

.CustomDockerfile__button-container{
  @include flex(flex-end, row);
}