.Environment {
  width: 100%;
}

.Environment__header-container {
  @include flex(left, row)
}

.Environment__header {
  font-weight: light;
  color: $font-grey;
  font-size: 22px;
}

.Environment__edit-button,
.Environment__edit-button:hover,
.Environment__edit-button:focus {
  font-weight: light;
  color: $font-grey;
  font-size: 14px;
  height: 30px;
  width: 30px;
  padding: 5px;
  border: 0px;
  background: url('./../images/icons/edit.svg') no-repeat center center;
  background-size: 22px;
}

.Environment__card {
  background-color: $white;
  padding: 10px;
  color: $jet;
  width: 100%;
  @extend .box-shadow;
}


.Environment__image-container {
  align-items: center;
  align-content: center;
  align-self: center;
}

.Environment__card-text {
  //background-color: $grey-light;
  padding: 10px;
  width: 200px;
}

.Environment__edit-container {
  align-self: center;
  margin-left: 20px;
}

.Environment__modal {
  position: fixed;
  @include modal(500px, 800px);

  .SelectDevelopmentEnvironment__title,
  .AddEnvironmentPackage__title {
    font-size: 1.5em;
    text-align: center;
    border-bottom: 1px solid $azure;
    padding: 5px;
    color: $azure;
  }

  .SelectBaseImage__progress-button {
    display: none;
  }

}

.Environment__modal-close {
  cursor: pointer;
  @include close();
}

.Environment__package-dependencies {
  margin: 10px 20px 10px 0;

  .Environment__card-text{
      background-color: $white;
      width: 150px;
      @extend .box-shadow;

      p{
        margin: 0 5px 0 0;
      }

  }
}

.Environment__development-environment-item,
.Environment__dependencies {
  margin: 0 20px 0 0;
}
