.PackageDependencies__card {
  @extend .card;
  padding: 20px;
}
.PackageDependencies__header {
  color: $romanSilver;
}

.PackageDependencies__tabs-list {
  @extend .tabs-list;
}

.PackageDependencies__tab {
  @extend .tab;
  width: calc(25% - 20px);
  background-color: $grey-light;
  color: $romanSilver;
}
.PackageDependencies__tab:hover{
  background-color: $white;
  color: $turquise;
}
.PackageDependencies__tab--selected {
  @extend .tab--selected;
  background-color: $white;
  color: $romanSilver;
}

@keyframes Gradient {
	0% {
		background-position: 0% 100%;
	}
	50% {
		background-position:  100% 100%;
	}
	100% {
		background-position: 0% 100%;
	}
}



.PackageDependencies__table-row--checking,
.PackageDependencies__table-row--valid,
.PackageDependencies__table-row--invalid, {
  @include flex(flex-start, row);
}

td.PackageDependencies__td-package {
  flex: 2;
}

td.PackageDependencies__td-version {
  flex: 1;
}

.PackageDependencies__table-row--invalid {
  color: $crimson;
}

.PackageDependencies__table--border {
  position: relative;
  padding: 20px 20px 35px;
  border: 1px solid $grey;
  margin-bottom: 45px;
}

.PackageDependencies__table--no-right-padding {
  padding-right: 0px;
}
.PackageDependencies__menu {
  transition: min-height 0.5s, height 0.5s;
  min-height: 0px;
  max-height: auto;
  overflow: hidden;
};

.PackageDependencies__menu--min-height {
  min-height: 0px;
  height: 0px;
}

.PackageDependencies__button:hover {
  background-color: $grey-light;
  color: $turquise;
  border: 0;
  font-weight: bold;

}

.PackageDependencies__button,
.PackageDependencies__button:focus {
  padding: 5px 0;
  background-color: $grey-light;
  border: 0;
  color: $azure;
  width: 100%;
}

.PackageDependencies__button--absolute {
  position: absolute;
  height: 40px;
  left: 50%;
  bottom: -20px;
  margin: 0 0 0 -117px;
}

.PackageDependencies__button--absolute.ButtonLoader--loading,
.PackageDependencies__button--absolute.ButtonLoader--finished,
.PackageDependencies__button--absolute.ButtonLoader--error{
  margin: 0 0 0 -13px;
  bottom: -13px;
}

.PackageDependencies__button--add {
  background: $azure url('../images/icons/add.svg') no-repeat 50% 50%;
  background-size: 16px;
}
.PackageDependencies__button--add:hover {
  background: $turquise url('../images/icons/add.svg') no-repeat 50% 50%;
  background-size: 16px;
}

.PackageDependencies__button--remove--adder,
.PackagesDependencies__button--remove-adder:focus {
  background: $azure url('../images/icons/close-white.svg') no-repeat 50% 50%;
  background-size: 14px;
}

.PackageDependencies__button--remove,
.PackagesDependencies__button--remove:focus {
  background: url('../images/icons/check-unselected.svg') no-repeat 50% 50% !important;
  border: none;
}

.PackageDependencies__button--remove--adder:hover {
  background: $turquise url('../images/icons/close-white.svg') no-repeat 50% 50%;
  background-size: 14px;
}

.PackageDependencies__button--remove:hover {
  background: $azure url('../images/icons/check-selected.svg') no-repeat 50% 50% !important;
  background-size: 44px !important;
  border: none;
}

.PackageDependencies__button--remove:disabled{
  opacity: 0.2;
  border: none;
}

.PackageDependencies__button--remove:disabled:hover {
  background: url('../images/icons/check-unselected.svg') no-repeat 50% 50% !important;
  border: none;
}

.PackageDependencies__button--remove--selected:focus,
.PackageDependencies__button--remove--selected:hover,
  .PackageDependencies__button--remove--selected  {
  background: $azure url('../images/icons/check-selected.svg') no-repeat 50% 50%;
  background-size: 44px !important;
  border: none;
}

.PackageDependencies__button--line-18:hover{
  color: $turquise !important;
  background: url('../images/icons/down-arrow-turquise.svg') no-repeat calc(50% + 90px) 50%;
  background-size: 25px;
}


.PackageDependencies__button--line-18 {

    font-size: 20px;
    line-height: 18px;
    font-weight: bold;
    background: url('../images/icons/down-arrow-azure.svg') no-repeat calc(50% + 90px) 50%;
    background-size: 25px;
    height: 50px;
}

.PackageDependencies__button--open {
  background: url('../images/icons/up-arrow-azure.svg') no-repeat calc(50% + 90px) 50%;
  background-size: 25px;
}

.PackageDependencies__button--open:hover,
.PackageDependencies__button--open:focus {
  background: url('../images/icons/up-arrow-turquise.svg') no-repeat calc(50% + 90px) 50%;
  background-size: 25px;
}


.PackageDependencies__add-package {
  background-color: $grey-light;
  margin: 20px 0 10px 0;
  padding: 5px 20px;
  border-radius: 8px;
  border: 1px solid $romanSilver;
}

.PackageDependencies__package-menu {
  padding: 15px 0 20px 0;
  margin-bottom: 20px;
  @include flex(space-around, row);

  .PackageDependencies__input-text[type="text"] {
    flex: 2;
    margin: 0 20px 0 0;
  }

  .PackageDependencies__input-text--version[type="text"] {
    @extend .PackageDependencies__input-text;
    flex: 1 1;
  }

  button {
    margin: 0 0 0 10px;
    line-height: 18px;
  }
}

.PackageDependencies__input-text[type="text"]::placeholder {
  color: $romanSilver;
}

.PackageDependencies__button--round {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  padding: 0;
}

.PackageDependencies__input-text--version:disabled {
  opacity: 0.3;
}

@keyframes fluxuateLoad {
    0% {
      opacity: 0.1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0.1;
    }

}



.PackageDependencies__optimistic-updating {
  opacity: 0.1;
  animation: fluxuateLoad 3s infinite;
}

.PackageDependencies__version-loading {
  width: 20px;
  height: 20px;
  border: 3px solid $grey;
  border-top: 3px solid $turquise;
  border-radius: 50%;
  position: absolute;
  margin-left: 10px;
  display: inline-block;
  animation: spin 2s linear infinite;
}

.PackageDependencies__remove-row{
  position:relative;
  width: 90px;
  div{
    position:absolute;
    top: 12px;
    left: -50px;
    width: 150px;

  }
}

.PackageDependencies__select-row{
  text-align: center;
}

.PackageDependencies__update-available{
  margin-left: 5px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: $azure url('../images/icons/update-version.svg') no-repeat 50% 50% ;
  background-size: 25px;
  display: inline-block;
  position: relative;
  align-self: center;
  right: 50%;
}

.PackageDependencies__last-row{
  width: 90px;
  height: 26px;
  text-align: center;
}

.PackageDependencies__remove-button--full,
.PackageDependencies__remove-button--full:focus {
  padding-left: 40px;
  width: 140px;
  background: $azure url('./../images/icons/trash-white.svg') no-repeat 30px center;
  background-size: 18px;
}
.PackageDependencies__remove-button--full:hover{
  background: $turquise url('./../images/icons/trash-white.svg') no-repeat 30px center;
  background-size: 18px;

}

.PackageDependencies__remove-button--half,
.PackageDependencies__remove-button--half:focus {
  background: $azure url('./../images/icons/trash-white.svg') no-repeat 2px center;
  width: 70px;
  border-radius: 0 10px 10px 0;
  background-size: 14px;
  font-size: 14px;
}

.PackageDependencies__remove-button--half:hover{
  background: $turquise url('./../images/icons/trash-white.svg') no-repeat 2px center;
  background-size: 14px;
}

.PackageDependencies__update-button,
.PackageDependencies__update-button:focus{
  background: $azure url('../images/icons/update-version.svg') no-repeat 2px 50% ;
  width: 70px;
  border-radius: 10px 0 0 10px;
  background-size: 18px;
  font-size: 14px;
}

.PackageDependencies__update-button:hover{
  background: $turquise url('../images/icons/update-version.svg') no-repeat 2px 50% ;
  background-size: 18px;
}

.PackageDependencies__table thead,
.PackageDependencies__table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.PackageDependencies__table tbody {
  display: block;
  max-height: 402px;
  overflow-y: auto;
}

.PackageDependencies__latest-column{
  height: 66px;
  flex-grow: 1;
  @include flex(space-between, row);
  span{
    align-self: center;
  }
  div{
    align-self: center;
  }
}
