@import '~Styles/_imports.scss';
@import '~Styles/atoms/card.scss';
@import '~Styles/atoms/containerStatus.scss';

.ErrorBoundary {

  align-items: center;
  @include flex(center, column);

  &--packageDependenciesError{
      @extend .Card;
      background: $white url(~Images/icons/warning-triangle.svg) no-repeat center 40px;
      background-size: 80px;
      margin: 8px 0 16px 0;
      padding: 80px 0 0 0;
      height: 226px;
  }

  &--baseError{
      @extend .Card;
      background: $white url(~Images/icons/warning-triangle.svg) no-repeat center 30px;
      background-size: 60px;
      margin: 8px 0 16px 0;
      padding: 70px 0 0 0;
      height: 137px;
  }

  &--labbookSectionError{
      background: url(~Images/icons/warning-triangle.svg) no-repeat center 60px;
      background-size: 100px;
      margin: 20px 0;
      padding: 70px 0 0 0;
      width: 100%
  }

  &--activityCardError{
      @include spanColumns(10, 1);
      height: 80px;
      margin: 0;
      z-index: index($elements, card);
      position: relative;
      background: $white url(~Images/icons/warning-triangle.svg) no-repeat 20px center;
      background-size: 50px;
      border-bottom: 10px solid $primary;
  }

  &--containerStatusError{
      @extend .ContainerStatus__container-state;
      cursor: auto !important;
      background: $background-color url(~Images/icons/warning-triangle.svg) no-repeat 90% center;
      background-size: 20px;
      border: 3px solid $primaryText !important;
      color: $primaryText !important;
  }

  &--BranchesError{
      background: url(~Images/icons/warning-triangle.svg) no-repeat center 60px;
      background-size: 70px;
      padding-top: 150px;
  }
}
