.ImportModule {
  padding: 5px ;

  h6 {
    align-self: center;

    padding: 0px 5px;

    transition: 1s padding-left;

    font-size: 18px;
  }

}

.ImportModule__close {
  @include close();
}

.ImportModule__drop-area {
    overflow: hidden;

    width: calc(100% - 30px);
    height: 220px;
    margin: 0 15px 15px;

    transition: 0.25s width;
    text-align: center;
    word-break: break-all;

    border: 1px dashed $jet;

    @include flex(center, row);

}
.ImportModule__instructions,
.ImportModule__instructions--error {
    word-break: keep-all;
}

.ImportModule__instructions--error {
    color: $crimson;
}


.ImportModule__drop-area-highlight {
  //width: 300px;
  opacity: 1;
  color: $azure;
  border: 2px dashed $azure;
  background: white;
}

.ImportModule__animation {
  padding-left: 1000px !important;

  white-space: nowrap;
  word-wrap: nowrap;
  word-break: keep-all;

}

.ImportModule__upload-button {
  align-self: center;

  width: 220px;
  height: 40px;
  padding-left: 25px;

  animation-name: oscilateImportIcon;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  text-align: center;

  color: $azure;
  border: 1px solid $azure;
  border-radius: 20px;
  background: url('../images/icons/import.svg') no-repeat 15px center;
  background-size: 18px;

  font-size: 20px;
  line-height: 20px;
}

@keyframes oscilateImportIcon {
  from {
    background-position: 0px center;
  }

  to {
    background-position: 5px center;
  }
}

.ImportModule__upload-button:hover,
.ImportModule__upload-button:focus {
  animation-name: oscilateImportIcon;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  color: white;
  border: 0px;
  background: $azure url('../images/icons/import-hover.svg') no-repeat 15px center;
  background-size: 18px;

  font-size: 20px;
}

.ImportModule__upload-button:disabled,
.ImportModule__upload-button:disabled:hover {
  animation-duration: 0.0s;
  animation-iteration-count: 0;
  animation-direction: alternate;

  color: black;
  border: 1px solid $grey-light;
  background: none;
  //background: url('../images/icons/import-disabled.svg') no-repeat 0px center;
  background-size: 18px;
}

.ImportModule__loading-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom:0;
  left:0;

  background: rgba(0,0,0,0.3) url('../images/icons/rings.svg') no-repeat center center;
  background-size: 40px;
}
