@import '~Styles/_imports.scss';

.DatasetFilterBy {
  color: $font-grey;
  align-self: flex-end;
  @include flex(space-between, row);
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
}

.DatasetFilterBy__selector{

    width: 200px;
}

.DatasetFilterBy__list-item{

  height: 40px;
  padding: 10px 5px !important;
  padding-top: 2px;

  user-select: none;

  border-bottom: 1px solid $grey;

  &:last-child{
    border-bottom: none;
  }

  &:hover {
    transition: background-color 0.25s ease-in-out;

    background: $azure;
    color: $white;
  }
}
