@import '~Styles/_imports.scss';

.DatasetSort {
  color: $font-grey;
  align-self: flex-end;
  @include flex(space-between, row);
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
}


.DatasetSort__list-item{

    white-space: nowrap;
    height: 40px;
    padding: 10px 5px !important;
    padding-top: 2px;

    user-select: none;

    border-bottom: 1px solid $grey;


    &:last-child{
      border-bottom: none;
    }


    &:hover {
      transition: background-color 0.25s ease-in-out;

      background: $azure;
      color: $white;
    }
}
