@import '~Styles/_imports.scss';

.FilePreview__section {
  margin-top: 20px;
}

.FilePreview__container {
  align-items: center;
  @include flex(flex-start, row);
  color: $jet;
  a {
    color: $azure;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 40px;
  }
}

.FilePreview__empty{
  width: 100%;
  height: 100px;
  background: $grey-border;
  @include flex(center, row);
  text-align: center;
  padding: 30px;
  position: relative;
  margin: 0 12.5px;
}


.FilePreview__empty-content{
  @include flex(center, column);
  p {
    margin: 0;
  }
  .FilePreview__empty-header {
    font-weight: 900;
    color: $darkGrey;
  }
  .FilePreview__empty-action{
    color: $azure;
    text-decoration: underline;
    cursor: pointer;
  }

}