@import '~Styles/_imports.scss';

.Base *{
  text-align: left;
  font-size: 15px;
  font-weight: 100;
}

.Base__card{
  padding: 20px;

  color: $mineShaft;

  @include flex(space-between, row);
}

.Base__image{
  min-width: 35px;
  margin: 20px 20px 0 0;
}


.Base__imageContainer{
  max-width: 35%;
  @include flex(space-between, row);
}

.Base__paragraph{
   word-break: normal;


   font-weight: 400;
 }

.Base__revision{
  word-break: normal;
  margin: 0;
  font-weight: 400;
}

.Base__name{
  word-break: break-word;
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: 600;
}

.Base__title{
  flex: 1;

  max-width: 800px;
}

.Base__cardText{
  flex: 1;

  p{
    margin-top: 0px;
  }
}

.Base__categories{
  @include flex(flex-start, row);

  h6 {
    font-size: 16px;
    font-weight: 800;
  }
  li {

    font-weight: 100;
  }
}

.Base__languages{
  padding: 0 30px;
}

.Base__tools{
  padding: 0 30px;
}

.Btn__base{
  padding-left: 25px;
  color: $azure;
  border-radius: 13px;
  &--change {
    background: $lightGrey url('~Images/icons/cogwheel.svg') no-repeat left 5px center;
    background-size: 20px;
    margin-bottom: 12px;
    &:disabled, &:disabled:hover {
      background: $lightGrey url('~Images/icons/cogwheel-disabled.svg') no-repeat left 5px center;
      background-size: 20px;
      color: $romanSilver;
    }
  }
  &--update {
    background: $lightGrey url('~Images/icons/update-azure.svg') no-repeat left 5px center;
    background-size: 20px;
    margin-bottom: 12px;
    &:disabled, &:disabled:hover {
      background: $lightGrey url('~Images/icons/update-version.svg') no-repeat left 5px center;
      background-size: 20px;
      color: $romanSilver;
    }
  }
  &--loading {
    background: $lightGrey url('~Images/loaders/status-spinner.svg') no-repeat left 4px center !important;
    background-size: 16px !important;
  }
}
