@import '~Styles/_imports.scss';

.CustomDockerfile {
  position: relative;
  hr {
    opacity: 0.5;
    max-width: 85%;
    margin: 0;
  }
}

.CustomDockerfile__sub-header {
  margin-top: 0;
  font-size: 14px;
  color: $mineShaft;
  p{
    margin: 5px 0;

    &:first-child {
      margin: 0 0 10px 0;
    }
  }

  code {
    font-family: monospace;
    text-align: center;
  }
}

.CustomDockerfile--code-snippet code{
  padding: 0px 10px;
}

.CustomDockerfile__content {
  padding: 30px 15px 30px 47px;
  color: $jet;
  white-space: pre-wrap;
  word-wrap: break-word;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: column;

  .ReactMarkdown {
    .CodeBlock--docker {
      display: flex !important;
      width: calc(100% - 60px);
    }
  }

  p {
    margin: 0
  }

  div:first-child {

    /*
      have to use extend as ReactMarkDown does not inherit classNames
    */

    margin-bottom: 0;
    p {
      font-family: monospace !important;
      font-size: 1em !important;
    }
  }
  .column-1-span-2 {
    align-self: flex-end;

    @include flex(space-between, row);
  }

  .empty {
    color: $mineShaft;
    opacity: 0.5;
    font-style: oblique;
  }

  code{
    text-align: left;
  }
}

.CustomDockerfile__textarea {
  padding: 10px;
  height: 200px;
  font-family: monospace;
  font-size: 1em;
  resize:vertical;
  width: calc(100% - 60px);
  margin: 20px;
}

.CustomDockerfile__textarea:focus {
  outline: none;
}

.CustomDockerfile__buttonContainer{
  margin: 0 20px 20px;
  @include flex(flex-end, row);
}

.CustomDockerfile__btn {

  &--edit,
  &--edit:hover,
  &--edit:focus,
  &--edit:disabled {
    height: 22px;
    width: 22px;
    border: 0px;
    background: url('~Images/icons/edit.svg') no-repeat center center;
    background-size: 22px;
  }

  &--edit:disabled{
      opacity: 0.2;
  }

  &--cancel,
  &--cancel:hover,
  &--cancel:focus {
    padding: 0;
  }

}

.CustomDockerfile__block {
  border-top: 28px solid $backgroundGrey;
  width: calc(100% - 106px);
  pre {
    margin: 0 !important;
    border-radius: 0 !important;
  }
}

.CustomDockerfile__draggables {
  margin: 0 18px;
}