@import '~Styles/_imports.scss';

.PackageDependencies__card {

  padding: 20px;
}
.PackageDependencies__header {
  color: $romanSilver;
}

.PackageDependencies__tab {
  line-height: 30px;
  width: calc(25% - 20px);
  background-color: $grey-light;
  color: $romanSilver;

  &:hover {
    background-color: $white;
    color: $turquise;
  }

  &--selected {
    background-color: $white;
    color: $romanSilver;
    border-bottom: 1px solid $white;
  }
}

.PackageDependencies__td {

  &--package {
    flex: 2;
  }

  &--version {
    flex: 1;
  }
}

.PackageDependencies__table {
  margin: 20px 0 0 0;
  &--border {
    position: relative;
    padding: 20px 20px 35px;
    border: 1px solid $grey;
    margin-bottom: 45px;
  }

  &--no-right-padding {
    padding-right: 0px;
  }

  &-row{
    padding: 10px 0 5px;
    height: 50px;
  }
}

.PackageDependencies__menu {
  transition: min-height 0.5s, height 0.5s;
  min-height: 0px;
  max-height: auto;

  &--min-height {
    min-height: 0px;
    height: 0px;
    overflow: hidden;
  }
}



.PackageDependencies__btn {
  padding: 5px 0;
  background-color: $grey-light;
  border: 0;
  color: $azure;
  width: 100%;

  &:hover {
    background-color: $grey-light;
    color: $turquise;
    border: 0;
    font-weight: bold;

  }

  &:focus {
    padding: 5px 0;
    background-color: $grey-light;
    border: 0;
    color: $azure;
    width: 100%;
  }

  &:disabled {
    background-color: $grey-light;
    border: 0;
    font-weight: bold;

    &:hover {
      background-color: $grey-light;
    }

  }

  &--absolute {
    position: absolute;
    height: 40px;
    left: 50%;
    bottom: -20px;
    margin: 0 0 0 -117px;
  }

  &--absolute.ButtonLoader--loading,
  &--absolute.ButtonLoader--finished,
  &--absolute.ButtonLoader--error {
    margin: 0 0 0 -13px;
    bottom: -13px;
  }

  &--add {
    background: $azure url('~Images/icons/add.svg') no-repeat 50% 50%;
    background-size: 16px;

    &:hover {
      background: $turquise url('~Images/icons/add.svg') no-repeat 50% 50%;
      background-size: 16px;
    }
  }

  &--remove--adder,
  &--remove-adder:focus {
    background: $azure url('~Images/icons/close-white.svg') no-repeat 50% 50%;
    background-size: 14px;
  }


  &--remove{
    background: url('~Images/icons/check-unselected.svg') no-repeat 50% 50% !important;
    border: none;

    &:disabled{
      opacity: 0.2;
      border: none;
    }

    &:hover {
      background: $azure url('~Images/icons/check-selected.svg') no-repeat 50% 50% !important;
      background-size: 44px !important;
      border: none;
    }

    &:focus {
      background: url('~Images/icons/check-unselected.svg') no-repeat 50% 50% !important;
      border: none;
    }

    &:disabled:hover {
      background: url('~Images/icons/check-unselected.svg') no-repeat 50% 50% !important;
      border: none;
    }
  }

  &--remove--adder:hover {
    background: $turquise url('~Images/icons/close-white.svg') no-repeat 50% 50%;
    background-size: 14px;
  }

  &--remove--selected,
  &--remove--selected:hover,
  &--remove--selected:focus {
    background: $azure url('~Images/icons/check-selected.svg') no-repeat 50% 50% !important;
    background-size: 44px !important;
    border: none;
  }

  &--line-18 {

      font-size: 20px;
      line-height: 18px;
      font-weight: bold;
      background: url('~Images/icons/down-arrow-azure.svg') no-repeat calc(50% + 90px) 50%;
      background-size: 25px;
      height: 50px;

      &:hover{
        color: $turquise !important;
        background: url('~Images/icons/down-arrow-turquise.svg') no-repeat calc(50% + 90px) 50%;
        background-size: 25px;
      }

      &:disabled{
        color: $romanSilver !important;
        background: url('~Images/icons/down-arrow-silver.svg') no-repeat calc(50% + 90px) 50%;
        background-size: 25px;

        &:hover {
          color: $romanSilver !important;
          background: url('~Images/icons/down-arrow-silver.svg') no-repeat calc(50% + 90px) 50%;
          background-size: 25px;
        }
      }
  }

  &--open {
    background: url('~Images/icons/up-arrow-azure.svg') no-repeat calc(50% + 90px) 50%;
    background-size: 25px;

    &:hover,
     :focus {
      background: url('~Images/icons/up-arrow-turquise.svg') no-repeat calc(50% + 90px) 50%;
      background-size: 25px;
    }
  }

  &--round {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    padding: 0;
  }

  &--margin{
    line-height: 18px;
  }
}


.PackageDependencies__addPackage {
  position: relative;
  background-color: $grey-light;
  margin: 20px 0 10px 0;
  padding: 5px 20px;
  border-radius: 8px;
  border: 1px solid $romanSilver;
}

.PackageDependencies__packageMenu {
  padding: 15px 0 20px 0;
  margin-bottom: 20px;
  @include flex(space-around, row);
  align-items: center;
}

.PackageDependencies__input {
  &[type="text"] {
    flex: 2;
    margin: 0 20px 0 0 !important;
  }

  &--version[type="text"] {
    flex: 1 1;
    margin: 0 20px 0 0 !important;
  }
}


.PackageDependencies__versionLoading {
  width: 20px;
  height: 20px;
  border: 3px solid $grey;
  border-top: 3px solid $turquise;
  border-radius: 50%;
  position: absolute;
  margin-left: 10px;
  display: inline-block;
  animation: spin 2s linear infinite;
}

.PackageDependencies__th{
  height: 30px;
  &--remove {
    position:relative;
    width: 90px;
    div{
      position:absolute;
      top: 0px;
      right: 0px;
      width: 150px;
    }
  }

  &--last {
    width: 90px;
    height: 26px;
    text-align: center;
  }

}

.PackageDependencies__cell{

  &--select{
    text-align: center;
  }

  &--latest-column{
    height: 66px;
    flex-grow: 1;

    @include flex(space-between, row);

    span{
      align-self: center;
    }

    div{
      align-self: center;
    }
  }

  &--optimistic-updating {
    opacity: 0.1;
    animation: fluxuateLoad 3s infinite;
  }
}

.PackageDependencies__updateAvailable {
  margin-left: 5px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: $azure url('~Images/icons/update-version.svg') no-repeat 50% 50% ;
  background-size: 25px;
  display: inline-block;
  position: relative;
  align-self: center;
  right: 50%;
}



.PackageDependencies__remove-button--full,
.PackageDependencies__remove-button--full:focus {
  padding-left: 40px;
  width: 140px;
  background: $azure url('~Images/icons/trash-white.svg') no-repeat 30px center;
  background-size: 18px;
}
.PackageDependencies__remove-button--full:hover{
  background: $turquise url('~Images/icons/trash-white.svg') no-repeat 30px center;
  background-size: 18px;

}

.PackageDependencies__remove-button--full:disabled{
  background: $grey-light url('~Images/icons/trash.svg') no-repeat 30px center;
  background-size: 18px;
  border: 0px;
  &:hover{
    background: $grey-light url('~Images/icons/trash.svg') no-repeat 30px center;
    background-size: 18px;
  }
}

.PackageDependencies__remove-button--half,
.PackageDependencies__remove-button--half:focus {
  background: $azure url('~Images/icons/trash-white.svg') no-repeat 2px center;
  width: 70px;
  border-radius: 0 10px 10px 0;
  background-size: 14px;
  font-size: 14px;
  word-break: normal;
}

.PackageDependencies__remove-button--half:hover{
  background: $turquise url('~Images/icons/trash-white.svg') no-repeat 2px center;
  background-size: 14px;
  word-break: normal;
}

.PackageDependencies__remove-button--half:disabled{
  background: $grey-light url('~Images/icons/trash.svg') no-repeat 2px center;
  background-size: 14px;
  border: 0px;
  word-break: normal;

  &:hover{
    background: $grey-light url('~Images/icons/trash.svg') no-repeat 2px center;
    background-size: 14px;
    border: 0px;
    word-break: normal;
  }
}

.PackageDependencies__update-button,
.PackageDependencies__update-button:focus{
  background: $azure url('~Images/icons/update-version.svg') no-repeat 2px 50% ;
  width: 70px;
  border-radius: 10px 0 0 10px;
  background-size: 18px;
  font-size: 14px;
  word-break: normal;
}

.PackageDependencies__update-button:hover{
  background: $turquise url('~Images/icons/update-version.svg') no-repeat 2px 50% ;
  background-size: 18px;
  word-break: normal;
}

.PackageDependencies__update-button:disabled {
  background: $grey-light url('~Images/icons/update-version-silver.svg') no-repeat 2px 50% ;
  background-size: 18px;
  word-break: normal;
  border: 0px;

  &:hover {
    background: $grey-light url('~Images/icons/update-version-silver.svg') no-repeat 2px 50% ;
  }
}

.PackageDependencies__table thead,
.PackageDependencies__table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.PackageDependencies__table tbody {
  display: block;
  max-height: 402px;
  overflow-y: auto;
}


@keyframes fluxuateLoad {
    0% {
      opacity: 0.1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0.1;
    }
}
