@import '~Styles/_imports.scss';

.PackageDependencies__card {
  padding: 20px;
}

.PackageDependencies__tab {
  width: calc(25% - 20px);

  color: $jet;
  background-color: $grey-light;

  line-height: 30px;

  &:hover {
    background-color: $white;
  }

  &--selected {
    color: $jet;
    border-bottom: 1px solid $white;
    background-color: $white;
  }
}

.PackageDependencies__td {

  &--package {
    flex: 2;
  }

  &--version {
    flex: 1;
  }
}

.PackageDependencies__table {
  margin: 20px 0 0 0;
  &--border {
    position: relative;

    margin-bottom: 45px;
    padding: 20px 20px 35px;

    border: 1px solid $grey;
  }

  &--no-right-padding {
    padding-right: 0px;
  }

  &-row{
    height: 50px;
    padding: 10px 0 5px;
  }
}

.PackageDependencies__menu {
  min-height: 0px;
  max-height: auto;

  transition: min-height 0.5s, height 0.5s;

  &--min-height {
    overflow: hidden;

    height: 0px;
    min-height: 0px;
  }
}



.PackageDependencies__btn {
  width: 100%;
  padding: 5px 0;

  box-shadow: none !important;

  color: $azure;
  border: 0;
  background-color: $grey-light;

  &:hover {
    color: $turquise;
    border: 0;
    background-color: $grey-light;

    font-weight: bold;

  }

  &:focus {
    width: 100%;
    padding: 5px 0;

    color: $azure;
    border: 0;
    background-color: $grey-light;
  }

  &:disabled {
    border: 0;
    background-color: $grey-light;

    font-weight: bold;

    &:hover {
      background-color: $grey-light;
    }

  }

  &--absolute {
    position: absolute;
    bottom: -20px;
    left: 50%;

    height: 40px;
    margin: 0 0 0 -117px;
  }


  &--remove--adder,
  &--remove-adder:focus {
    background: $azure url('~Images/icons/close-white.svg') no-repeat 50% 50%;
    background-size: 14px;
  }


  &--remove{
    border: none;
    background: url('~Images/icons/check-unselected.svg') no-repeat 50% 50% !important;

    &:disabled{
      opacity: 0.2;
      border: none;
    }

    &:hover {
      border: none;
      background: $azure url('~Images/icons/check-selected.svg') no-repeat 50% 50% !important;
      background-size: 44px !important;
    }

    &:focus {
      border: none;
      background: url('~Images/icons/check-unselected.svg') no-repeat 50% 50% !important;
    }

    &:disabled:hover {
      border: none;
      background: url('~Images/icons/check-unselected.svg') no-repeat 50% 50% !important;
    }
  }

  &--remove--adder:hover {
    background: $turquise url('~Images/icons/close-white.svg') no-repeat 50% 50%;
    background-size: 14px;
  }

  &--remove--selected,
  &--remove--selected:hover,
  &--remove--selected:focus {
    border: none;
    background: $azure url('~Images/icons/check-selected.svg') no-repeat 50% 50% !important;
    background-size: 44px !important;
  }

  &--line-18 {
      height: 50px;

      background: url('~Images/icons/down-arrow-azure.svg') no-repeat calc(50% + 90px) 50%;
      background-size: 25px;

      font-size: 20px;
      font-weight: bold;
      line-height: 18px;

      &:hover{
        color: $turquise !important;
        background: url('~Images/icons/down-arrow-turquise.svg') no-repeat calc(50% + 90px) 50%;
        background-size: 25px;
      }

      &:disabled{
        color: $romanSilver !important;
        background: url('~Images/icons/down-arrow-silver.svg') no-repeat calc(50% + 90px) 50%;
        background-size: 25px;

        &:hover {
          color: $romanSilver !important;
          background: url('~Images/icons/down-arrow-silver.svg') no-repeat calc(50% + 90px) 50%;
          background-size: 25px;
        }
      }
  }

  &--open {
    background: url('~Images/icons/up-arrow-azure.svg') no-repeat calc(50% + 90px) 50%;
    background-size: 25px;

    &:hover,
     :focus {
      background: url('~Images/icons/up-arrow-turquise.svg') no-repeat calc(50% + 90px) 50%;
      background-size: 25px;
    }
  }

  &--round {
    width: 30px;
    height: 30px;
    padding: 0;

    border-radius: 15px;
  }

  &--margin{
    line-height: 18px;
  }
}


.PackageDependencies__addPackage {
  position: relative;

  margin: 20px 0 10px 0;
  padding: 5px 20px;

  border: 1px solid $romanSilver;
  border-radius: 8px;
  background-color: $grey-light;
}

.PackageDependencies__packageMenu {
  align-items: center;

  margin-bottom: 20px;
  padding: 15px 0 20px 0;

  @include flex(space-around, row);
}

.PackageDependencies__input {
  &[type="text"] {
    flex: 2;

    margin: 0 20px 0 0 !important;
  }

  &--version[type="text"] {
    flex: 1 1;

    margin: 0 20px 0 0 !important;
  }
}


.PackageDependencies__versionLoading {
  position: absolute;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin-left: 10px;

  animation: spin 2s linear infinite;

  border: 3px solid $grey;
  border-top: 3px solid $turquise;
  border-radius: 50%;
}

.PackageDependencies__th{
  height: 30px;
  &--remove {
    position:relative;

    width: 90px;
    div{
      position:absolute;
      top: 0px;
      right: 0px;

      width: 150px;
    }
  }

  &--last {
    width: 90px;
    height: 26px;

    text-align: center;
  }

}

.PackageDependencies__cell{

  &--select{
    text-align: center;
  }

  &--latest-column{
    flex-grow: 1;

    height: 66px;

    @include flex(space-between, row);

    span{
      align-self: center;
    }

    div{
      align-self: center;
    }
  }

  &--optimistic-updating {
    animation: fluxuateLoad 3s infinite;

    opacity: 0.1;
  }
}

.PackageDependencies__updateAvailable {
  position: relative;
  right: 50%;

  display: inline-block;
  align-self: center;

  width: 25px;
  height: 25px;
  margin-left: 5px;

  border-radius: 25px;
  background: $azure url('~Images/icons/update-version.svg') no-repeat 50% 50% ;
  background-size: 25px;
}



.PackageDependencies__remove-button--full,
.PackageDependencies__remove-button--full:focus {
  width: 140px;
  padding-left: 40px;

  background: $azure url('~Images/icons/trash-white.svg') no-repeat 30px center;
  background-size: 18px;
}
.PackageDependencies__remove-button--full:hover{
  background: $turquise url('~Images/icons/trash-white.svg') no-repeat 30px center;
  background-size: 18px;

}

.PackageDependencies__remove-button--full:disabled{
  border: 0px;
  background: $grey-light url('~Images/icons/trash.svg') no-repeat 30px center;
  background-size: 18px;
  &:hover{
    background: $grey-light url('~Images/icons/trash.svg') no-repeat 30px center;
    background-size: 18px;
  }
}

.PackageDependencies__remove-button--half,
.PackageDependencies__remove-button--half:focus {
  width: 70px;

  word-break: normal;

  border-radius: 0 10px 10px 0;
  background: $azure url('~Images/icons/trash-white.svg') no-repeat 2px center;
  background-size: 14px;

  font-size: 14px;
}

.PackageDependencies__remove-button--half:hover{
  word-break: normal;

  background: $turquise url('~Images/icons/trash-white.svg') no-repeat 2px center;
  background-size: 14px;
}

.PackageDependencies__remove-button--half:disabled{
  word-break: normal;

  border: 0px;
  background: $grey-light url('~Images/icons/trash.svg') no-repeat 2px center;
  background-size: 14px;

  &:hover{
    word-break: normal;

    border: 0px;
    background: $grey-light url('~Images/icons/trash.svg') no-repeat 2px center;
    background-size: 14px;
  }
}

.PackageDependencies__update-button,
.PackageDependencies__update-button:focus{
  width: 70px;

  word-break: normal;

  border-radius: 10px 0 0 10px;
  background: $azure url('~Images/icons/update-version.svg') no-repeat 2px 50% ;
  background-size: 18px;

  font-size: 14px;
}

.PackageDependencies__update-button:hover{
  word-break: normal;

  background: $turquise url('~Images/icons/update-version.svg') no-repeat 2px 50% ;
  background-size: 18px;
}

.PackageDependencies__update-button:disabled {
  word-break: normal;

  border: 0px;
  background: $grey-light url('~Images/icons/update-version-silver.svg') no-repeat 2px 50% ;
  background-size: 18px;

  &:hover {
    background: $grey-light url('~Images/icons/update-version-silver.svg') no-repeat 2px 50% ;
  }
}

.PackageDependencies__table thead,
.PackageDependencies__table tbody tr {
  display: table;

  width: 100%;

  table-layout: fixed;
}

.PackageDependencies__table tbody {
  display: block;
  overflow-y: auto;

  max-height: 402px;
}


@keyframes fluxuateLoad {
    0% {
      opacity: 0.1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0.1;
    }
}
