@import '~Styles/_imports.scss';


.AdvancedSearch {
    position: fixed;
    z-index: 1;

    width: 798px;  // TODO remove width
    margin-bottom: 200px;
    &--packages {
        position: relative;
        width: 600px;
        margin-bottom: 20px;
        padding: 10px 0;
        .ReactTags__tagInputField {
            height: 30px !important;
            &:placeholder-shown {
                background: url(~Images/icons/search.svg) no-repeat right center;
                background-size: 24px;
            }
        }
    }
}

.AdvancedSearch__filters{
    padding: 15px 0;
    border: 1px solid $grey-border;
    color: $slateBlue;
    background: $background-color;
    box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.2);

    @include flex(flex-start, row);
    &--dropdown {
        @include animation('slide-down-fade-in forwards .25s');
        position: absolute;
        width: 100%;
    }
}

.AdvancedSearch__filter-section{
    margin: 0 20px;
    padding-right: 20px;

    cursor: pointer;
    user-select: none;

    background: url('~Images/icons/down-arrow-silver.svg') no-repeat right center;
    background-size: 15px;
    &.selected {
        background: url('~Images/icons/up-arrow-silver.svg') no-repeat right center;
        background-size: 15px;
    }
}

.AdvancedSearch__filter-container{
    position: relative;
}

.AdvancedSearch__filter-list{
    position: absolute;
    z-index: index($elements, popup);
    top: 30px;
    right: 20px;

    padding: 3px !important;

    cursor: pointer;
    @include animation('slide-down-fade-in forwards .25s');
    text-align: left;

    border: 1px solid $grey;
    background: $white;
    li {
        height: 40px;
        padding: 10px 5px !important;
        padding-top: 2px;

        user-select: none;
        white-space: nowrap;

        border-bottom: 1px solid $grey;

        &:last-child{
          border-bottom: none;
        }

        &:hover {
          transition: background-color 0.25s ease-in-out;

          color: $white;
          background: $azure;
        }
    }
}



/*********************
  Overrides
**********************/
div.ReactTags__tags {
    position: relative;

    display:flex;
    flex-direction: column-reverse;
}
.ReactTags__suggestions {
    z-index: 1;
}


div.ReactTags__tagInput {
    display: inline-block;

    width: calc(100% - 2px);

    border-radius: 2px;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    width: calc(100% + 2px) !important;
    width: 100%;
    height: 48px;
    margin: 0;

    border: none !important;
    box-shadow: none !important;

    font-size: 16px;
}

div.ReactTags__selected span.ReactTags__tag {
    display: inline-block;

    height: 37px;
    margin: 5px 5px;
    padding: 7px 5px;

    white-space: nowrap;

    color: $jet;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #eee;

    font-size: 16px;
}


.AdvancedSearch {
  span.ReactTags__tag:first-child{
      margin-left: 0px !important;
  }

  div.ReactTags__selected a.ReactTags__remove {
      margin-left: 5px;

      cursor: pointer;

      color: #aaa;
  }

  div.ReactTags__suggestions {
      position: absolute;
  }
  div.ReactTags__suggestions ul {
      width: 200px;

      list-style-type: none;

      background: white;
      box-shadow: .05em .01em .5em rgba(0,0,0,.2);
  }
  div.ReactTags__suggestions li {
      margin: 0;
      padding: 5px 10px;

      border-bottom: 1px solid #ddd;
  }
  div.ReactTags__suggestions li mark {
      text-decoration: underline;

      background: none;

      font-weight: 600;
  }
  div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
      cursor: pointer;

      background: #b7cfe0;
  }

  .ReactTags__selected {
      top: 100px;

      display: flex;

      height: auto;
      padding: 0 10px;
      background: $white;
      border: 1px solid $romanSilver;
    }

  .ReactTags__tag.Languages,
  .ReactTags__tag.Dataset.Type,
  .ReactTags__tag.Package.Managers {
      color: $white !important;
      background: $azure !important;
      a {
          color: $white !important;
      }
  }

  .ReactTags__tag.CUDA.Version {
      color: $white !important;
      background: $slateBlueOpaque !important;
      a {
          color: $white !important;
      }
  }


  .ReactTags__tag.Development.Environments,
  .ReactTags__tag.Base.Type {
      color: $white !important;
      background: $slateBlue !important;
      a {
          color: $white !important;
      }
  }

  .ReactTags__tag.Tags {
      color: $white !important;
      background: $lightblue !important;
      a {
          color: $white !important;
      }
  }
}

.AdvancedSearch__info{
    position: absolute;
    top: 5px;
    right: -10px;

    width: 15px;
    height: 15px;

    cursor: pointer;

    background: url('~Images/icons/info-icon.svg') no-repeat center center;
    background-size: 15px;
}

.Btn {
    &__AdvancedSearch {
        width: 50px;
        height: 50px;
        margin: 0;
        background: $azure url(~Images/icons/search-white.svg) no-repeat center center;
        background-size: 30px;
        border-radius: 0;
    }
}