@import '~Styles/_imports.scss';

.Summary {
    @include flex(flex-start, row);
    padding: 15px 5px;
    cursor: auto !important;
    &:hover{
        box-shadow: none;
    }
}

.Summary__subheader{
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 10px;
    color: $jet;
}

.Summary__content{
    font-size: 28px;
    font-weight: 100;
    padding-bottom: 10px;
    text-align: center;
}

.Summary__file-count{
    width: 15%;
    text-align: center;
    border-right: 1px solid $azure;
}
.Summary__size {
    @include flex(space-around, row);
    width: 32.5%;
    border-right: 1px solid $azure;
}
.Summary__file-type {
    padding: 0 20px;
    width: 35%;
    border-right: 1px solid $azure;
}
.Summary__list{
    white-space: nowrap;
    column-count: 3;
    font-size: 14px;
}
.Summary__manage-type {
    width: 17.5%;
    @include flex(center, column);
    .Summary__header {
        font-size: 28px;
        align-self: center;
        position: relative;
    }

}
.Summary__info{
    width: 15px;
    height: 15px;
    background: url('~Images/icons/info-icon.svg') no-repeat center center;
    background-size: 15px;
    position: absolute;
    right: -18px;
    top: 10px;
    cursor: pointer;
}
