@import '~Styles/_imports.scss';

.Type *{
  font-weight: 100;
  text-align: left;
  color: $mineShaft;
}

.Type__header{
  color: $romanSilver;
}

.Type__card{
  padding: 30px;

  color: $romanSilver;
  border-left: 3px solid $azure;
  border-right: 1.5px solid $azure;
  @include flex(space-between, row);
}

.Type__image{
  min-width: 50px;
  margin: 20px;
}


.Type__imageContainer{
  width: 100px;
  margin: 0 20px 0 0;

  @include flex(space-between, row);
}

.Type__paragraph{
   font-size: 15px;
   font-weight: 400;
 }

.Type__name{
  font-size: 24px;
  white-space: nowrap;
}

.Type__title{
  flex: 1;

  width: 160px;
}

.Type__cardText{
  flex: 1;

  p{
    margin-top: 0px;
  }
}

.Type__categories{
  @include flex(flex-start, row);

  h6{
    font-size: 16px;
    font-weight: 400;
  }
}

.Type__languages{
  width: 50%;
}

.Type__tools{
  width: 50%;
}
