@import '~Styles/_imports.scss';

.PackageHeader {
  border-bottom: 2px solid $romanSilver;
}

.PackageHeader__row {
  padding-bottom: 3px;
  line-height: 2rem;
}

.PackageHeader__manager button.Table__Header--sort,
.PackageHeader__name button.Table__Header--sort {
  text-align: left;
  &:before {
    right: -20px !important;
    top: 5px;
    left: initial !important;
  }
}

.PackageHeader__toolbar{
  color: $white;
  background: $azure;
  height: 50px;
  position: relative;
  &-text {
    margin-left: 80px;
    white-space: nowrap;
  }
  &:before {
    content: '';
    @include triangle('down', 12px, $azure);
    position: absolute;
    bottom: -12px;
    left: 11px;
  }
}
