@import '~Styles/_imports.scss';


.AdvancedSearch {
  position: fixed;
  z-index: 1;

  width: 798px;  // TODO remove width
  margin-bottom: 200px;

  &--packages {
      position: relative;
      width: 600px;
      margin-bottom: 20px;
      padding: 10px 0;
      .ReactTags__tagInputField {
          height: 30px !important;
          &:placeholder-shown {
              background: url(~Images/icons/search.svg) no-repeat right center;
              background-size: 24px;
          }
      }
  }

  &__filters {
    padding: 15px 0;
    border: 1px solid $grey-border;
    color: $slateBlue;
    background: $background-color;
    box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.2);

    @include flex(flex-start, row);
    &--dropdown {
        @include animation('slide-down-fade-in forwards .25s');
        position: absolute;
        width: 100%;
    }
  }

  &__filter-section {
    margin: 0 20px;
    padding-right: 20px;

    cursor: pointer;
    user-select: none;

    background: url('~Images/icons/down-arrow-silver.svg') no-repeat right center;
    background-size: 15px;
    &.selected {
        background: url('~Images/icons/up-arrow-silver.svg') no-repeat right center;
        background-size: 15px;
    }
  }

  &__filter-container{
      position: relative;
  }

  &__filter-list {
    position: absolute;
    z-index: index($elements, popup);
    top: 30px;
    right: 20px;

    padding: 3px !important;

    cursor: pointer;
    text-align: left;

    border: 1px solid $grey;
    background: $white;

    @include animation('slide-down-fade-in forwards .25s');

    li {
        height: 40px;
        padding: 10px 5px !important;
        padding-top: 2px;

        user-select: none;
        white-space: nowrap;

        border-bottom: 1px solid $grey;

        &:last-child{
          border-bottom: none;
        }

        &:hover {
          transition: background-color 0.25s ease-in-out;

          color: $white;
          background: $primary;
        }
    }
  }

  &__info {
      position: absolute;
      top: 5px;
      right: -10px;

      width: 15px;
      height: 15px;

      cursor: pointer;

      background: url('~Images/icons/info-icon.svg') no-repeat center center;
      background-size: 15px;
  }
}
