@import '~Styles/_imports.scss';

.Labbook {
  width: calc(100% - 40px);
  min-width: 820px;
  max-width: 1285px;
  height: auto;
  min-height: calc(100% - 230px);
  margin-bottom: 100px;

  transition: width 0.25s;

  &--detail-mode{
    width: calc(100% - 350px);
  }

  &--branch-mode{
    .Labbook__veil{
      z-index: index($elements, veil);

      display: block;

      opacity: 0.5;
    }

    .Labbook__navigation-container {
      margin-top: 450px;
    }

    .Labbook__view{
      margin-top: 50px;
    }
  }

  &--demo-mode{
    margin-top: 70px;
  }
}

.Labbook__spacer {
  width: calc(100% - 50px);
  height: auto;
  min-height: 100%;
  margin: 10px 5px 20px 20px;
}

.Labbook__routes {
  overflow: visible;

  height: 100%;
  padding: 164px 0 20px;
}

.Labbook__veil{
  position: fixed;
  z-index: -1;
  top: 450px;

  width: 100%;
  height: calc(100% - 450px);

  transition: 0.25s opacity;

  opacity: 0;
  background: $jet;

}

@media screen and (max-width: 50000px) and (min-width: 1480px) {
  .Labbook__spacer{
    margin: 20px 35px;
  }
}
