@import '~Styles/_imports.scss';

.CardWrapper {
    position: relative;
    padding: 10px 0;

    transition: all 0.25s;

    &:after {
      content: "";
      display: block;
      position: absolute;
      z-index: index($elements, pseudoCard);
      top: calc(100% - 10px);
      left: 40px;
      border: 3px solid $romanSilver;
      border-width: 0 0 0 4px;
      width: 1px;
      height: 50px;
      transition: height 0.25s;
    }

    &--rollback {
      &:after {
        content: "";
        display: block;
        position: absolute;
        z-index: index($elements, pseudoCard);
        top: calc(100% - 10px);
        left: 40px;
        border: 3px solid $romanSilver;
        border-width: 0 0 0 4px;
        width: 1px;
        height: 70px;
        transition: height 0.25s;
      }
    }

    &:last-child{
       &:after {
         display: none;
       }
       &:before {
         content: "";
         display: block;
         position: absolute;
         z-index: index($elements, pseudoCard);
         top: -10px;
         left: 40px;
         border: 3px solid $romanSilver;
         border-width: 0 0 0 4px;
         width: 1px;
         height: 70px;
         transition: height 0.25s
       }
    }

    &:first-child{
       &:before {
         content: "";
         display: block;
         position: absolute;
         z-index: index($elements, pseudoCard);
         top: -10px;
         left: 40px;
         border: 3px solid $romanSilver;
         border-width: 0 0 0 4px;
         width: 1px;
         height: 70px;
         transition: height 0.25s
       }
    }



    &--cluster {
      &:before {
        height: 60px !important;
      }
    }
}


.CardWapper:last-child:before{
  height: 80px;
  display: block;
  position: absolute;
  z-index: index($elements, pseudoCard);
  top: -10px;
  left: 40px;
  border: 3px solid $romanSilver;
  border-width: 0 0 0 4px;
  width: 1px;
  height: 70px;
  transition: height 0.25s
}
