@import '~Styles/_imports.scss';

.Rollback{
  height: 30px;
  width: auto;
  max-width: 200px;
  position: relative;
  z-index: index($elements, popup);

  &--locked {
    height: 10px;
    width: 40px;
    margin: 0 0 20px;
  }
}


.Rollback__button{
  background-color: $azure;
  border-color: $azure;
  position: relative;
  height: 12px;
  width: 12px !important;
  border-radius: 15px;
  text-align: center;
  left: 36px;
  z-index: 3;
  top: 2px;
  background-size: 20px;
  transition: all 0.125s ease;
  cursor: pointer;
  padding: 0;

  overflow: hidden;
  color: $azure;

  &:hover{
    top: -5px;
    color: $white;
    background: $azure url('~Images/icons/menu-rollback.svg') no-repeat 2px center !important;
    padding: 0px 2px 2px 30px;
    border-color: $azure;
    line-height: 24px;
    width: 110px !important;
    height: 26px !important;
  }

  &:disabled{
    background-color: $backgroundGrey;
    color: $backgroundGrey;
  }

  &:hover:disabled{
    top: 2px;
    color: $backgroundGrey;
    background: $backgroundGrey !important;
    border-color: $backgroundGrey;
    padding: 0px;
    height: 12px !important;
    width: 12px !important;
  }
}
