button {
  width: 162px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 0 12.5px;
  outline: none;
  cursor: pointer;

  color: $white;
  border: 0;
  border-radius: 4px;
  background: $azure;

  font-weight: 400;
  line-height: 1rem;

  &:hover {
    @include boxShadowDark();
  }

  &:disabled,
  &:hover:disabled {
    overflow: hidden;
    border: 0;
    background-color: $romanSilver;
    box-shadow: none !important;
  }
}

.BtnContainer {

  width: 100%;
  align-items: center;
  padding: 30px 0 10px;
  @include flex(flex-end, row);
}

.Btn {
   background-color: $azure;
   border: 0px;
   border-radius: 4px;
   margin: 0 12.5px;
   text-align: center;
   cursor: pointer;

   &:hover {
    @include boxShadowDark();
  }
  &--noStyle{
    width: auto;
    background: transparent;
    color: $jet;
    box-shadow: none !important;
  }
  // flat button
  &--flat {
      width: auto;
      padding: 7px 20px;

      cursor: pointer;
      text-decoration: underline;

      color: $azure;
      border: 0;
      border-radius: 0px;
      background: none;
      box-shadow: none !important;

      &:hover {
        font-size: 17px;
        padding: 7px 18px 7px 20px;
      }

      &:disabled{
        text-decoration: none;

        color: $romanSilver;
        border: 0px solid $grey;
        background: transparent !important;
        text-shadow: none;
      }
  }

  // feature or actions buttons
  &--feature {
   position: absolute;
   z-index: 1;

   width: 30px;
   height: 30px;
   padding: 0;

   transition: all 0.25s ease, background-position 0ms, font-size 0ms;

   border: 2px solid $white;
   border-radius: 30px;

   font-size: 0;

   &:hover, &:focus, &--expanded {
     width: auto;
     padding: 0 40px 0 15px;

     font-size: 14px;
   }
   &--expanded--paddingLeft,
   &--expanded--paddingLeft:hover,
   &--expanded--paddingLeft:focus {
      width: auto;
      padding: 0 15px 0 40px;

      font-size: 14px;
   }
   &:disabled, &:disabled:hover, &:disabled:focus {
     width: 30px;
     padding: 0;

     background-size: 30px;

     font-size: 0;
   }
   &--noPadding {
     padding: 0 15px !important;
   }
  }

  &--noShadow {
    box-shadow: none !important;
  }

  &--noMargin {
    margin: 0;
  }

  &--action{
    width: auto;
  }

  &--round {
     border-radius: 15px;
  }
  &--bordered {
    border: 1px solid $azure;
    &:disabled{
      border: 1px solid $romanSilver;
    }
  }


  &--wide {
    width: 210px;
  }

  &--small {
    width: 20px;
    height: 20px;
    background-size: 10px !important;
  }

  &--medium {
    width: 30px;
    height: 30px;
  }

  &--fileBrowser {
    width: 25px;
    height: 25px;
    background-size: 18px !important;
  }

  &--no-underline {
    text-decoration: none;
  }


  &--columns {
    @include flex(space-around, column);
    align-items: flex-start;
    line-height: 14px;
    padding: 6px 40px 6px 20px;
  }

  &--label {
    font-size: 12px;
  }

  &--text {
    font-size: 16px;
  }

  &--last {
    margin-right: 0px;
  }

  &--first {
    margin-left: 0px;
  }

  &--noPadding{
    padding: 0px;
    &:hover,
    &:focus,
    &:disabled{
      padding: 0px;
    }
  }

  &--noMargin{
    margin: 0px;

    &:hover,
    &:focus,
    &:disabled{
      margin: 0px;
    }
  }


  /**********************************
   * feature buttons
   *
   *
   *********************************/
  &__loadMore{
    margin: 0;
    border-radius: 0;
    width: 315px;
    height: 25px;
    background: transparent;
    box-shadow: none;

    &:hover {
      box-shadow: none;
      &:before {
        text-decoration: underline;
      }
    }
    &--up {
      background: url('~Images/icons/up-arrow-azure.svg') no-repeat  calc(50% + 50px) 5px;
      background-size: 20px;

      &:before {
        color: $azure;
        line-height: 16px;
        content: "Collapse";
      }
    }
    &--down {
      background: url('~Images/icons/down-arrow-azure.svg') no-repeat calc(50% + 50px) 5px;
      background-size: 20px;

      &:before {
        color: $azure;
        line-height: 16px;
        content: "Expand";
      }
    }


  }

  &__delete {
     background: url(~Images/icons/trash-azure.svg) no-repeat center center;
     background-size: 18px;

     &:focus {
       background: $azure url(~Images/icons/trash-white.svg) no-repeat center center;
       background-size: 18px;

     }

     &:hover {
       background: $azure url(~Images/icons/trash-white.svg) no-repeat center center;
       background-size: 18px;

     }

     &:disabled {
       background: transparent url(~Images/icons/trash.svg) no-repeat center center !important;
       background-size: 18px;
     }
  }

  &__rename {
    background: url(~Images/icons/rename-azure.svg) no-repeat center center;
    background-size: 21px !important;

    &:focus {
      background: $azure url(~Images/icons/rename-white.svg) no-repeat center center;
      background-size: 21px !important;

    }

    &:hover {
      background: $azure url(~Images/icons/rename-white.svg) no-repeat center center;
      background-size: 21px !important;

    }

    &:disabled {
      background: transparent url(~Images/icons/rename.svg) no-repeat center center !important;
      background-size: 21px !important;

    }
 }

 &__addFolder {
  background: url(~Images/icons/folder-add-new-azure.svg) no-repeat left 4px top 2px;
  background-size: 18px;

  &:focus {
    background: $azure url(~Images/icons/folder-add-new-hover.svg) no-repeat left 4px top 2px;
    background-size: 18px;

  }

    &:hover {
      background: $azure url(~Images/icons/folder-add-new-hover.svg) no-repeat left 4px top 2px;
      background-size: 18px;
   }

   &:disabled {
     background: transparent url(~Images/icons/folder-add-new.svg) no-repeat left 4px top 2px !important;
     background-size: 18px;
   }
 }

 &__check {
   background: url(~Images/icons/check-selected.svg) no-repeat center center;
   background-size: 30px;
   box-shadow: none !important;

   &:focus {
     background: url(~Images/icons/check-selected.svg) no-repeat center center;
     border: 0px;
     background-size: 30px;
   }

   &:hover {
     background: url(~Images/icons/check-selected.svg) no-repeat center center;
     border: 0px;
      background-size: 34px;
    }
 }

 &__addDataset {
  background: url(~Images/icons/database-add-azure.svg) no-repeat center center;
  background-size: 18px;

  &:focus {
    background: $azure url(~Images/icons/database-add-hover.svg) no-repeat center center;
    background-size: 18px;

  }

  &:hover {
    background: $azure url(~Images/icons/database-add-hover.svg) no-repeat center center;
    background-size: 18px;
  }

  &:disabled {
    background: transparent url(~Images/icons/database-add.svg) no-repeat center center !important;
    background-size: 18px;

  }
 }


 &__upArrow {
  background: url(~Images/icons/update-azure.svg) no-repeat center center;
  background-size: 18px;

  &:focus {
    background: $azure url(~Images/icons/update-white.svg) no-repeat center center;
    background-size: 18px;

  }

  &:hover {
    background: $azure url(~Images/icons/update-white.svg) no-repeat center center;
    background-size: 18px;

  }

  &:disabled {
    background: transparent url(~Images/icons/update-version.svg) no-repeat center center !important;
    background-size: 18px;

  }
 }

 &__Favorite-off {
  background: url(~Images/icons/star__off-azure.svg) no-repeat center top 2px;
  background-size: 18px;

  &:focus {
    background: $azure url(~Images/icons/star__off-white.svg) no-repeat center top 2px;
    background-size: 18px;
  }

  &:hover {
    background: $azure url(~Images/icons/star__off-white.svg) no-repeat center top 2px;
    background-size: 18px;
  }

  &:disabled {
    background: url(~Images/icons/star__off.svg) no-repeat center top 2px;
    background-size: 18px;
  }
}

&__Favorite-on {
  background: url(~Images/icons/star__on.svg) no-repeat center top 2px;
  background-size: 18px;

  &:focus {
    background: $azure url(~Images/icons/star__on.svg) no-repeat center top 2px;
    background-size: 18px;
  }

  &:hover {
    background: $azure url(~Images/icons/star__on.svg) no-repeat center top 2px;
    background-size: 18px;
  }

  &:disabled {
    background: url(~Images/icons/star__on.svg) no-repeat center top 2px;
    background-size: 18px;
  }
}

  &__download {
    background: url('~Images/icons/database-download-azure.svg') no-repeat 50% 50%;
    background-size: 20px;
    margin-right: 5px;

    &:hover {
        //change color here
        background: url('~Images/icons/database-download-azure.svg') no-repeat 50% 50%;
        background-size: 22px;
    }
  }

  &__downloaded {
    cursor: auto !important;
    box-shadow: none !important;
    background: url('~Images/icons/database-grey-local.svg') no-repeat 50% 50%;
    background-size: 20px;
    margin-right: 5px;
  }

  &__redirect {
     background: $azure url('~Images/icons/continue-arrow.svg') no-repeat -1px center;
     background-size: 30px;
     &:hover, &:focus {
       background-position: right 1px center;
       background-size: 30px;
     }
     &--featurePosition {
      right: 15px;
      top: -20px;
     }
  }

  &__edit {
     background: $azure url('~Images/icons/edit.svg') no-repeat center center;
     background-size: 18px;
     &:hover, &:focus {
       background: $azure url('~Images/icons/edit.svg') no-repeat right 7px center;
       background-size: 18px;
     }
     &--featurePosition {
      top: -20px;
      right: 15px;
     }
     &--DescriptionPosition {
      right: 0;
      top: 0;
     }
  }

  &__toggle {
      flex: 0 1 30px;

      width: 24px;
      height: 24px;

      cursor: pointer;

      background: url('~Images/icons/down-arrow-white.svg') no-repeat center center;
      background-size: 18px;

      &:hover{
        box-shadow: none;
      }

      &--open {
          background: url('~Images/icons/up-arrow-white.svg') no-repeat center center;
          background-size: 18px;
      }
  }


  &__close {
    background: url(~Images/icons/close.svg) no-repeat center center;
    background-size: 30px;
    border: 0px;
    box-shadow: none !important;

    &:focus {
      background: url(~Images/icons/close.svg) no-repeat center center;
      background-size: 30px;
      border: 0px;
    }

    &:hover {
      background: url(~Images/icons/close.svg) no-repeat center center;
      background-size: 34px;
      border: 0px;
    }
  }

  &__remove {
    background: $azure url('~Images/icons/close-white.svg') no-repeat center center;
    background-size: 20px;

    &:disabled {
      background-image: url('~Images/icons/close-white.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 20px;
    }
  }


  &__expandable-close {
   transition: all 0.25s ease, background-position 1ms;
   width: 30px;
   height: 30px;
   border-radius: 30px;
   position: absolute;
   right: 15px;
   top: -20px;
   padding: 0;
   background: $azure url('~Images/icons/close-white.svg') no-repeat center center;
   background-size: 15px;
   border: none;
   z-index: 1;

   span {
     display: none;
   }

   &:hover,
   &:focus {
     border: none;
     width: auto;
     padding: 0 40px 0 15px;
     background: $azure url('~Images/icons/close-white.svg') no-repeat right 10px center;
     background-size: 15px;

     span {
       display: block;
     }
   }
  }

  &__overview {
    top: -7px;
  }

  &__plus {
    background: $azure url('~Images/icons/add-white.svg') no-repeat center center;
    background-size: 20px !important;
    &:disabled {
      background-image: url('~Images/icons/add-white.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 20px !important;
    }
  }

  &__dropdown {
    width: 20px;
    height: 20px;
  }

}
