button {
  height: 26px;
  line-height: 22px;
  padding: 0px 20px;
  border: 2px solid $azure;
  border-radius: 10px;
  color: $white;
  background: $azure;
  cursor: pointer;
  font-weight: 100;

}

button:hover {
  color: $white;
  background: $turquise;
  border: 2px solid $turquise;
}

button:focus {
  color: $white;
  background: $azure;
}


button:disabled {
  color: $grey;
  background: $grey-light;
  border: 2px solid $grey;
  overflow: hidden;
}

.button--flat {
  padding: 0px 20px;
  border: 0px solid $azure;
  border-radius: 0px;
  color: $font-grey;
  background: none;
  cursor: pointer;
  text-decoration: underline;
}

.button--flat:hover {
  color: $turquise;
  background: none;
  border: 0px solid $turquise;
}
.button--flat:focus {
  color: $azure;
  background: none;
  border: 0px solid $azure;
}
.button--flat:disabled,
.button--flat:disabled:focus,
.button--flat:disabled:hover{
  color: $grey;
  background: $grey-light;
  border: 2px solid $grey;
}

.Btn{
   background-color: $azure;
   border: 0px;
   border-radius: 8px;
   outline: none;

   &:focus {
     outline: none;
   }

   &:hover{
     background-color: $turquise;
   }

   &--large {
     padding: 10px 30px;
   }

   &--medium {
     padding: 5px 15px;
   }

   &--small{
     padding: 0px;
   }

   &--round {
     height: 34px;
     width: 34px;
     border-radius: 15px;
   }

   &--check {
     background: url(~Images/icons/check-selected.svg) no-repeat center center;
     background-size: 30px;


     &:focus {
       background: url(~Images/icons/check-selected.svg) no-repeat center center;
       border: 0px;
       background-size: 30px;
     }

     &:hover {
       background: url(~Images/icons/check-selected.svg) no-repeat center center;
       border: 0px;
        background-size: 34px;
     }
   }

   &--uncheck {
     background: url(~Images/icons/check-unselected.svg) no-repeat center center;
     background-size: 30px;


     &:focus {
       background: url(~Images/icons/check-unselected.svg) no-repeat center center;
       background-size: 30px;
       border: 0px;
     }

     &:hover {
       background: url(~Images/icons/check-unselected.svg) no-repeat center center;
       background-size: 34px;
       border: 0px;
     }
   }

   &--partial {
     background: url(~Images/icons/minus.svg) no-repeat center center;
     background-size: 30px;
     &:focus {
       background: url(~Images/icons/minus.svg) no-repeat center center;
       background-size: 30px;
       border: 0px;
     }

     &:hover {
       background: url(~Images/icons/minus.svg) no-repeat center center;
       background-size: 34px;
       border: 0px;
     }
   }

   &--close {
     background: url(~Images/icons/close.svg) no-repeat center center;
     background-size: 30px;
     border: 0px;

     &:focus {
       background: url(~Images/icons/close.svg) no-repeat center center;
       background-size: 30px;
       border: 0px;
     }

     &:hover {
       background: url(~Images/icons/close.svg) no-repeat center center;
       background-size: 34px;
       border: 0px;
     }
   }

   &--delete {
     background: url(~Images/icons/trash-dark.svg) no-repeat center center;
     background-size: 20px;
     border: 0px;

     &:focus {
       background: url(~Images/icons/trash-dark.svg) no-repeat center center;
       background-size: 20px;
       border: 0px;
     }

     &:hover {
       background: url(~Images/icons/trash-azure.svg) no-repeat center center;
       background-size: 20px;
       border: 0px;
     }

     &:disabled {
       background: url(~Images/icons/trash.svg) no-repeat center center;
       background-size: 20px;
       border: 0px;
     }
  }
}
