
.Card {
  position: relative;

  cursor: pointer;
  transition: box-shadow 0.5s;
  text-align: left;
  word-break: break-all;

  color: $jet;
  background: $white;
  background-size: 50px;

  &:empty {
    height: 0;

    border: 0;
  };

  &--line-50 {
    line-height: 50px;
  }

  &--text-center{
    text-align: center;
  }

  @include boxShadow();
}

.Card--300 {
  height: 300px;
}


.Card:hover {
  transition: box-shadow 0.5s;

  box-shadow: 0 0px 12px 0 rgba(0,0,0,.50);
}

.Card--import {
  padding: 0px;
}

.Card--auto{
  @extend .Card;
  height: auto;
}

.Card--no-hover:hover{
  cursor: default;
  box-shadow: 0 0px 12px 0 rgba(0,0,0,.10);
}

.Card:before,
.Card:after {
  padding: 0 10px;
}
