
.Card {
  position: relative;

  cursor: pointer;
  transition: box-shadow 0.5s;
  text-align: left;

  color: $jet;
  background: $white;
  // background-size: 50px;

  &:empty {
    height: 0;

    border: 0;
  };

  &--line-50 {
    line-height: 50px;
  }

  &--text-center{
    text-align: center;
  }

  @include boxShadow();

  &:hover {
    transition: box-shadow 0.5s;

    box-shadow: 0 0px 12px 0 rgba(0,0,0,.50);
  }

  &--225 {
    height: 225px;
  }

  &--import {
    padding: 0px;
  }
  &--requirements {
    margin: 40px;
    padding: 20px 20px 20px 50px;
    width: 400px;
    max-height: 300px;
    overflow: auto;
  }

  &:before,
  &:after {
    padding: 0 10px;
  }
}

.Card--auto{
  @extend .Card;
  height: auto;
}

.Card--no-hover:hover{
  cursor: default;
  box-shadow: 0 0px 12px 0 rgba(0,0,0,.10);
}
