
.Card {
  position: relative;

  height: 300px;
  padding: 0 1px 1px 1px;

  cursor: pointer;
  transition: box-shadow 0.5s;
  text-align: center;
  word-break: break-all;

  color: $jet;
  background: $white;
  background-size: 50px;

  line-height: 50px;

  @extend .card;

  &:empty {
    height: 0;

    border: 0;
  };
}gtm

.Card:hover {
  transition: box-shadow 0.5s;

  box-shadow: 0 0px 12px 0 rgba(0,0,0,.50);
}

.Card--import {
  padding: 0px;
}

.Card--auto{
  @extend .Card;
  height: auto;
}

.Card--no-hover:hover{
  cursor: default;
  box-shadow: 0 0px 12px 0 rgba(0,0,0,.10);
}

.Card:before,
.Card:after {
  padding: 0 10px;
}
