.Checkbox {
 cursor: pointer;

 span {
   padding: 0 1rem 0 2em;
 }
 input + span {
   background: url('~Images/icons/form/checkbox/checkbox.svg') no-repeat 2px center;
   background-size: 16px;
 }

  input:checked + span {
    background: url('~Images/icons/form/checkbox/checkbox-selected.svg') no-repeat 2px center;
    background-size: 16px;
  }

  input {
    display: none;
  }
  &:hover {
    input + span {
      background: url('~Images/icons/form/checkbox/checkbox-hover.svg') no-repeat 1px center;
      background-size: 18px;
    }

    input:checked + span {
      background: url('~Images/icons/form/checkbox/checkbox-selected-hover.svg') no-repeat 1px center;
      background-size: 18px;
    }

    span {
      color: $azure;
    }

    input:disabled + span {
      background: url('~Images/icons/form/checkbox/checkbox-disabled.svg') no-repeat 1px center;
      background-size: 16px;

    }
  }

  input:disabled + span {
    background: url('~Images/icons/form/checkbox/checkbox-disabled.svg') no-repeat 1px center;
    background-size: 16px;
  }
}


.CheckboxMultiselect {
  cursor: pointer;
  height: 30px;
  width: 20px;
  box-shadow: none !important;

  &__check {
    background: url(~Images/icons/form/checkbox/checkbox-selected.svg) no-repeat center center;
    background-size: 16px;

    &:focus {
      background: url(~Images/icons/form/checkbox/checkbox-selected.svg) no-repeat center center;
      border: 0px;
      background-size: 16px;
    }

    &:hover {
      background: url(~Images/icons/form/checkbox/checkbox-selected.svg) no-repeat center center;
      border: 0px;
       background-size: 18px;
    }
  }

  &__uncheck {
    background: url(~Images/icons/form/checkbox/checkbox.svg) no-repeat center center;
    background-size: 16px;


    &:focus {
      background: url(~Images/icons/form/checkbox/checkbox.svg) no-repeat center center;
      background-size: 16px;
      border: 0px;
    }

    &:hover {
      background: url(~Images/icons/form/checkbox/checkbox.svg) no-repeat center center;
      background-size: 18px;
      border: 0px;
    }
  }

  &__partial {
    background: url(~Images/icons/form/checkbox/checkbox-minus.svg) no-repeat center center;
    background-size: 16px;
    &:focus {
      background: url(~Images/icons/form/checkbox/checkbox-minus.svg) no-repeat center center;
      background-size: 16px;
      border: 0px;
    }

    &:hover {
      background: url(~Images/icons/form/checkbox/checkbox-minus.svg) no-repeat center center;
      background-size: 24px;
      border: 0px;
    }
  }
}
