.ContainerStatus__container-state {
  position: relative;
  z-index: index($elements, button);

  align-items: center;

  width: 141px;
  height: 40px;
  padding-right: 10px;

  cursor: pointer;
  transition: all 0.125s;
  text-align: center;

  color: $primaryText;
  border: 1px solid rgba(0,0,0,0);
  border-radius: 3px;
  background-color: white;

  font-size: 16px;
  font-weight: 100;
  line-height: 26px;

  @include flex(space-around, row);
  @include boxShadow();
}

.ContainerStatus__text {
  width: 80px;

}

.ContainerStatus__toggle {
  position: relative;

  width: 40px;
  height: 24px;

  border-radius: 15px;
  background: $romanSilver;
}

.ContainerStatus__toggle-btn {
  position: absolute;
  top: 3px;
  right: 19px;
  bottom: 3px;
  left: 3px;

  transition: all 0.125s ease-in-out;

  border-radius: 10px;
  background-color: $white;
}

.ContainerStatus__container-state--expanded{
  width: 141px;
  height: 40px;

  box-shadow: 0 0px 12px 0 rgba(0,0,0,.50) !important;
}

.ContainerStatus__container-state--menu-open {
  background: $background-color url('~Images/icons/up-arrow-silver.svg') no-repeat 90% center;

  @extend .ContainerStatus__container-state;
}

.ContainerStatus__container-state.Running {
  border: 1px solid $green;

  .ContainerStatus__toggle-btn {
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 19px;
  }

  .ContainerStatus__toggle {
    background: $green;
  }
}
.ContainerStatus__container-state.loading{
  opacity: 0.5;
  background: $romanSilver;
}
.ContainerStatus__container-state.Running:hover {
  width: 141px;
  height: 40px;

  border: 1px solid $romanSilver;

  .ContainerStatus__toggle {
    background: $green;
  }
}

.ContainerStatus__container-state.Building,
.ContainerStatus__container-state.Canceling,
.ContainerStatus__container-state.Syncing,
.ContainerStatus__container-state.Publishing {
  border: 1px solid $orange;
  background-size: 20px;
  pointer-events: none;
  .ContainerStatus__toggle-btn {
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
  }

  .ContainerStatus__toggle {
    background: $romanSilver url(~Images/icons/container-status-spinner-building.svg) no-repeat center center;
    background-size: 40px 24px;
  }
}

.ContainerStatus__container-state.Building{
  pointer-events: auto;
  &:hover {
    .ContainerStatus__toggle {
      background: $orange;
      &-btn {
        background: $orange url(~Images/icons/close-white.svg) no-repeat center center;
        background-size: 12px;
      }
    }
  }
}

.ContainerStatus__container-state.Stopped {
  border: 1px solid $romanSilver;

  @include boxShadow();
}

.ContainerStatus__container-state.Stopped:hover {
  width: 141px;
  height: 40px;

  border: 1px solid $green;

  .ContainerStatus__toggle {
    background: $green;
  }
}

.ContainerStatus__container-state.LookingUp {
  width: 141px !important;
  height: 40px !important;
  margin: 0 !important;

  cursor: auto;

  border: 1px solid $orange !important;
  box-shadow: none !important;

  font-size: 16px !important;
  line-height: 26px !important;
}

.ContainerStatus__container-state.Rebuild{
  padding: 0 15px 0 0;

  cursor: pointer;

  border: 1px solid $romanSilver;

  .ContainerStatus__toggle {
    background: $orange url(~Images/icons/warning.svg) no-repeat 20px center;
    background-size: 18px 18px;
  }
}
.ContainerStatus__container-state.Stopping,
.ContainerStatus__container-state.Starting {
  color: $grey;
  border: 1px solid $green;

  .ContainerStatus__toggle {
    background: $romanSilver url(~Images/icons/container-status-spinner.svg) no-repeat center center;
    background-size: 40px 24px;
  }

  .ContainerStatus__toggle-btn {
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
  }
}
