.Download {
  height: 20px;
  width: 20px;
  position: relative;
}
.Download__content {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border: 3px solid $primary;
	border-radius: 100%;
}

.Download__content-inside {
	width: 100%;
	height: 100%;
	position: relative;
}

.Download__line-down-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: rotate(0deg);
	transition: transform 0s ease;

}
.Download__input {
	display: none;
}
.Download__input:checked ~ .Download__line-down-container {
	transform: rotate(-360deg);
	transition: transform 1.5s ease 1.25s;
}

.Download__line-down {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	width: 3px;
	height: 25px;
	background: #fff;
	border-radius: 1.5px;
	transition: height .5s ease;
}

.Download__input:checked ~ .Download__line-down-container .Download__line-down {
	height: 2px;
	top: -4px;
	animation: Download__bounce .5s forwards .55s;
}
.Download__input:checked ~ .Download__line-down-container .Download__line-down:before {
	content: '';
	position: absolute;
	top: 0;
	left: -18.8px;
	right: 0;
	bottom: 0;
	width: 40px;
	height: 40px;
	border: 4px solid transparent;
	border-radius: 100%;
	animation: Download__border-fill .5s forwards 3s;
}

.Download__line-point {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 11.6px;
	height: 26px;
	transition: height .15s ease .45s;
}

.Download__input:checked ~ .Download__line-point {
	height: 12px;
}

.Download__input:checked ~ .Download__line-point:before {
	transform: rotate(90deg);
	right: -2px;
	animation: Download__check-right .25s forwards 3s;
}

.Download__input:checked ~ .Download__line-point:after {
	transform: rotate(-90deg);
	left: -2px;
	animation: Download__check-left .25s forwards 3s;
}

.Download__line-point:before,
.Download__line-point:after {
	content: '';
	position: absolute;
	width: 2px;
	height: 15px;
	bottom: -2px;
	background: $primary;
	border-radius: 10px;
	transition: transform .15s ease .47s, left .15s ease .47s, right .15s ease .47s;
}

.Download__line-point:before {
	right: 0px;
	transform: rotate(45deg);
}

.Download__line-point:after {
	left: 0px;
	transform: rotate(-45deg);
}

@keyframes Download__bounce {
	0% {
		top: -4px;
	}
	25% {
		top: -50px;
	}
	50% {
		top: -55px;
	}
	100% {
		top: -38px;
	}
}

@keyframes Download__check-left {
	0% {
		transform: rotate(-90deg);
		left: -2px;
		height: 15px;
	}
	100% {
		transform: rotate(-45deg);
		left: 0px;
		height: 9px;
	}
}

@keyframes Download__check-right {
	0% {
		transform: rotate(90deg);
		right: -2px;
		height: 15px;
		bottom: -2px;
	}
	100% {
		transform: rotate(45deg);
		right: 2px;
		height: 16px;
		bottom: -3px;
	}
}

@keyframes Download__border-fill {
	0% {
		border: 4px solid transparent;
	}
	100% {
		border: 4px solid $primary;
	}
}
