.Dropbox {
  background: $white;
  text-align: center;
  padding: 50px;
  margin-top: 50px;
  border: 2px dashed $romanSilver;
  background: url('~Images/icons/cloud-upload.svg') no-repeat center 25px;
  background-size: 40px;
  min-height: 234px;
  &--hovered {
    padding-top: 100px;
    background: $lightblue url('~Images/icons/cloud-upload-white.svg') no-repeat center 25px;
    color: $white;
    background-size: 40px;
    border: 2px dashed $white;
  }
}

.Dropbox--menu {
  line-height: 30px;
  font-size: 20px;
  margin: 20px 0;
}

