.Dropbox {
  background: $white;
  text-align: center;
  padding: 50px;
  margin-top: 50px;
  border: 2px dashed $romanSilver;
  background: $white url('~Images/icons/cloud-upload.svg') no-repeat center 30px;
  background-size: 30px;
  min-height: 234px;
  &--hovered {
    background: $lightblue url('~Images/icons/cloud-upload-white.svg') no-repeat center 25px;
    color: $white;
    background-size: 40px;
    border: 2px dashed $white;
    span {
      display: none;
    }
    label {
      display: none;
    }
  }
  &--fileBrowser {
    margin-top: 20px;
    background: $white url('~Images/icons/cloud-upload.svg') no-repeat center 25px;
    background-size: 40px;
    span {
      font-size: 15px;
      color: $romanSilver;
      &:before,
      &:after {
        display: inline-block;
        content: "";
        border-top: 1px solid $romanSilver;
        width: 4rem;
        margin: -13px 1rem;
        transform: translateY(-1rem);
      }
    }
  }
}

.Dropbox--menu {
  line-height: 30px;
  font-size: 20px;
  margin: 20px 0;
}

