thead {
  tr {
    border-bottom: 2px solid $backgroundGrey;
  }
}

tbody {
  tr {
    border-bottom: 1px solid $backgroundGrey;
  }
}
.Table {
  &--padded {
    padding: 25px;
  }
  &__Header {
    border-bottom: 2px solid $romanSilver;
    &--medium{
      height: 50px;
    }
    &--sort {
      position: relative;
    }
    &--asc {
      &:before {
        content: '';
        @include triangle('up', 7px, $jet);
        position: absolute;
        bottom: 11px;
        left: 100px;
      }
    }
    &--desc {
      &:before {
        content: '';
        @include triangle('down', 7px, $jet);
        position: absolute;
        bottom: 11px;
        left: 100px;
      }
    }
  }

  &__Row {
    border-bottom: 1px solid $romanSilver;
    height: 100px;
    padding-top: 20px;

    &--secrets {
      height: auto;
      min-height: 50px;
      max-height: 80px;
      padding: 0;
    }
  }
}
