.Tabs {
  min-width: 720px;
  border-bottom: 1px solid $grey;
  @include flex(flex-start, row);
}

.Tab {
  margin: 0 25px;
  cursor: pointer;
  button, a {
    border-radius: 0;
    display: inline-block;
    margin: 0;
    padding: .5rem 10px;
    text-decoration: none !important;
    color: $primaryText;
    border-bottom: 2px solid $primary;
  }

  &:hover,
  &--selected {
    button, a {
      position: relative;
      z-index: 6;
      color: $white;
      background: $primary;
      &:hover {
        color: $white;
      }
    }
  }

  &--light {
      border-top: 1px solid $grey;
      border-right: 1px solid $grey;
      border-left: 1px solid $grey;
      border-bottom: 1px solid $romanSilver;
      color: $romanSilver;
      padding: .5rem 10px;
      margin: 0 1em -1px 1em;
  }

  &--light .Tab--selected {
      background: $white;
      border-top: 1px solid $grey;
      border-right: 1px solid $grey;
      border-left: 1px solid $grey;
      border-bottom: 1px solid $white;
      color: $romanSilver;
      padding: .5rem 10px;
  }

}
