@import '~Styles/_imports.scss';

.ImportModule {
  padding: 10px;
}

.Import__h2{
  margin: 1rem 0 1rem 0;
  &--azure {
    color: $azure;
  }
  font-size: 24px;
  font-weight: bold;
}
.Card--add {
  align-items: center;

  height: 225px !important;

  cursor: auto;

  color: $tintBlue;

  @include flex(center, column);

  p {
    margin: 0;
    padding: 0px 0;
  }
}

.Import__header{
  position: relative;

  align-items: center;

  color: $tintBlue;

  @include flex(center, row);
}

.Import_paragraph {
  color: $grey;
  font-size: 16px;
  line-height: 2;
}

.Import__icon {
  width: 30px;
  height: 30px;
  margin: 0 10px 0 -10px;

  -webkit-transition: all .25s;
  -o-transition: .25s all;
  transition: all .25s;
  &--labbook {
    background: url('~Images/icons/labbooks-dark-blue.svg') no-repeat 50%;
    background-size: 30px;
  }
  &--dataset {
    background: url('~Images/icons/datasets-dark-blue.svg') no-repeat 50%;
    background-size: 30px;
    .Import__add-icon {
      top: 29px;
      left: 5px;
    }
  }
}

.Import__h4{
  width: 70%;
  margin: 0;
  margin-left: 10px;
  padding: 5px 0;

  white-space: nowrap;

  font-size: 28px;
  font-weight: 300;
}


.Import__main{
  width: 100%;

  @include flex(center, column);
}

.Import__section--import {
  position: relative;

  width: 100%;
  height: 100%;

  color: $white;
  background: $azure;

  font-size: 18px;
}

.Import__label--file-system {
  color: $white;

  font-size: 18px;
}

input.Import__input--paste{
    left: 25px;

    box-sizing: border-box !important;
    width: 83% !important;
    height: 2.5rem !important;

    color: $azure !important;
    border-radius: 20px !important;
    background: $lightBlue !important;

    font-size: 20px;

    &[type="text"] {
      padding-right: 27% !important;
    }

    &::placeholder {
      color: $azure;
    }
}

/*******************
  buttons
********************/

.btn {
  &--import {
    position: relative;

    align-self: center;

    width: 85%;
    height: 43px;
    margin: 5px;

    cursor: pointer;

    color: $azure;
    border: 2px solid $azure;
    background: $white;

    font-size: 19px;
  }

  &--collapse {
    animation: collapse 0.25s linear forwards;
  }

  &--expand {
    cursor: default;
    animation: expand 0.25s linear forwards;
  }

  &--import:hover {
    color: $white;
    background: $tintBlue;
  }
}

.btn--close {
  position: absolute;
  top: 15px !important;
  right: 15px !important;

  cursor: pointer;

  @include close();
}

.Import__btn--go {
  position: absolute;
  top: 10px;
  right: 29px;

  height: 2.1rem;

  border-radius: 20px;
}


@keyframes expand {
  100% {
    top: 0;

    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: -65%;

    color: $white;
    border: none;
    background: $azure;

    font-size: 26px;
  }
}

@keyframes collapse {
  0% {
    top: 0;

    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: -65%;

    color: $white;
    border: none;
    background: $azure;

    font-size: 26px;
  }
}

/************************
  DropZone section
************************/
/************************
  DropZone section
************************/
.Import__dropzone {
  margin-bottom: 15px;
}

.Import__h4 {
  margin-bottom: 0px;

  color: $white;

  font-size: 26px;
  font-weight: 400;

  &--margin{
    margin: 10px 30px 0 30px;
  }
}

.Import_paragraph{
  color: $grey;

  font-size: 16px;
  line-height: 2;
}

.Import__label--file-system {
  padding: 0 0 0 3px;

  cursor: pointer;
  text-decoration: underline;

  font-size: 16px;
}

.Import__section--paste{
  position: relative;
}

.ImportModal{
  color: $jet;
  word-break: break-word;
  line-height: 20px;
  @include flex(space-around, column);
  height: 100%;
  width: 80%;
  align-self: center;
}

.ImportDropzone{
  @include flex(center, column);
  align-self: center;
  width: 350px;
  height: 150px;
  border: 1px dashed $jet;
  line-height: 20px;
  word-break: break-word;
  text-align: center;
  padding: 10px;
  hr {
    margin-bottom: 30px;
    align-self: center;
  }

}

.Import__dropzone {
  margin-bottom: 15px;
}

.Import__h4 {
  margin-bottom: 0px;

  color: $white;

  font-size: 26px;
  font-weight: 400;

  &--margin{
    margin: 10px 30px 0 30px;
  }
}

.Import_paragraph{
  color: $grey;

  font-size: 16px;
  line-height: 2;
}

.Import__label--file-system {
  padding: 0 0 0 3px;

  cursor: pointer;
  text-decoration: underline;

  font-size: 16px;
}

.Import__section--paste{
  position: relative;
}

.Import__add-icon{
  position: absolute;
  top: 35px;
  left: 11px;

  width: 16px;
  height: 16px;

  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;

  border: 0px solid $romanSilver;
  border-radius: 12px;
  background: $green url('~Images/icons/add.svg') no-repeat 50%;
  background-size: 8px;
}

.Import__section--import {
  position: relative;

  width: 100%;
  height: 100%;

  color: $white;
  background: $azure;

  font-size: 18px;
}

.Import__label--file-system {
  color: $white;

  font-size: 18px;
}

input.Import__input--paste{
    left: 25px;

    box-sizing: border-box !important;
    width: 83% !important;
    height: 2.5rem !important;

    color: $azure !important;
    border-radius: 20px !important;
    background: $lightBlue !important;

    font-size: 20px;

    &[type="text"] {
      padding-right: 27% !important;
    }

    &::placeholder {
      color: $azure;
    }
}

/*******************
  buttons
********************/

.btn {

  &--collapse {
    animation: collapse 0.25s linear forwards;
  }

  &--expand {
    cursor: default;
    animation: expand 0.25s linear forwards;
  }

  &--import:hover {
    color: $white;
    background: $tintBlue;
  }
}

.btn--close {
  position: absolute;
  top: 15px !important;
  right: 15px !important;

  cursor: pointer;

  @include close();
}

.Import__btn--go {
  position: absolute;
  top: 10px;
  right: 29px;

  height: 2.1rem;

  border-radius: 20px;
}


@keyframes expand {
  100% {
    top: 0;

    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: -65%;

    color: $white;
    border: none;
    background: $azure;

    font-size: 26px;
  }
}

@keyframes collapse {
  0% {
    top: 0;

    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: -65%;

    color: $white;
    border: none;
    background: $azure;

    font-size: 26px;
  }
}



.Import__buttonContainer {
  button {
    margin: 0 10px;
  }
}

.ImportModule__drop-area-highlight{
  border: 2px dashed $azure;

}

.Import__buttonContainer {
  justify-content: space-between;
  width: 300px;
  display: flex;
  margin-top: 10px;
  align-self: flex-end;
}
