@import '~Styles/_imports.scss';


.CreateBranchButton {
  background: url(~Images/icons/branches/create.svg) no-repeat center center;
  background-size: 25px;

  &:hover, &:focus {
    color: $white;
    background: $primary url(~Images/icons/branches/create-hover.svg) no-repeat center center;
    background-size: 25px;
  }
  &:disabled {
    background: $background-color url(~Images/icons/branches/create-disabled.svg) no-repeat center center;
    background-size: 25px !important;
    border: 1px solid $romanSilver;
    color: $romanSilver;
    cursor: auto;
  }
}
