{
 "presets": [
   "react-app",
   "env"
 ],
 "plugins": [
   "relay",
   "transform-class-properties",
   "@babel/plugin-syntax-dynamic-import",
   [
     "module-resolver",
     {
       "root": [
         "./src",
         "./submodules"
       ],
       "alias": {
         "Mutations": "./src/js/mutations",
         "JS": "./src/js",
         "Components": "./src/js/components",
         "Submodules": "./submodules"
       }
     }
   ]
 ]
}
