@import '~Styles/_imports.scss';

$dropBoxWidth: 250px;

.BranchDropdown {
   position: relative;
   overflow: visible;
   z-index: index($elements, popup) + 1;

   &__btn {
     position: relative;
     padding: 0 0 0 10px;
     height: 40px;
     width: auto;
     max-width: $dropBoxWidth + 100px;
     border: 1px solid $primary;
     cursor: pointer;
     flex-wrap: nowrap;
     align-items: center;
     background: url('~Images/icons/down-arrow-azure.svg') no-repeat calc(100% - 10px) center;
     background-size: 20px;

     @include flex(space-around, row);

     &:hover {
      @include boxShadowDark();
    }

     &--disabled,
     &--disabled:hover,
     &--disabled:focus {
       background: $background-color url(~Images/icons/down-arrow-silver.svg) no-repeat calc(100% - 10px) center !important;
       background-size: 20px !important;
       border: 1px solid $romanSilver;
       color: $romanSilver !important;
       cursor: auto;
       * {
         color: $romanSilver !important;
       }
       .BranchMenu__status{
         pointer-events: none;
       }
     }

     &--open {
       background: url('~Images/icons/up-arrow-azure.svg') no-repeat calc(100% - 10px) center;
       background-size: 20px;
     }
   }

   &__menu {
     position: absolute;
     background: $white;
     top: 40px;
     padding: 10px;
     width: $dropBoxWidth + 50px;
     animation: slide-down-fade-in forwards .25s;
     @include boxShadow();
   }

   &__label {
     color: $primaryText;
     font-size: 14px;
   }

   &__text {
     margin: 0 0 0 5px;
     color: $primary;
     font-size: 18px;
     max-width: 220px;
   }


   &__other-text{
     font-size: 12px;
     padding: 5px 0;
     color: $primaryText;
   }


   &__container {
     width: 100%;
     text-align: center;
   }


   &__name {
     line-height: 19px;
     text-align: end;
     @include flex(flex-start, row);

     &--switching {
       max-width: calc(100% - 80px);
     }

     .BranchDropdown__label{
       align-self: flex-end;
     }

     .BranchDropdown__text{
       white-space: nowrap;
       text-overflow: ellipsis;
       word-break: break-all;
       overflow: hidden;
     }
   }
}




@media screen and (max-width: 1060px) and (min-width: 0px) {
  .BranchDropdown__btn {
    max-width: 260px;
  }

  .BranchDropdown__text {
    width: 110px;
  }
}

@media screen and (max-width: 980px) and (min-width: 0px) {
  .BranchDropdown__btn {
    max-width: 230px;
  }

  .BranchDropdown__text {
    width: 80px;
  }
}
