@import '~Styles/_imports.scss';


.CollaboratorsModal__add {
  position: relative;
  @include flex(flex-start, row);
  button {
     margin: 0 0 0 20px;

     width: 35px;
     height: 35px;

     cursor: pointer;

     border: none;
     background: $white url('~Images/icons/plus-big.svg');
     background-size: 35px;
  }
}

.CollaboratorsModal__h5 {
  margin: 10px 0;
}

.CollaboratorsModal__container {
  padding: 20px 100px;
}

.CollaboratorsModal__btn--add {
  align-self: center;

  width: 100px;
  height: 30px;
  padding: 0;
}


.CollaboratorsModal__input--collaborators[type="text"] {
  width: 480px !important;

  font-size: 24px !important;
  margin: 5px 15px 5px  0 !important;
}


.CollaboratorsModal__collaborators {
  padding: 15px 0 15px 15px;
}


.CollaboratorsModal__listContainer {
  height: 230px;
  flex-wrap: wrap;
  padding: 0 0 0 13px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  border: 1px solid $background-color;
  .CollaboratorsModal__list {
    flex-wrap: wrap;
    width: 100%;
    padding: 0 13px;

    @include flex(flex-start, column);
  }
}

.CollaboratorsModal__list {
  flex-wrap: wrap !important;
  padding: 0 13px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row !important;

  height: 100%;
  &--overflow {
    overflow: hidden visible !important;
  }
}

.CollaboratorsModal__btn {
    position: absolute;
    right: 0;
    bottom: 3px;

    width: 25px;
    height: 25px;
    padding: 0;

    cursor: pointer;

    border: none;
    background: $white url('~Images/icons/x-close-azure.svg');
    background-size: 25px;

    &:hover,
    &:focus {
      border: 0;
      background: $white url('~Images/icons/x-close-turquise.svg');
      background-size: 25px;
    }

    &:disabled,
    &:disabled:hover {
      cursor: default;

      border: 0;
      background: $white url('~Images/icons/x-close.svg');
      background-size: 25px;
    }

    &--add {
      z-index: index($elements, modal);

      overflow: visible;
      align-self: center;

      width: 100px;
      height: 30px;
      max-height: 40px;
      padding: 0;

      &:hover {
        background: $white url('~Images/icons/plus-big-turquise.svg');
        background-size: 35px;
      }

      &:disabled,
      &:disabled:hover {
        cursor: default;

        background: $white url('~Images/icons/plus-big-gray.svg');
        background-size: 35px;
      }
    }
}

.CollaboratorsModal__listItem{
  padding: 7.5px 10px;

  cursor: pointer;

  border-bottom: 1px solid $romanSilver;

  @include flex(flex-start, row);

  &--selected {
    color: $slateBlue;
  }

  &:last-child {
    border: 0;
  }

  &:hover {
    color: $turquise;
  }

  &--username {
      font-weight: bold;
  }

  &--username,
  &--name {
     width: 50%;
  }
}


.CollaboratorsModal__item {
  position: relative;
  @include flex(space-between, row);

  width: calc(50% - 33px);
  margin: 18px 25px 13px 0;
  padding: 0 40px 0 10px;
  max-height: 30px;
  border-bottom: 1px solid $lightGrey;

  &--me {
    order: 99999;
  }
}

.CollaboratorsModal__auto-compelte-menu {
  position: absolute;
  z-index: 1;
  top: 52px;
  left: 0px;

  width: 100%;
  height: auto;

  transition: 0.25s all;

  opacity: 0;
  border: 1px solid $background-color;
  border-radius: 8px;
  background: $white;

  &--visible{
    opacity: 1;
  }

  .CollaboratorsModal__list{
    flex-direction: column !important;
  }
}

.CollaboratorModal__PermissionsSelector{
  display: inline-block;

  width: 200px;

  cursor: pointer;
  user-select: none;

  &--open{
    background: url('~Images/icons/up-arrow-silver.svg') no-repeat right;
    background-size: 15px;
  }

  &--collapsed{
    background: url('~Images/icons/down-arrow-silver.svg') no-repeat right;
    background-size: 15px;
  }
  &--individual {
    width: 63px;
    border: none;
    font-size: 14px;
  }
  &--disabled {
    background: none;
    cursor: auto;
  }
}

.CollaboratorModal__PermissionsMenu{
  animation: slide-down-fade-in forwards .25s;
  padding: 3px;
  position: absolute;
  z-index: index($elements, popup);

  width: 250px;

  cursor: pointer;
  text-align: left;

  border: 1px solid $grey;
  background: $white;

  li {
    height: 70px;
    padding: 5px !important;
    padding-top: 2px;

    user-select: none;

    border-bottom: 1px solid $grey;

    &:last-child{
      border-bottom: none;
    }

    &:hover {
      transition: background-color 0.25s ease-in-out;

      background: $azure;
      color: $white;
    }
  }
  &--individual{
    left: -150px;
    padding: 0 !important;
  }
}

.CollaboratorsModal__permissions-header{
  font-weight: bold;
}
.CollaboratorsModal__permissions-subtext{
  font-size: 14px;
}
.CollaboratorsModal__permissions{
  align-self: flex-end;
  margin: 5px 0;
  position: relative;
  &--individual {
    margin: 0;
  }
}

.CollaboratorsModal__message{
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.CollaboratorsModal__collaboratorName{
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
}
