@import '~Styles/_imports.scss';


.CollaboratorsModal__add {
  position: relative;

  button {
     position: absolute;
     top: 12px;
     right: 5px;

     width: 35px;
     height: 35px;

     cursor: pointer;

     border: none;
     background: $white url('~Images/icons/plus-big.svg');
     background-size: 35px;
  }
}

.CollaboratorsModal__h5 {
  margin: 10px 0;
}

.CollaboratorsModal__container {
  padding: 20px 100px;
}

.CollaboratorsModal__btn--add {
  align-self: center;

  width: 100px;
  height: 30px;
  padding: 0;
}


.CollaboratorsModal__input--collaborators[type="text"] {
  width: 300px !important;

  border-bottom: 1px solid $background-color  !important;

  font-size: 24px !important;
}


.CollaboratorsModal__collaborators {
  padding: 15px;
}


.CollaboratorsModal__listContainer {
  height: 200px;

  border: 1px solid $background-color;
  ul {
    overflow: auto;
    flex-wrap: wrap;

    padding: 0 13px;

    @include flex(flex-start, column);
  }
}

.CollaboratorsModal__list {
  overflow: auto;

  height: 100%;
}

.CollaboratorsModal__btn {
    position: absolute;
    right: 0;
    bottom: 3px;

    width: 25px;
    height: 25px;
    padding: 0;

    cursor: pointer;

    border: none;
    background: $white url('~Images/icons/x-close-azure.svg');
    background-size: 25px;

    &:hover,
    &:focus {
      border: 0;
      background: $white url('~Images/icons/x-close-turquise.svg');
      background-size: 25px;
    }

    &:disabled,
    &:disabled:hover {
      cursor: default;

      border: 0;
      background: $white url('~Images/icons/x-close.svg');
      background-size: 25px;
    }

    &--add {
      z-index: index($elements, modal);

      overflow: visible;
      align-self: center;

      width: 100px;
      height: 30px;
      max-height: 40px;
      padding: 0;

      &:hover {
        background: $white url('~Images/icons/plus-big-turquise.svg');
        background-size: 35px;
      }

      &:disabled,
      &:disabled:hover {
        cursor: default;

        background: $white url('~Images/icons/plus-big-gray.svg');
        background-size: 35px;
      }
    }
}

.CollaboratorsModal__list {
  margin: 0 20px;

}

.CollaboratorsModal__listItem{
  padding: 7.5px 10px;

  cursor: pointer;

  border-bottom: 1px solid $romanSilver;

  @include flex(flex-start, row);

  &--selected {
    color: $slateBlue;
  }

  &:last-child {
    border: 0;
  }

  &:hover {
    color: $turquise;
  }

  &--username {
      font-weight: bold;
  }

  &--username,
  &--name {
     width: 50%;
  }
}


.CollaboratorsModal__item {
  position: relative;

  width: calc(33% - 33px);
  margin: 18px 25px 13px 0;
  padding: 0 10px;

  border-bottom: 1px solid $lightGrey;

  &--me {
    order: 99999;
  }
}

.CollaboratorsModal__auto-compelte-menu {
  position: absolute;
  z-index: 1;
  top: 52px;
  left: 0px;

  width: 100%;
  height: auto;

  transition: 0.25s all;

  opacity: 0;
  border: 1px solid $background-color;
  border-radius: 8px;
  background: $white;

  &--visible{
    opacity: 1;
  }
}
