$footerElements: basic, progressBar, status, section, message, button;

.Footer__container {
    position: relative;
}

.Footer {
    position: fixed;
    z-index: index($elements, footer);
    right: 0;
    bottom: 0;
    left: $sideBarWidth;

    transition: height 0.5s;

    color: $white;
    //background-color: $slateBlue;

    font-weight: 100;

    @include flex(space-between, column);
}

.Footer * {
    font-weight: 400;
}

.Footer__disc-button {
    position: fixed;
    z-index: index($elements, helper);
    right: 95px;
    bottom: 25px;

    width: 60px;
    height: 60px;

    cursor: pointer;
    transition: all 0.25s;
    border-radius: 50%;
    background: $azure url(../images/icons/notifications/notification.svg) no-repeat center center;
    background-size: 60px;
    @extend .box-shadow;
}

.Footer__dist-button--side-view{
  bottom: 80px;
  width: 40px;
  height: 40px;
  border-radius: 20px 0 0 20px;
  right: 0px;
  transition: bottom 0.25s;
  background: $azure url(../images/icons/notifications/notification-simple.svg) no-repeat center center;
  background-size: 26px;
}

.Footer__disc-button.Footer__disc-button--helper-open{
  right: 240px;
}

.Footer__dist-button--side-view.Footer__disc-button--helper-open{

  right: 0px;
  bottom: 295px;
}

.Footer__disc-button--helper-open.Footer__disc-button--open{
  right: 240px;
}

.Footer__disc-button--open {
    position: absolute;
    top: -20px;
    right: 80px;

    width: 40px;
    height: 40px;

    background: $azure url(../images/icons/notifications/notification-close.svg) no-repeat center center;
    background-size: 40px;
    border-radius: 50%;

}

.Footer__disc-button--bottom{
  bottom: 50px;
}




.Footer--expand {
  height: auto;
}

.Footer--expand-extra {
    max-height: 240px !important;
}




.Footer--error {
    color: $white;
}


.Footer__status--error {
    background-color: $crimson;
}

.Footer__status--warning {
    color: $jet;
    background-color: $goldenLemon;
}



.Footer__button {
    position: absolute;
    z-index: index($footerElements, button);
    top: 5px;
    right: 10px;

    height: 30px;

    color: $white;
    border: 1px solid $white;
    border-radius: 20px;
    background-color: $azure !important;

    line-height: 10px;
}

.Footer__button--cancel {

}

.Footer__button:hover {
    color: $jet ;
    background-color: $white !important;
}

.Footer__message {
    flex: 1;

    color: $white;
}

.Footer__message-icon{
  background: url(../images/icons/notifications/info-exclamation.svg) no-repeat center center;
  background-size: 26px;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  transform: rotate(180deg);
  align-self: center;
  flex: 0 1 22px;
  min-height: 22px;
  min-width: 22px;
}
.Footer__message--error{
  .Footer__message-icon{
    background: $crimson url(../images/icons/notifications/info-exclamation.svg) no-repeat center center;
    background-size: 26px;
    transform: rotate(0deg);
  }
}
.Footer__message--warning{
  .Footer__message-icon{
    background: $goldenLemon url(../images/icons/notifications/info-exclamation.svg) no-repeat center center;
    background-size: 26px;
    transform: rotate(0deg);
  }
}
