
.Footer__upload-message {
  position: absolute;
  z-index: index($footerElements, message);

  width: 100%;
  height: 100%;

  text-align: center;

  line-height: 42px;

}


.Footer__close {
  position: absolute;
  right: 10px;
  bottom: 0px;

  width: 40px;
  height: 40px;

  cursor: pointer;

  background: url('../images/icons/close-white.svg') no-repeat center center;
  background-size: 16px;

  z-index: 8;
}

.Footer__close:hover {
  background: url('../images/icons/close-turquise.svg') no-repeat center center;
  background-size: 16px;
}

.Footer__upload-status {
  position: relative;

  width: 100%;
  height: 40px;

  text-align: center;
  background: $grey;
}

.Footer__upload-error {
  //background-color: $crimson;
  .Footer__progress-bar {
    @extend .hidden;
  }
}

.Footer__progress-bar {
  position: absolute;
  z-index: index($footerElements, progressBar);
  top: 0;
  left: 0;

  width: 0%;
  height: 100%;

  transition: width 1s, opacity 1s;

  color: $white !important;
  background-color: $turquise;
}

.Footer__progress-bar__error {
  background-color: $crimson;
}
