.FileEmpty {
    margin: 0.5rem 0 1rem 0;
    border: 1px dashed $romanSilver;
    width: 100%;
    height: 200px;
    text-align: center;
    color: $romanSilver;
}

.FileEmpty__container {
    line-height: 6px;
    margin-top: 50px;
    padding-top: 40px;
}

.FileEmpty__container--code{
  background: url(../images/icons/code-grey.svg) no-repeat 50% 5px;
  background-size: 30px;
}

.FileEmpty__container--inputData{
  background: url(../images/icons/data-input-grey.svg) no-repeat 50% 5px;
  background-size: 30px;
}

.FileEmpty__container--outputData{
  background: url(../images/icons/data-output-grey.svg) no-repeat 50% 5px;
  background-size: 30px;
}
.FileEmpty__container--edit{
    background: url(../images/icons/edit.svg) no-repeat 50% 5px;
    background-size: 30px;
  }

.FileEmpty__main-text {
    font-size: 18px;
}

.FileEmpty__sub-text {
    font-size: 15px;
    text-decoration: underline;
}
.FileEmpty__sub-text:hover {
    color: $turquise;
    cursor: pointer;
}