@import '~Styles/_imports.scss';

.LocalDatasets {
  width: auto;
  min-width: 760px;
  max-width: 1285px;
  height: 100%;
  margin: auto;
  padding: 0 25px;
}

.LocalDatasets__title {
  position: relative;

  width: 280px;
  margin: 20px 0px;
  padding: 0;

  cursor: pointer;

  color: $jet;
}

.LocalDatasets__username {
  margin: 20px 0 10px 0;
  padding: 0;
}
