@import '~Styles/_imports.scss';

.Code {
  width: 100%;
  position: relative;
  text-align: center;

  padding: 20px 0 100px;

  .fa {
    font-family: FontAwesome !important;
  }
}

.Code--uploading {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(254, 254, 254, 0.8);
  justify-content: center;
  align-items: center;
  color: $jet;
}

.Code__files {

  width: 100%;
}

.Code__header {
  line-height: 20px;
  @include flex(space-between, row);
}

.Code__toolbar {
  align-self: center;
  flex: 0 1 auto;
  @include flex(space-between, row);
}

.Code__filter {
  margin: 0 10px;
}

.Code__filter:nth-last-child(1) {
  margin: 0 0 0 10px;
}

.Code__filter,
.Code__import-text,
.Code__import-file {
  cursor: pointer;

  color: $romanSilver;
}

.Code__import-text {
  align-self: right;
}

.Code__import-file {
  padding-right: 3px;
  font-size: 16px;
  text-decoration: underline;
}

.Code__filter:hover,
.Code__import-file:hover {
  color: $jet;
}

.Code__filter--selected {
  color: $jet;
}

.Code__file-browser {
  margin: 30px 0 0 0;
  padding: 10px 15px;

  background-color: $white;
  @include boxShadow();
}

.Code__subtitle {
  text-align: left;
  color: $romanSilver;
  font-weight: 100;
  position: relative;
}

.Code__subtitle-sub {
  text-align: left;
  color: $romanSilver;
  margin-top: 0;
}

.Code__toolbar.end {
  align-self: flex-end;
}

.Code__loading {
  width: 30px;
  height: 30px;
  border: 3px solid $grey;
  border-top: 3px solid $turquise;
  border-radius: 50%;
  position: absolute;
  margin-left: 200px;
  margin-top: 20px;
  animation: spin 2s linear infinite;
  bottom: 0;
}

.Code__loading--browser {
  width: 30px;
  height: 30px;
  border: 3px solid $grey;
  border-top: 3px solid $turquise;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: -5px;
  animation: spin 2s linear infinite;
}


.Code {
  .FileBrowser__icon {
    margin: 0 5px 0 0;
  }

  .action-bar {
    flex-direction: space-between;


    input[type='search'] {
      height: 50px;
      margin-right: 20px;

      border-color: $lightGrey;
      border-radius: 15px !important;
    }

    input[type='search']:focus {
      border-color: $turquise;
      border-bottom: 1px solid $turquise;
      box-shadow: 0 1px 0 0 $turquise;
    }

    .btn {
      padding: 0 10px;

      color: $jet;
      background-color: initial;
      box-shadow: none;
    }

    .btn:hover {
      color: $romanSilver;
    }
  }

  .files {
    .file.selected, .folder.selected {
      background: $lightGrey;
    }

    th {
      color: $jet;
    }
  }

  .item-actions {
    min-height: 60px;
    margin-left: 25px;
    padding: 10px;

    border-radius: 15px;
    background-color: $lightGrey;

    li {
      margin: 10px 0 !important;
    }
  }
}
.Code__tracked-container {
  @include flex(flex-end, row);
}
.Code__tracked {
  padding: 3px 5px;
  background-color: $lightGrey;
  color: $romanSilver;
}
