@import '~Styles/_imports.scss';

.Favorite__list {
  position: relative;
}


/* Standard syntax */
@keyframes fluxuateLoad {
    0% {
      opacity: 0.1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0.1;
    }

}
.Favorite__card {
  cursor: grab;
  &--opaque {
    opacity: 0.1;
    animation: fluxuateLoad 3s infinite;
  }
  &--hidden{
    opacity: 0;
  }

  &--dragging {
    cursor: grabbing;
  }
}

.Favorite__card--opaque {
  opacity: 0.1;
  animation: fluxuateLoad 3s infinite;
}

.Favorite__card,
.Favorite__card--opaque {

  height: 120px;
  position: relative;
  text-align: left;
  padding: 10px;

  P {
    font-size: 14px;
    padding: 2px 0;
  }
}

.Favorite__edit-button {
  font-weight: light;
  color: $romanSilver;
  font-size: 14px;
  height: 30px;
  width: 30px;
  padding: 5px;
  position: absolute;
  bottom: 1px;
  right: 10px;

  &:hover{
    background: url('~Images/icons/edit.svg') no-repeat center center;
    background-size: 26px;
    border: 0px;
  }

  &,
  &:focus{
    background: url('~Images/icons/edit.svg') no-repeat center center;
    background-size: 22px;
    border: 0px;
  }

}

.Favorite__description{
  width: calc(100% - 40px);
}
.Favorite__description-section{
  height: 60px;
  word-break: break-all;
  overflow: hidden;
    p{
      margin: 0;
    }
}

.Favorite__description-editor {
  resize: none;
  padding: 0 5px;
  line-height: 20px;
  height: 50px;
  width: calc(100% - 50px);
  max-width: calc(100% - 50px);
  overflow: hidden;
}


.Favorite__description-filler {
  background-color: #fff;
  line-height: 30px;
  height: 40px;
  background: linear-gradient(#eee 0.1em, transparent 0.1em) repeat 30px 34px;
  background-size: 100% 38px;
  color: $romanSilver;
}

.Favorite__path-section{
  height: 28px;
  .Favorite__path{
    margin: 0;
  }
}

.Favorite__card-header {
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  color: $slateBlue;
  word-break: break-all;
  max-width: 300px;
}

.Favorite__star {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.Favorite__star,
.Favorite__star--file {
  height: 30px;
  width: 30px;

  background: url('~Images/icons/star__on.svg') no-repeat center center;
  background-size: 24px;
}

.Favorite__star--off {
  @extend .Favorite__star;
}

.Favorite__star--off,
.Favorite__star--empty{
  height: 30px;
  width: 30px;

  background: url('~Images/icons/star__off.svg') no-repeat center center;
  background-size: 24px;
}


.Favorite__star:hover {
  background-size: 34px;
}

.Favorite__load-more {
  position: absolute;
  top: -31px;
}

.Favorite__load-more,
.Favorite__action-bar--loading,
.Favorite__load-more:hover,
.Favorite__load-more:focus {
  background: none;
  color: $slateBlue;
  border: 0px;
}

.Favorite__load-more:hover {
  color: $turquise;
}

.Favorite__action-bar,
.Favorite__action-bar--loading {
  margin: 30px 0 15px;
  position: relative;
  display: flex;
  justify-content: center;
}


/* Standard syntax */
@keyframes loadingBar {
    0% {background-color: $slateBlue;}
    50% {background-color: $turquise;}
    100% {background-color: $slateBlue;}
}
@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position-y: 0% 50%;
	}
}

.Favorite__action-bar:after {
  border-top: 1px solid $slateBlue;
  content:"";
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 0.5em;
  z-index: -1;
  text-align: center;
  width: calc(50% - 50px);

}


.Favorite__action-bar:before {
  border-top: 1px solid $slateBlue;
  content:"";
  position: absolute;
  bottom: 3px;
  right: 0;
  height: 0.5em;
  z-index: -1;
  text-align: center;
  width: calc(50% - 50px);

}
.Favorite__action-bar:hover:after,
.Favorite__action-bar:hover:before {
  border-top: 1px solid $turquise;
}


.Favorite__action-bar--loading:after {
  border-top: 0px solid $lightGrey;
  content:"";
  position: absolute;
  bottom: 8px;
  left: 0;
  height: 1px;
  z-index: -1;
  text-align: center;
  width: calc(50% - 50px);
  background: linear-gradient(-45deg, $slateBlue, $turquise, $goldenLemon);
  background-size: 200% 200%;
  animation: Gradient 7s ease infinite;
}


.Favorite__action-bar--loading:before {
  border-top: 0px solid $lightGrey;
  content:"";
  position: absolute;
  bottom: 8px;
  right: 0;
  height: 1px;
  z-index: -1;
  text-align: center;
  width: calc(50% - 50px);
  background: linear-gradient(45deg, $goldenLemon, $turquise, $slateBlue);
  background-size: 200% 200%;
  animation: Gradient 7s ease infinite;
}

.Favorite__mask {
  position: absolute;

  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.Favorite__none {
  align-items: center;
  height: 152px;
}
.Favorite__icon {
  &--star {
    background: url(~Images/icons/star__off.svg) no-repeat center center;
    background-size: 30px;
    margin: 0 0 5px 0;
    height: 26px;
    width: 40px;
  }
}

.Favorite__p {
  color: $jet;
  padding: 0;
  margin: 2px 0;
}

@media screen and (max-width: 50000px) and (min-width: 1235px) {
  .Favorite__card-wrapper {
    min-width: 33%;
    width: 33%;
    max-width: 33%;
  }

  .Favorite__card-wrapper:nth-child(3n+1) {
    @include flex(flex-start, row);
  }

  .Favorite__card-wrapper:nth-child(3n+2) {
    @include flex(center, row);
  }

  .Favorite__card-wrapper:nth-child(3n+3) {
    @include flex(flex-end, row);
  }
}


@media screen and (max-width: 1239px) and (min-width: 960px) {
  .Favorite__card-wrapper {
    min-width: 50%;
    width: 50%;
    max-width: 50%;
  }

  .Favorite__card-wrapper:nth-child(2n+1) {
    @include flex(flex-start, row);
  }

  .Favorite__card-wrapper:nth-child(2n+2) {
    @include flex(flex-end, row);
  }
}
@media screen and (max-width: 1179px) and (min-width: 0px) {
  .Favorite__card-wrapper {
    min-width: 50%;
    width: 50%;
    max-width: 50%;
  }
  .Favorite__card-wrapper:nth-child(2n+0) {
    @include flex(flex-end, row);
  }

  .Favorite__card-wrapper:nth-child(2n+1) {
    @include flex(left, row);
  }
}

@media screen and (max-width: 1440px) and (min-width: 1130px) {
  .Labbook--detail-mode {
    .Favorite__card-wrapper {
      min-width: 50%;
      width: 50%;
      max-width: 50%;
    }

    .Favorite__card-wrapper:nth-child(2n+0) {
      @include flex(flex-end, row);
    }

    .Favorite__card-wrapper:nth-child(2n+1) {
      @include flex(left, row);
    }
  }
}
@media screen and (max-width: 1229px) and (min-width: 0px) {
  .Labbook--detail-mode {
    .Favorite__card-wrapper {
      min-width: 100%;
      width: 100%;
      max-width: 100%;
    }

    .Favorite__card-wrapper {
      @include flex(space-around, row);
    }
  }
}
